node-red/.flows.json.backup
[{"id":"1db31519.a4386b","type":"tab","label":"Cameras","disabled":false,"info":""},{"id":"e8cdc7cf.2d3ff8","type":"tab","label":"Examples","disabled":false,"info":""},{"id":"a0b16544.5f71f8","type":"tab","label":"Alexa","disabled":false,"info":""},{"id":"52aab07a.c206e","type":"tab","label":"Lighting","disabled":false,"info":""},{"id":"482170a5.4c83a","type":"tab","label":"Doors & Presence","disabled":false,"info":""},{"id":"a78dc037.004f6","type":"tab","label":"Actionable Notifications","disabled":false,"info":""},{"id":"fb29d64d.c2e7f8","type":"tab","label":"Announcements","disabled":false,"info":""},{"id":"3e0f1845.f31c98","type":"subflow","name":"Camera Mobile Notification","info":"","category":"","in":[{"x":20,"y":120,"wires":[{"id":"8da7edec.e8a7c"},{"id":"752e99c4.f13038"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"4592304b.99494","type":"subflow","name":"Zoneminder Image URL","info":"","category":"","in":[{"x":40,"y":120,"wires":[{"id":"dcd56669.3b7748"}]}],"out":[{"x":380,"y":200,"wires":[{"id":"4adc991e.989ea8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"16e3accd.e4a563","type":"subflow","name":"Camera Voice Notification Old","info":"","category":"","in":[{"x":40,"y":140,"wires":[{"id":"25c1fb16.264d34"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"604fe48d.66acdc","type":"subflow","name":"Cameras on Tablet Screens","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"65b693e5.d6605c"},{"id":"4466b031.1e634"},{"id":"2ea8327d.091e0e"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"73910996.81aab8","type":"subflow","name":"Voice Notification via Alexa","info":"","category":"","in":[{"x":40,"y":180,"wires":[{"id":"1f9fd42b.24237c"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"f1b31fe9.eb62a","type":"subflow","name":"Voice Notification via Cloud Say","info":"","category":"","in":[{"x":40,"y":120,"wires":[{"id":"ecb81445.faf2e8"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"6acb74dc.b68e4c","type":"subflow","name":"Camera Voice Notification","info":"","category":"","in":[{"x":40,"y":140,"wires":[{"id":"15ce6e55.0851d2"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"d70513fd.32139","type":"server","name":"Home Assistant","addon":true},{"id":"181eebe1.203a74","type":"mqtt-broker","name":"HA","broker":"192.168.1.16","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e74a0da6.41009","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"24975ac8.2d8616","type":"alexa-remote-account","name":"My Alexa","authMethod":"proxy","proxyOwnIp":"192.168.1.16","proxyPort":"3456","cookieFile":"","refreshInterval":"3","alexaServiceHost":"pitangui.amazon.com","amazonPage":"amazon.com","acceptLanguage":"en-US","userAgent":"","useWsMqtt":"on","autoInit":"on"},{"id":"17362ae3.584025","type":"alexa-remote-account","name":"My Alexa Cookie","authMethod":"cookie","proxyOwnIp":"localhost","proxyPort":"3456","cookieFile":"","refreshInterval":"3","alexaServiceHost":"pitangui.amazon.com","amazonPage":"amazon.com","acceptLanguage":"en-US","userAgent":"","useWsMqtt":"on","autoInit":"on"},{"id":"be724ec6.1fa79","type":"mqtt in","z":"1db31519.a4386b","name":"Camera Driveway MQTT","topic":"zoneminder/1","qos":"0","datatype":"json","broker":"181eebe1.203a74","x":130,"y":40,"wires":[["124d0506.5a588b"]]},{"id":"22a210d5.64e18","type":"api-call-service","z":"3e0f1845.f31c98","name":"Camera Mobile Notification","server":"d70513fd.32139","version":1,"debugenabled":false,"service_domain":"notify","service":"family_all_mobile","entityId":"","data":"{\"title\":\"Motion Detected\",\"message\":\"{{payload.message}}\",\"data\":{\"sticky\":\"true\",\"push\":{\"category\":\"camera_motion_snooze\"},\"attachment\":{\"url\":\"https://castlewalk.rohanamin.com:8443/zm/index.php?view=image&eid={{payload.eventid}}&fid=objdetect&width=600&token={{payload.token}}\",\"content-type\":\"jpg\",\"hide-thumbnail\":\"false\"}}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":600,"y":100,"wires":[[]]},{"id":"db80081e.067b18","type":"subflow:3e0f1845.f31c98","z":"1db31519.a4386b","name":"Camera Mobile Notification","env":[],"x":1500,"y":140,"wires":[]},{"id":"8da7edec.e8a7c","type":"change","z":"3e0f1845.f31c98","name":"Process MQTT","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"message\" : msg.payload.name,\t    \"eventid\" : msg.payload.eventid\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":100,"wires":[["8448da47.e8d4f8"]]},{"id":"28458a47.6a96f6","type":"mqtt in","z":"1db31519.a4386b","name":"Camera Pool MQTT","topic":"zoneminder/2","qos":"0","datatype":"json","broker":"181eebe1.203a74","x":110,"y":100,"wires":[["7820ec4a.4a5d54"]]},{"id":"bbba7c38.a63e2","type":"mqtt in","z":"1db31519.a4386b","name":"Camera Back Path MQTT","topic":"zoneminder/3","qos":"0","datatype":"json","broker":"181eebe1.203a74","x":130,"y":160,"wires":[["9af3cc3f.3a2fe"]]},{"id":"6b831815.a4db58","type":"mqtt in","z":"1db31519.a4386b","name":"Camera Front Door MQTT","topic":"zoneminder/4","qos":"0","datatype":"json","broker":"181eebe1.203a74","x":130,"y":220,"wires":[["60f3bdf4.07d7a4"]]},{"id":"ec2b982c.266b78","type":"mqtt in","z":"1db31519.a4386b","name":"Camera Basement MQTT","topic":"zoneminder/5","qos":"0","datatype":"json","broker":"181eebe1.203a74","x":130,"y":280,"wires":[["c9e7fa68.060568"]]},{"id":"6074063c.9bb8c8","type":"mqtt in","z":"1db31519.a4386b","name":"Camera Deck MQTT","topic":"zoneminder/6","qos":"0","datatype":"json","broker":"181eebe1.203a74","x":110,"y":340,"wires":[["453c821c.0f13fc"]]},{"id":"165d02f2.721ffd","type":"mqtt in","z":"1db31519.a4386b","name":"Camera Back Patio MQTT","topic":"zoneminder/7","qos":"0","datatype":"json","broker":"181eebe1.203a74","x":130,"y":400,"wires":[["c527d403.0f5918"]]},{"id":"1799fb39.e20835","type":"mqtt in","z":"1db31519.a4386b","name":"Camera Living Room MQTT","topic":"zoneminder/8","qos":"0","datatype":"json","broker":"181eebe1.203a74","x":140,"y":460,"wires":[["a2720002.fc9e9"]]},{"id":"7e611fba.3dab3","type":"inject","z":"e8cdc7cf.2d3ff8","name":"","repeat":"60","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":110,"y":100,"wires":[["7b163fdb.fa438"]]},{"id":"c46be13.56f2e2","type":"http request","z":"e8cdc7cf.2d3ff8","name":"Post Login","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://{{zmip}}/zm/api/host/login.json","tls":"e74a0da6.41009","persist":false,"proxy":"","authType":"","x":130,"y":200,"wires":[["66dd393d.691f58","f4ddde9e.a19d5"]]},{"id":"f4fc0507.6482b8","type":"function","z":"e8cdc7cf.2d3ff8","name":"set login headers","func":"msg.payload = \"user=\"+msg.zmuser+\"&pass=\"+msg.zmpass;\nmsg.headers = {};\nmsg.headers['Accept'] = 'text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8';\nmsg.headers['Accept-Encoding'] = 'gzip, deflate';\nmsg.headers['Accept-Language'] = 'en-GB,en;q=0.5';\nmsg.headers['Connection'] = 'keep-alive';\nmsg.headers['Content-type'] = 'application/x-www-form-urlencoded';\nmsg.headers['Cookie'] = 'zmSkin=classic; zmCSS=classic;';\nmsg.headers['Host'] = msg.zmip;\nmsg.headers['Referer'] = \"http://\"+msg.zmip+\"/zm/\";\nmsg.headers['Upgrade-Insecure-Requests'] = '1';\nmsg.headers['User-Agent'] = 'node-red';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":100,"wires":[["c46be13.56f2e2"]]},{"id":"66dd393d.691f58","type":"json","z":"e8cdc7cf.2d3ff8","name":"","property":"payload","action":"obj","pretty":false,"x":310,"y":200,"wires":[["5d9fdfa0.1fb57"]]},{"id":"5d9fdfa0.1fb57","type":"change","z":"e8cdc7cf.2d3ff8","name":"Set Token","rules":[{"t":"set","p":"token","pt":"msg","to":"payload.access_token","tot":"msg"},{"t":"set","p":"auth","pt":"msg","to":"payload.auth","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":200,"wires":[["8f5c5168.adf8a"]]},{"id":"8f5c5168.adf8a","type":"http request","z":"e8cdc7cf.2d3ff8","name":"Post Request","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://{{zmip}}/zm/api/events/consoleEvents/1%20hour.json?token={{token}}","tls":"e74a0da6.41009","persist":false,"proxy":"","authType":"","x":640,"y":200,"wires":[["f4ddde9e.a19d5","634a0d23.3a5644"]]},{"id":"f4ddde9e.a19d5","type":"switch","z":"e8cdc7cf.2d3ff8","name":"If No Response","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":400,"y":300,"wires":[["ac6d255b.3da638"]]},{"id":"ac6d255b.3da638","type":"change","z":"e8cdc7cf.2d3ff8","name":"API Error","rules":[{"t":"set","p":"payload","pt":"msg","to":"ZM API Error","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":300,"wires":[[]]},{"id":"634a0d23.3a5644","type":"json","z":"e8cdc7cf.2d3ff8","name":"","property":"payload","action":"obj","pretty":false,"x":830,"y":200,"wires":[[]]},{"id":"bc3f77c3.cd7548","type":"comment","z":"e8cdc7cf.2d3ff8","name":"Change Post Login/Request if using https","info":"","x":220,"y":40,"wires":[]},{"id":"65d180d6.20fb2","type":"comment","z":"e8cdc7cf.2d3ff8","name":"Change Post Request to whatever you want from the API","info":"Currently set to get number of events in the last hour for all monitors but can be set to whatever you want.","x":610,"y":40,"wires":[]},{"id":"7b163fdb.fa438","type":"credentials","z":"e8cdc7cf.2d3ff8","name":"Zoneminder Credentials","props":[{"value":"zmip","type":"msg"},{"value":"zmuser","type":"msg"},{"value":"zmpass","type":"msg"}],"x":330,"y":100,"wires":[["f4fc0507.6482b8"]]},{"id":"dcd56669.3b7748","type":"credentials","z":"4592304b.99494","name":"Zoneminder Credentials","props":[{"value":"zmip","type":"msg"},{"value":"zmuser","type":"msg"},{"value":"zmpass","type":"msg"}],"x":190,"y":120,"wires":[["1e612a7.c38c7d6"]]},{"id":"1e612a7.c38c7d6","type":"function","z":"4592304b.99494","name":"set login headers","func":"msg.payload = \"user=\"+msg.zmuser+\"&pass=\"+msg.zmpass;\nmsg.headers = {};\nmsg.headers['Accept'] = 'text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8';\nmsg.headers['Accept-Encoding'] = 'gzip, deflate';\nmsg.headers['Accept-Language'] = 'en-GB,en;q=0.5';\nmsg.headers['Connection'] = 'keep-alive';\nmsg.headers['Content-type'] = 'application/x-www-form-urlencoded';\nmsg.headers['Cookie'] = 'zmSkin=classic; zmCSS=classic;';\nmsg.headers['Host'] = msg.zmip;\nmsg.headers['Referer'] = \"http://\"+msg.zmip+\"/zm/\";\nmsg.headers['Upgrade-Insecure-Requests'] = '1';\nmsg.headers['User-Agent'] = 'node-red';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":120,"wires":[["2b15ab3f.4ea464"]]},{"id":"2b15ab3f.4ea464","type":"http request","z":"4592304b.99494","name":"Post ZM Login","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://{{zmip}}/zm/api/host/login.json","tls":"e74a0da6.41009","persist":false,"proxy":"","authType":"","x":640,"y":120,"wires":[["a788325.f700ad"]]},{"id":"a788325.f700ad","type":"json","z":"4592304b.99494","name":"","property":"payload","action":"obj","pretty":false,"x":90,"y":200,"wires":[["4adc991e.989ea8"]]},{"id":"4adc991e.989ea8","type":"change","z":"4592304b.99494","name":"Set Token","rules":[{"t":"set","p":"payload.token","pt":"msg","to":"payload.access_token","tot":"msg"},{"t":"delete","p":"payload.credentials","pt":"msg"},{"t":"delete","p":"payload.version","pt":"msg"},{"t":"delete","p":"payload.apiversion","pt":"msg"},{"t":"delete","p":"payload.refresh_token_expires","pt":"msg"},{"t":"delete","p":"payload.refresh_token","pt":"msg"},{"t":"delete","p":"payload.access_token_expires","pt":"msg"},{"t":"delete","p":"payload.access_token","pt":"msg"},{"t":"delete","p":"payload.append_password","pt":"msg"},{"t":"delete","p":"payload.credentials","pt":"msg"},{"t":"delete","p":"zmip","pt":"msg"},{"t":"delete","p":"zmuser","pt":"msg"},{"t":"delete","p":"zmpass","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":200,"wires":[[]]},{"id":"8448da47.e8d4f8","type":"join","z":"3e0f1845.f31c98","name":"Merge","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":370,"y":100,"wires":[["22a210d5.64e18"]]},{"id":"752e99c4.f13038","type":"subflow:4592304b.99494","z":"3e0f1845.f31c98","name":"","env":[],"x":180,"y":60,"wires":[["8448da47.e8d4f8"]]},{"id":"9ec6e28.fd6c92","type":"debug","z":"4592304b.99494","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":260,"y":300,"wires":[]},{"id":"b0e5e9c8.d74698","type":"debug","z":"4592304b.99494","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":300,"wires":[]},{"id":"124d0506.5a588b","type":"throttle","z":"1db31519.a4386b","name":"30s throttle","throttleType":"time","timeLimit":"30","timeLimitType":"seconds","countLimit":0,"blockSize":0,"locked":false,"x":390,"y":40,"wires":[["980d72b5.999c5"]]},{"id":"7820ec4a.4a5d54","type":"throttle","z":"1db31519.a4386b","name":"30s throttle","throttleType":"time","timeLimit":"30","timeLimitType":"seconds","countLimit":0,"blockSize":0,"locked":false,"x":390,"y":100,"wires":[["980d72b5.999c5"]]},{"id":"9af3cc3f.3a2fe","type":"throttle","z":"1db31519.a4386b","name":"30s throttle","throttleType":"time","timeLimit":"30","timeLimitType":"seconds","countLimit":0,"blockSize":0,"locked":false,"x":390,"y":160,"wires":[["980d72b5.999c5"]]},{"id":"60f3bdf4.07d7a4","type":"throttle","z":"1db31519.a4386b","name":"30s throttle","throttleType":"time","timeLimit":"30","timeLimitType":"seconds","countLimit":0,"blockSize":0,"locked":false,"x":390,"y":220,"wires":[["980d72b5.999c5"]]},{"id":"c9e7fa68.060568","type":"throttle","z":"1db31519.a4386b","name":"30s throttle","throttleType":"time","timeLimit":"30","timeLimitType":"seconds","countLimit":0,"blockSize":0,"locked":false,"x":390,"y":280,"wires":[["980d72b5.999c5"]]},{"id":"453c821c.0f13fc","type":"throttle","z":"1db31519.a4386b","name":"30s throttle","throttleType":"time","timeLimit":"30","timeLimitType":"seconds","countLimit":0,"blockSize":0,"locked":false,"x":390,"y":340,"wires":[["980d72b5.999c5"]]},{"id":"c527d403.0f5918","type":"throttle","z":"1db31519.a4386b","name":"10s throttle","throttleType":"time","timeLimit":"10","timeLimitType":"seconds","countLimit":0,"blockSize":0,"locked":false,"x":390,"y":400,"wires":[["980d72b5.999c5"]]},{"id":"a2720002.fc9e9","type":"throttle","z":"1db31519.a4386b","name":"10s throttle","throttleType":"time","timeLimit":"10","timeLimitType":"seconds","countLimit":0,"blockSize":0,"locked":false,"x":390,"y":460,"wires":[["980d72b5.999c5"]]},{"id":"f064116d.a98ec","type":"api-current-state","z":"1db31519.a4386b","name":"Camera Notify Mobile?","server":"d70513fd.32139","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.camera_notify_mobile","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":1230,"y":140,"wires":[["db80081e.067b18"],[]]},{"id":"8c611665.a086c8","type":"alexa-remote-init","z":"a0b16544.5f71f8","name":"Amazon Alexa","account":"17362ae3.584025","option":"refresh","x":300,"y":80,"wires":[[]]},{"id":"29bc7e29.6017c2","type":"inject","z":"a0b16544.5f71f8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":80,"wires":[["8c611665.a086c8"]]},{"id":"c5d3aa12.ba5348","type":"alexa-remote-routine","z":"a0b16544.5f71f8","name":"","account":"17362ae3.584025","routineNode":{"type":"speakAtVolume","payload":{"type":"regular","text":{"type":"str","value":"There is someone in the driveway."},"volume":{"type":"num","value":"60"},"mode":"set","devices":["G0911W1001432DT3"]}},"x":610,"y":200,"wires":[[]]},{"id":"8fb83157.f99d","type":"inject","z":"a0b16544.5f71f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":135,"y":197,"wires":[["5319aba6.69d5b4"]]},{"id":"40036496.8a449c","type":"comment","z":"a0b16544.5f71f8","name":"Alexa Login Configuration & Cookie","info":"","x":190,"y":40,"wires":[]},{"id":"5e912230.1dc7cc","type":"comment","z":"a0b16544.5f71f8","name":"Test \"hello\"","info":"","x":115,"y":157,"wires":[]},{"id":"3b9e5cd0.30add4","type":"switch","z":"16e3accd.e4a563","name":"Detection Type?","property":"name","propertyType":"msg","rules":[{"t":"cont","v":"detected:person","vt":"str"},{"t":"cont","v":"detected:car","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":1260,"y":60,"wires":[["1df516f4.125789"],["6c008ef1.eddb3"],["a07c9198.7a2fe"]]},{"id":"25c1fb16.264d34","type":"throttle","z":"16e3accd.e4a563","name":"2m throttle","throttleType":"time","timeLimit":"2","timeLimitType":"minutes","countLimit":0,"blockSize":0,"locked":false,"x":150,"y":140,"wires":[["8f0cc324.5dcf5"]]},{"id":"1df516f4.125789","type":"alexa-remote-routine","z":"16e3accd.e4a563","name":"Speak Driveway Person","account":"17362ae3.584025","routineNode":{"type":"speakAtVolume","payload":{"type":"ssml","text":{"type":"ssml","value":"<speak> <voice name=\"Emma\">Someone is in the driveway</voice></speak>"},"volume":{"type":"num","value":"60"},"mode":"set","devices":["G0911W1001432DT3","G090U50783850DTM","G090U608839420S6"]}},"x":1510,"y":20,"wires":[["420598e6.17e0b8"]]},{"id":"6c008ef1.eddb3","type":"alexa-remote-routine","z":"16e3accd.e4a563","name":"Speak Driveway Car","account":"17362ae3.584025","routineNode":{"type":"speakAtVolume","payload":{"type":"ssml","text":{"type":"ssml","value":"<speak> <voice name=\"Emma\">There is a car in the driveway</voice></speak>"},"volume":{"type":"num","value":"60"},"mode":"set","devices":["G0911W1001432DT3","G090U50783850DTM","G090U608839420S6"]}},"x":1500,"y":60,"wires":[["420598e6.17e0b8"]]},{"id":"a07c9198.7a2fe","type":"alexa-remote-routine","z":"16e3accd.e4a563","name":"Speak Driveway General","account":"17362ae3.584025","routineNode":{"type":"speakAtVolume","payload":{"type":"ssml","text":{"type":"ssml","value":"<speak> <voice name=\"Emma\">Motion detected in the driveway</voice></speak>"},"volume":{"type":"num","value":"60"},"mode":"set","devices":["G0911W1001432DT3","G090U50783850DTM","G090U608839420S6"]}},"x":1510,"y":100,"wires":[["420598e6.17e0b8"]]},{"id":"5bed0dfd.ed1b14","type":"switch","z":"16e3accd.e4a563","name":"Which Camera?","property":"monitor","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"}],"checkall":"false","repair":false,"outputs":8,"x":1020,"y":260,"wires":[["3b9e5cd0.30add4"],["1341f4e2.9b7b2b"],["58a443cc.6e003c"],["1402ab.ae234d55"],[],["7c906b77.acd164"],["8a910c1d.dd885"],[]]},{"id":"1402ab.ae234d55","type":"switch","z":"16e3accd.e4a563","name":"Detection Type?","property":"name","propertyType":"msg","rules":[{"t":"cont","v":"detected:person","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1260,"y":400,"wires":[["5de8c2e.07b033c"],["153198a1.ade4d7"]]},{"id":"5de8c2e.07b033c","type":"alexa-remote-routine","z":"16e3accd.e4a563","name":"Speak Front Door Person","account":"17362ae3.584025","routineNode":{"type":"speakAtVolume","payload":{"type":"ssml","text":{"type":"str","value":"<speak> <voice name=\"Emma\">Someone is at the front door</voice></speak>"},"volume":{"type":"num","value":"60"},"mode":"set","devices":["G0911W1001432DT3","G090U50783850DTM","G090U608839420S6"]}},"x":1510,"y":380,"wires":[["420598e6.17e0b8"]]},{"id":"153198a1.ade4d7","type":"alexa-remote-routine","z":"16e3accd.e4a563","name":"Speak Front Door General","account":"17362ae3.584025","routineNode":{"type":"speakAtVolume","payload":{"type":"ssml","text":{"type":"ssml","value":"<speak> <voice name=\"Emma\">Motion detected at the front door</voice></speak>"},"volume":{"type":"num","value":"60"},"mode":"set","devices":["G0911W1001432DT3","G090U50783850DTM","G090U608839420S6"]}},"x":1510,"y":420,"wires":[["420598e6.17e0b8"]]},{"id":"7c906b77.acd164","type":"switch","z":"16e3accd.e4a563","name":"Detection Type?","property":"name","propertyType":"msg","rules":[{"t":"cont","v":"detected:person","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1260,"y":500,"wires":[["5ce1819e.b586f"],["f6d494d.9bef468"]]},{"id":"5ce1819e.b586f","type":"alexa-remote-routine","z":"16e3accd.e4a563","name":"Speak Deck Person","account":"17362ae3.584025","routineNode":{"type":"speakAtVolume","payload":{"type":"ssml","text":{"type":"ssml","value":"<speak> <voice name=\"Emma\">Someone is on the deck</voice></speak>"},"volume":{"type":"num","value":"60"},"mode":"set","devices":["G0911W1001432DT3","G090U50783850DTM","G090U608839420S6"]}},"x":1500,"y":480,"wires":[["420598e6.17e0b8"]]},{"id":"f6d494d.9bef468","type":"alexa-remote-routine","z":"16e3accd.e4a563","name":"Speak Deck General","account":"17362ae3.584025","routineNode":{"type":"speakAtVolume","payload":{"type":"ssml","text":{"type":"ssml","value":"<speak> <voice name=\"Emma\">Motion detected on the deck</voice></speak>"},"volume":{"type":"num","value":"60"},"mode":"set","devices":["G0911W1001432DT3","G090U50783850DTM","G090U608839420S6"]}},"x":1500,"y":520,"wires":[["420598e6.17e0b8"]]},{"id":"f14f56e1.4d9a28","type":"inject","z":"e8cdc7cf.2d3ff8","name":"Store states","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":480,"wires":[["3790fc30.12b354","18d6f55.537770b","94a3c52.9fa9738","2fb6d0eb.f1fef"]]},{"id":"18d6f55.537770b","type":"ha-get-entities","z":"e8cdc7cf.2d3ff8","server":"d70513fd.32139","name":"Get Switches","rules":[{"property":"entity_id","logic":"starts_with","value":"switch","valueType":"str"},{"property":"state","logic":"includes","value":"on,off","valueType":"str"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":282,"y":480,"wires":[["19e85c0e.f4d1d4"]]},{"id":"94a3c52.9fa9738","type":"ha-get-entities","z":"e8cdc7cf.2d3ff8","server":"d70513fd.32139","name":"Get Lights","rules":[{"property":"entity_id","logic":"starts_with","value":"light","valueType":"str"},{"property":"state","logic":"includes","value":"on,off","valueType":"str"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":282,"y":432,"wires":[["19e85c0e.f4d1d4"]]},{"id":"297ff244.47ca4e","type":"comment","z":"e8cdc7cf.2d3ff8","name":"Easier to follow version","info":"","x":124,"y":384,"wires":[]},{"id":"3790fc30.12b354","type":"ha-get-entities","z":"e8cdc7cf.2d3ff8","server":"d70513fd.32139","name":"Get Climate","rules":[{"property":"entity_id","logic":"starts_with","value":"climate","valueType":"str"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":282,"y":528,"wires":[["36705576.17a42a"]]},{"id":"19e85c0e.f4d1d4","type":"function","z":"e8cdc7cf.2d3ff8","name":"transform data","func":"const payload = {};\npayload.domain = msg.payload.entity_id.split('.')[0];\npayload.service = `turn_${msg.payload.state}`;\npayload.data = { entity_id: msg.payload.entity_id };\n\n// create a blank message object with out new payload\nmsg = { payload: payload };\nreturn msg;","outputs":1,"noerr":0,"x":468,"y":480,"wires":[["2b7e0299.1ce7ae"]]},{"id":"36705576.17a42a","type":"function","z":"e8cdc7cf.2d3ff8","name":"transform data","func":"const payloads = [];\nconst payload = {};\npayload.domain = 'climate';\npayload.service = `set_temperature`;\npayload.data = {\n    entity_id: msg.payload.entity_id,\n    temperature: msg.payload.attributes.temperature,\n    target_temp_low: msg.payload.attributes.min_temp,\n    target_temp_high: msg.payload.attributes.max_temp,\n    operation_mode: msg.payload.attributes.operation_mode\n};\n\n// create a blank message object with out new payload\nmsg = { payload: payload };\nreturn msg;","outputs":1,"noerr":0,"x":468,"y":528,"wires":[["2b7e0299.1ce7ae"]]},{"id":"e254a879.41d408","type":"comment","z":"e8cdc7cf.2d3ff8","name":"function nodes could be replaced with a change nodes","info":"","x":588,"y":432,"wires":[]},{"id":"2b7e0299.1ce7ae","type":"join","z":"e8cdc7cf.2d3ff8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":646,"y":480,"wires":[["b3db19bf.61d8e8"]]},{"id":"472ff71c.c342c8","type":"debug","z":"e8cdc7cf.2d3ff8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1018,"y":480,"wires":[]},{"id":"b3db19bf.61d8e8","type":"change","z":"e8cdc7cf.2d3ff8","name":"","rules":[{"t":"set","p":"savedStates","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":824,"y":480,"wires":[["472ff71c.c342c8"]]},{"id":"2fb6d0eb.f1fef","type":"ha-get-entities","z":"e8cdc7cf.2d3ff8","server":"d70513fd.32139","name":"Save Media Player States","rules":[{"property":"entity_id","logic":"is","value":"media_player.monoprice_kitchen","valueType":"str"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":310,"y":600,"wires":[["9e9079dd.6bced8"]]},{"id":"9e9079dd.6bced8","type":"debug","z":"e8cdc7cf.2d3ff8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":540,"y":600,"wires":[]},{"id":"52e8243f.c8d5ac","type":"api-call-service","z":"16e3accd.e4a563","name":"Media Players Save State","server":"d70513fd.32139","version":1,"debugenabled":false,"service_domain":"scene","service":"create","entityId":"","data":"{\"scene_id\":\"media_players_before\",\"snapshot_entities\":[\"media_player.monoprice_kitchen\",\"media_player.monoprice_deck\",\"media_player.sonos_master_bedroom\",\"media_player.sonos_game_room\",\"media_player.sonos_portable\"]}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":170,"y":240,"wires":[["1157efd4.6f792","2efb154.e421fea"]]},{"id":"2efb154.e421fea","type":"api-call-service","z":"16e3accd.e4a563","name":"Turn Kitchen Speakers On","server":"d70513fd.32139","version":1,"debugenabled":false,"service_domain":"scene","service":"apply","entityId":"","data":"{\"entities\":{\"media_player.monoprice_kitchen\":{\"state\":\"on\",\"volume_level\":\"0.6\",\"is_volume_muted\":\"false\",\"source\":\"Alexa\"}}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":440,"y":220,"wires":[["798776e0.cb7ee8"]]},{"id":"1157efd4.6f792","type":"api-current-state","z":"16e3accd.e4a563","name":"Deck Speakers On?","server":"d70513fd.32139","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"media_player.monoprice_deck","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":420,"y":260,"wires":[["68e35cf7.4d33f4"],[]]},{"id":"68e35cf7.4d33f4","type":"api-call-service","z":"16e3accd.e4a563","name":"Prepare Deck Speakers","server":"d70513fd.32139","version":1,"debugenabled":false,"service_domain":"scene","service":"apply","entityId":"","data":"{\"entities\":{\"media_player.monoprice_deck\":{\"state\":\"on\",\"volume_level\":\"0.8\",\"is_volume_muted\":\"false\",\"source\":\"Alexa\"}}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":670,"y":260,"wires":[[]]},{"id":"897e96b2.339598","type":"comment","z":"16e3accd.e4a563","name":"Throttle Voice announcements","info":"","x":140,"y":60,"wires":[]},{"id":"71aa2ebd.b97d6","type":"comment","z":"16e3accd.e4a563","name":"Record previous media player states and turn on the speakers and change source to Alexa in rack","info":"","x":420,"y":320,"wires":[]},{"id":"6e0abd96.3cea14","type":"comment","z":"16e3accd.e4a563","name":"Make the alexa tts message","info":"","x":1380,"y":700,"wires":[]},{"id":"28021099.3f1f4","type":"api-call-service","z":"16e3accd.e4a563","name":"Restore Media Players","server":"d70513fd.32139","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.media_players_before","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1960,"y":240,"wires":[[]]},{"id":"420598e6.17e0b8","type":"delay","z":"16e3accd.e4a563","name":"Delay 3s","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1780,"y":240,"wires":[["28021099.3f1f4"]]},{"id":"798776e0.cb7ee8","type":"function","z":"16e3accd.e4a563","name":"Get MQTT info","func":"msg.monitor = flow.get('monitor');\nmsg.name = flow.get('name');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":220,"wires":[["9f945a71.11eae8"]]},{"id":"8f0cc324.5dcf5","type":"function","z":"16e3accd.e4a563","name":"Store MQTT info","func":"flow.set('eventid',msg.payload.eventid);\nflow.set('monitor',msg.payload.monitor);\nflow.set('name',msg.payload.name);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":140,"wires":[["52e8243f.c8d5ac"]]},{"id":"e5d1fa53.b4c628","type":"comment","z":"16e3accd.e4a563","name":"Wait for Alexa, Reset Media Players","info":"","x":1880,"y":60,"wires":[]},{"id":"5319aba6.69d5b4","type":"api-call-service","z":"a0b16544.5f71f8","name":"Turn Kitchen Speakers On","server":"d70513fd.32139","version":1,"debugenabled":false,"service_domain":"scene","service":"apply","entityId":"","data":"{\"entities\":{\"media_player.monoprice_kitchen\":{\"state\":\"on\",\"volume_level\":\"0.6\",\"is_volume_muted\":\"false\",\"source\":\"Alexa\"}}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":340,"y":200,"wires":[["c5d3aa12.ba5348"]]},{"id":"9f945a71.11eae8","type":"delay","z":"16e3accd.e4a563","name":"Delay 2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":840,"y":220,"wires":[["5bed0dfd.ed1b14"]]},{"id":"6679435c.3a00dc","type":"comment","z":"a0b16544.5f71f8","name":"Dinner!  Announcement","info":"","x":170,"y":274,"wires":[]},{"id":"4812bebd.cf3","type":"alexa-remote-routine","z":"a0b16544.5f71f8","name":"","account":"17362ae3.584025","routineNode":{"type":"speakAtVolume","payload":{"type":"regular","text":{"type":"str","value":"<speak> <voice name=\"Emma\">there is a car in the driveway</voice></speak>"},"volume":{"type":"num","value":"40"},"mode":"set","devices":["G090U50783850DTM"]}},"x":510,"y":334,"wires":[[]]},{"id":"7c8db671.b58418","type":"inject","z":"a0b16544.5f71f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":334,"wires":[["c5495ded.12819"]]},{"id":"980d72b5.999c5","type":"function","z":"1db31519.a4386b","name":"Duplicate","func":"return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":260,"wires":[["1dfc2c4c.e19ce4"]]},{"id":"1341f4e2.9b7b2b","type":"switch","z":"16e3accd.e4a563","name":"Detection Type?","property":"name","propertyType":"msg","rules":[{"t":"cont","v":"detected:person","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1260,"y":200,"wires":[["48f05bdc.7ae034"],["92aa5c73.03f7c"]]},{"id":"48f05bdc.7ae034","type":"alexa-remote-routine","z":"16e3accd.e4a563","name":"Speak Pool Person","account":"17362ae3.584025","routineNode":{"type":"speakAtVolume","payload":{"type":"ssml","text":{"type":"str","value":"<speak> <voice name=\"Emma\">Someone is near the pool</voice></speak>"},"volume":{"type":"num","value":"60"},"mode":"set","devices":["G0911W1001432DT3","G090U50783850DTM","G090U608839420S6"]}},"x":1490,"y":180,"wires":[["420598e6.17e0b8"]]},{"id":"92aa5c73.03f7c","type":"alexa-remote-routine","z":"16e3accd.e4a563","name":"Speak Pool General","account":"17362ae3.584025","routineNode":{"type":"speakAtVolume","payload":{"type":"ssml","text":{"type":"ssml","value":"<speak> <voice name=\"Emma\">Motion detected near the pool</voice></speak>"},"volume":{"type":"num","value":"60"},"mode":"set","devices":["G0911W1001432DT3","G090U50783850DTM","G090U608839420S6"]}},"x":1500,"y":220,"wires":[["420598e6.17e0b8"]]},{"id":"58a443cc.6e003c","type":"switch","z":"16e3accd.e4a563","name":"Detection Type?","property":"name","propertyType":"msg","rules":[{"t":"cont","v":"detected:person","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1260,"y":300,"wires":[["f1a76de.816fa9"],["a422f5e7.95b358"]]},{"id":"f1a76de.816fa9","type":"alexa-remote-routine","z":"16e3accd.e4a563","name":"Speak Back Path Person","account":"17362ae3.584025","routineNode":{"type":"speakAtVolume","payload":{"type":"ssml","text":{"type":"str","value":"<speak> <voice name=\"Emma\">Someone is near the basement door</voice></speak>"},"volume":{"type":"num","value":"60"},"mode":"set","devices":["G0911W1001432DT3","G090U50783850DTM","G090U608839420S6"]}},"x":1510,"y":280,"wires":[["420598e6.17e0b8"]]},{"id":"a422f5e7.95b358","type":"alexa-remote-routine","z":"16e3accd.e4a563","name":"Speak Back Path General","account":"17362ae3.584025","routineNode":{"type":"speakAtVolume","payload":{"type":"ssml","text":{"type":"ssml","value":"<speak> <voice name=\"Emma\">Motion detected near the basement door</voice></speak>"},"volume":{"type":"num","value":"60"},"mode":"set","devices":["G0911W1001432DT3","G090U50783850DTM","G090U608839420S6"]}},"x":1510,"y":320,"wires":[["420598e6.17e0b8"]]},{"id":"8a910c1d.dd885","type":"switch","z":"16e3accd.e4a563","name":"Detection Type?","property":"name","propertyType":"msg","rules":[{"t":"cont","v":"detected:person","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1260,"y":600,"wires":[["4b334a.92080cb8"],["10187736.740199"]]},{"id":"4b334a.92080cb8","type":"alexa-remote-routine","z":"16e3accd.e4a563","name":"Speak Back Patio Person","account":"17362ae3.584025","routineNode":{"type":"speakAtVolume","payload":{"type":"ssml","text":{"type":"ssml","value":"<speak> <voice name=\"Emma\">Someone is near the back patio</voice></speak>"},"volume":{"type":"num","value":"60"},"mode":"set","devices":["G0911W1001432DT3","G090U50783850DTM","G090U608839420S6"]}},"x":1510,"y":580,"wires":[["420598e6.17e0b8"]]},{"id":"10187736.740199","type":"alexa-remote-routine","z":"16e3accd.e4a563","name":"Speak Back Patio General","account":"17362ae3.584025","routineNode":{"type":"speakAtVolume","payload":{"type":"regular","text":{"type":"str","value":"<speak> <voice name=\"Emma\">Motion detected near the back patio</voice></speak>"},"volume":{"type":"num","value":"60"},"mode":"set","devices":["G0911W1001432DT3","G090U50783850DTM","G090U608839420S6"]}},"x":1520,"y":620,"wires":[["420598e6.17e0b8"]]},{"id":"43d0ba53.9658e4","type":"api-call-service","z":"e8cdc7cf.2d3ff8","name":"Browser Turn Screen On","server":"d70513fd.32139","version":1,"debugenabled":false,"service_domain":"browser_mod","service":"no_blackout","entityId":"","data":"{\"deviceID\":[\"master_bedroom_tablet\"]}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":350,"y":760,"wires":[["c20f4997.96fd08"]]},{"id":"183ee5d8.0f4d8a","type":"api-call-service","z":"e8cdc7cf.2d3ff8","name":"Browser Turn Screen Off","server":"d70513fd.32139","version":1,"debugenabled":false,"service_domain":"browser_mod","service":"blackout","entityId":"","data":"{\"deviceID\":[\"master_bedroom_tablet\"]}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":310,"y":820,"wires":[[]]},{"id":"db22b4a9.9ed0b8","type":"inject","z":"e8cdc7cf.2d3ff8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":760,"wires":[["43d0ba53.9658e4"]]},{"id":"74e6c625.78fab8","type":"inject","z":"e8cdc7cf.2d3ff8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":820,"wires":[["183ee5d8.0f4d8a"]]},{"id":"c20f4997.96fd08","type":"api-call-service","z":"e8cdc7cf.2d3ff8","name":"Popup","server":"d70513fd.32139","version":1,"debugenabled":false,"service_domain":"browser_mod","service":"navigate","entityId":"","data":"{\"deviceID\":[\"master_bedroom_tablet\"],\"navigation_path\":\"/lovelace/main_level/\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":610,"y":760,"wires":[[]]},{"id":"65b693e5.d6605c","type":"api-call-service","z":"604fe48d.66acdc","name":"Turn On Master Bedroom Tablet Screen","server":"d70513fd.32139","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.master_bedroom_tablet_screen","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":280,"y":100,"wires":[["7e683b44.aff4e4"]]},{"id":"825ef340.7b9c7","type":"api-call-service","z":"e8cdc7cf.2d3ff8","name":"Turn Off Screen","server":"d70513fd.32139","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.master_bedroom_tablet_screen","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":320,"y":980,"wires":[[]]},{"id":"c52c85bb.bc9cd8","type":"inject","z":"e8cdc7cf.2d3ff8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":920,"wires":[["6a1093c5.c2b6cc"]]},{"id":"b5671ac3.557308","type":"inject","z":"e8cdc7cf.2d3ff8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":980,"wires":[["825ef340.7b9c7"]]},{"id":"ff64208b.0998b","type":"api-call-service","z":"e8cdc7cf.2d3ff8","name":"Popup","server":"d70513fd.32139","version":1,"debugenabled":false,"service_domain":"browser_mod","service":"popup","entityId":"","data":"{\"title\":\"Cameras\",\"deviceID\":[\"kitchen_tablet\",\"master_bedroom_tablet\",\"front_door_tablet\"],\"card\":{\"type\":\"picture-entity\",\"entity\":\"camera.driveway\",\"camera_view\":\"live\",\"show_name\":false,\"show_state\":false}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":650,"y":880,"wires":[[]]},{"id":"c4227a70.115d18","type":"api-call-service","z":"e8cdc7cf.2d3ff8","name":"Popup Home","server":"d70513fd.32139","version":1,"debugenabled":false,"service_domain":"browser_mod","service":"navigate","entityId":"","data":"{\"deviceID\":[\"kitchen_tablet\"],\"navigation_path\":\"/lovelace/home/\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":310,"y":1060,"wires":[[]]},{"id":"5f1bc630.aec488","type":"inject","z":"e8cdc7cf.2d3ff8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1060,"wires":[["c4227a70.115d18"]]},{"id":"7e683b44.aff4e4","type":"delay","z":"604fe48d.66acdc","name":"2s delay","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":100,"wires":[["cf778b0.a9a8078"]]},{"id":"47b85d0d.bd02a4","type":"inject","z":"e8cdc7cf.2d3ff8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":1160,"wires":[["d1cae13.b33942"]]},{"id":"d1cae13.b33942","type":"api-call-service","z":"e8cdc7cf.2d3ff8","name":"Close Popups","server":"d70513fd.32139","version":1,"debugenabled":false,"service_domain":"browser_mod","service":"close_popup","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":320,"y":1160,"wires":[[]]},{"id":"351aa025.57ae4","type":"comment","z":"e8cdc7cf.2d3ff8","name":"FKB Screen Tests","info":"","x":160,"y":700,"wires":[]},{"id":"118c2f84.195fe","type":"delay","z":"604fe48d.66acdc","name":"60s delay","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":260,"wires":[["49fbbb06.81f5f4"]]},{"id":"49fbbb06.81f5f4","type":"api-call-service","z":"604fe48d.66acdc","name":"Close Popups","server":"d70513fd.32139","version":1,"debugenabled":false,"service_domain":"browser_mod","service":"close_popup","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":540,"y":260,"wires":[[]]},{"id":"cf778b0.a9a8078","type":"api-call-service","z":"604fe48d.66acdc","name":"Popup Cameras","server":"d70513fd.32139","version":1,"debugenabled":false,"service_domain":"browser_mod","service":"popup","entityId":"","data":"{\"title\":\"Cameras\",\"deviceID\":[\"kitchen_tablet\",\"master_bedroom_tablet\",\"front_door_tablet\"],\"large\":true,\"hide_header\":true,\"card\":{\"type\":\"custom:stack-in-card\",\"mode\":\"horizontal\",\"cards\":[{\"type\":\"horizontal-stack\",\"cards\":[{\"type\":\"picture-entity\",\"entity\":\"camera.driveway\",\"camera_view\":\"live\",\"show_name\":false,\"show_state\":false},{\"type\":\"picture-entity\",\"entity\":\"camera.front_door_2\",\"camera_view\":\"live\",\"show_name\":false,\"show_state\":false}]}]}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":180,"y":260,"wires":[["118c2f84.195fe"]]},{"id":"1e2a8566.038ecb","type":"api-current-state","z":"1db31519.a4386b","name":"Family Home?","server":"d70513fd.32139","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.family","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":1200,"y":300,"wires":[["a8fe1d5f.4cf7c"],[]]},{"id":"6a1093c5.c2b6cc","type":"subflow:604fe48d.66acdc","z":"e8cdc7cf.2d3ff8","name":"Cameras on Tablet Screens","env":[],"x":380,"y":920,"wires":[]},{"id":"4466b031.1e634","type":"api-call-service","z":"604fe48d.66acdc","name":"Turn On Kitchen Tablet Screen","server":"d70513fd.32139","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.kitchen_tablet_screen","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":250,"y":40,"wires":[[]]},{"id":"2ea8327d.091e0e","type":"api-call-service","z":"604fe48d.66acdc","name":"Turn On Front Door Tablet Screen","server":"d70513fd.32139","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.front_door_tablet_screen","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":260,"y":160,"wires":[[]]},{"id":"a9473c09.4433e","type":"subflow:604fe48d.66acdc","z":"1db31519.a4386b","name":"","env":[],"x":1680,"y":300,"wires":[]},{"id":"55dd272b.36b248","type":"comment","z":"482170a5.4c83a","name":"If Garage Door Open Popup Cameras","info":"","x":190,"y":60,"wires":[]},{"id":"815e03e3.49b09","type":"server-state-changed","z":"482170a5.4c83a","name":"","server":"d70513fd.32139","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"cover.garage_door_1_left","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"open","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":190,"y":120,"wires":[["6f9a479c.d28838"],[]]},{"id":"e9739425.bc2518","type":"server-state-changed","z":"482170a5.4c83a","name":"","server":"d70513fd.32139","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"cover.garage_door_2_center","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"open","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":200,"y":180,"wires":[["6f9a479c.d28838"],[]]},{"id":"b1913df4.2c29a","type":"server-state-changed","z":"482170a5.4c83a","name":"","server":"d70513fd.32139","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"cover.garage_door_3_right","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"open","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":190,"y":240,"wires":[["6f9a479c.d28838"],[]]},{"id":"6f9a479c.d28838","type":"throttle","z":"482170a5.4c83a","name":"Throttle 30s","throttleType":"time","timeLimit":"30","timeLimitType":"seconds","countLimit":0,"blockSize":0,"locked":false,"x":520,"y":160,"wires":[["d41d2535.764c18","65051bef.ecbdc4"]]},{"id":"d41d2535.764c18","type":"subflow:604fe48d.66acdc","z":"482170a5.4c83a","name":"","env":[],"x":770,"y":120,"wires":[]},{"id":"5df3916e.a9593","type":"comment","z":"482170a5.4c83a","name":"If Doorbell Rings or Detects Motion Popup Cameras","info":"","x":220,"y":320,"wires":[]},{"id":"f6a28bb7.8193d8","type":"server-state-changed","z":"482170a5.4c83a","name":"","server":"d70513fd.32139","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.front_door_ding","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":200,"y":380,"wires":[["28debd27.a58942"],[]]},{"id":"21832d3d.0b6a02","type":"server-state-changed","z":"482170a5.4c83a","name":"","server":"d70513fd.32139","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.front_door_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":210,"y":440,"wires":[["28debd27.a58942"],[]]},{"id":"28debd27.a58942","type":"throttle","z":"482170a5.4c83a","name":"Throttle 30s","throttleType":"time","timeLimit":"30","timeLimitType":"seconds","countLimit":0,"blockSize":0,"locked":false,"x":500,"y":400,"wires":[["54d759fa.f17018"]]},{"id":"ea27a6f7.c359e8","type":"subflow:604fe48d.66acdc","z":"482170a5.4c83a","name":"","env":[],"x":970,"y":400,"wires":[]},{"id":"e4ef4263.b055a","type":"comment","z":"482170a5.4c83a","name":"When nobody home, check....","info":"","x":150,"y":520,"wires":[]},{"id":"d56c9a6.964bb68","type":"api-call-service","z":"482170a5.4c83a","name":"Mobile Notification","server":"d70513fd.32139","version":1,"debugenabled":false,"service_domain":"notify","service":"family_all_mobile","entityId":"","data":"{\"title\":\"Nobody is Home\",\"message\":\"Check House Alarm - may not be Armed Away\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":540,"y":580,"wires":[[]]},{"id":"296bef52.f010b","type":"comment","z":"482170a5.4c83a","name":"When House Alarm is Armed Away","info":"","x":170,"y":660,"wires":[]},{"id":"b0c3d7aa.0532b8","type":"trigger-state","z":"482170a5.4c83a","name":"If Family Away & House Alarm not Armed Away","server":"d70513fd.32139","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"group.family","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"away","propertyValue":"new_state.state"},{"targetType":"entity_id","targetValue":"alarm_control_panel.amin_residence","propertyType":"current_state","comparatorType":"is_not","comparatorValueDatatype":"str","comparatorValue":"armed_away","propertyValue":"new_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":210,"y":580,"wires":[["d56c9a6.964bb68"],[]]},{"id":"9f8fd568.2030b8","type":"server-state-changed","z":"482170a5.4c83a","name":"If House Alarm Armed Away","server":"d70513fd.32139","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"alarm_control_panel.amin_residence","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"armed_away","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":150,"y":720,"wires":[["d24c2fee.5e232","cc3e005.5a62a"],[]]},{"id":"d24c2fee.5e232","type":"alexa-remote-smarthome","z":"482170a5.4c83a","name":"Turn on Fake TV","account":"17362ae3.584025","config":{"option":"action","value":[{"entity":"2a30d354-8c00-4ee9-b13b-699ae735ed75","action":"turnOn"}]},"outputs":1,"x":430,"y":760,"wires":[[]]},{"id":"ea0aa341.86ced","type":"trigger-state","z":"482170a5.4c83a","name":"If House Alarm Disarmed after Away","server":"d70513fd.32139","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"alarm_control_panel.amin_residence","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"disarmed","propertyValue":"new_state.state"},{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"armed_away","propertyValue":"old_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":180,"y":880,"wires":[["e5c6ef45.364c5","a0850bfd.31ef08"],[]]},{"id":"6f49ca6f.c47624","type":"comment","z":"482170a5.4c83a","name":"When House Alarm is Disarmed (Returning Home)","info":"","x":220,"y":820,"wires":[]},{"id":"e5c6ef45.364c5","type":"alexa-remote-smarthome","z":"482170a5.4c83a","name":"Turn off Fake TV","account":"17362ae3.584025","config":{"option":"action","value":[{"entity":"2a30d354-8c00-4ee9-b13b-699ae735ed75","action":"turnOff"}]},"outputs":1,"x":490,"y":920,"wires":[[]]},{"id":"cc3e005.5a62a","type":"api-call-service","z":"482170a5.4c83a","name":"Mobile Notification","server":"d70513fd.32139","version":1,"debugenabled":false,"service_domain":"notify","service":"family_all_mobile","entityId":"","data":"{\"title\":\"House Alarmed Away\",\"message\":\"Fake TV Enabled\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":440,"y":700,"wires":[[]]},{"id":"61b641e4.3b777","type":"comment","z":"482170a5.4c83a","name":"Check to ensure alarm is activated at night","info":"","x":170,"y":1260,"wires":[]},{"id":"587e6778.41be98","type":"inject","z":"482170a5.4c83a","name":"Evening 9PM-12AM","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"*/15 21-23 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":1300,"wires":[["e3ba759a.3aa588"]]},{"id":"e3ba759a.3aa588","type":"api-current-state","z":"482170a5.4c83a","name":"Alarm Disarmed?","server":"d70513fd.32139","version":1,"outputs":2,"halt_if":"disarmed","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"alarm_control_panel.amin_residence","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":340,"y":1300,"wires":[["408be34e.3f496c"],[]]},{"id":"408be34e.3f496c","type":"api-call-service","z":"482170a5.4c83a","name":"Alarm Mobile Notification & Prompt","server":"d70513fd.32139","version":1,"debugenabled":false,"service_domain":"notify","service":"family_all_mobile","entityId":"","data":"{\"title\":\"Alarm not Armed at Night\",\"message\":\"Activate Alarm?\",\"data\":{\"sticky\":\"true\",\"push\":{\"category\":\"house_alarm_activate\"}}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":610,"y":1300,"wires":[[]]},{"id":"a826e055.63492","type":"server-events","z":"a78dc037.004f6","name":"","server":"d70513fd.32139","event_type":"","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"x":80,"y":260,"wires":[["9ab83bc3.0c0638"]]},{"id":"9ab83bc3.0c0638","type":"switch","z":"a78dc037.004f6","name":"Which iOS Notification?","property":"payload.event.categoryName","propertyType":"msg","rules":[{"t":"eq","v":"camera_motion_snooze","vt":"str"},{"t":"eq","v":"house_alarm_activate","vt":"str"},{"t":"eq","v":"kids_room_lights","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":290,"y":260,"wires":[["3fc90169.a181ee"],["754d4c21.7a81a4"],["b3209f1a.47371"]]},{"id":"a2dc1d20.e2e39","type":"switch","z":"a78dc037.004f6","name":"Snooze Time","property":"payload.event.actionName","propertyType":"msg","rules":[{"t":"eq","v":"SNOOZE_15","vt":"str"},{"t":"eq","v":"SNOOZE_60","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":890,"y":260,"wires":[["db0e649e.ad9c38"],["4dc945ee.7db82c"]]},{"id":"f468c798.2591f8","type":"comment","z":"a78dc037.004f6","name":"Actionable Notifications for Camera Snooze","info":"","x":690,"y":100,"wires":[]},{"id":"6022bc6d.cc78a4","type":"api-call-service","z":"a78dc037.004f6","name":"All Camera Notifications Off","server":"d70513fd.32139","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.camera_all_notifications","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":660,"y":260,"wires":[["a2dc1d20.e2e39"]]},{"id":"db0e649e.ad9c38","type":"stoptimer","z":"a78dc037.004f6","duration":"15","units":"Minute","payloadtype":"num","payloadval":"0","name":"15 minutes","x":1071,"y":240,"wires":[["4d7717b8.138448"],[]]},{"id":"4dc945ee.7db82c","type":"stoptimer","z":"a78dc037.004f6","duration":"60","units":"Minute","payloadtype":"num","payloadval":"0","name":"60 minutes","x":1070,"y":283,"wires":[["4d7717b8.138448"],[]]},{"id":"4d7717b8.138448","type":"api-call-service","z":"a78dc037.004f6","name":"All Camera Notifications On","server":"d70513fd.32139","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.camera_all_notifications","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1320,"y":260,"wires":[[]]},{"id":"3fc90169.a181ee","type":"function","z":"a78dc037.004f6","name":"Filter For Camera Motion Snooze","func":"if ((msg.event_type == \"ios.notification_action_fired\") && (msg.payload.event.categoryName == \"camera_motion_snooze\") && (msg.payload.event.actionName.includes(\"SNOOZE\")))\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":160,"wires":[["6022bc6d.cc78a4"]]},{"id":"376258b7.aecb48","type":"comment","z":"a78dc037.004f6","name":"Actionable Notifications for Alarm","info":"","x":650,"y":340,"wires":[]},{"id":"754d4c21.7a81a4","type":"function","z":"a78dc037.004f6","name":"Filter for House Alarm Activate","func":"if ((msg.event_type == \"ios.notification_action_fired\") && (msg.payload.event.categoryName == \"house_alarm_activate\"))\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":380,"wires":[["7bb2af4c.e9552"]]},{"id":"7bb2af4c.e9552","type":"switch","z":"a78dc037.004f6","name":"Alarm Action?","property":"payload.event.actionName","propertyType":"msg","rules":[{"t":"eq","v":"ARM_HOME","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":920,"y":380,"wires":[["c25d4750.015ee8"]]},{"id":"c25d4750.015ee8","type":"api-call-service","z":"a78dc037.004f6","name":"Alarm Arm Home","server":"d70513fd.32139","version":1,"debugenabled":false,"service_domain":"alarm_control_panel","service":"alarm_arm_home","entityId":"alarm_control_panel.amin_residence","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1150,"y":380,"wires":[[]]},{"id":"a8fe1d5f.4cf7c","type":"api-current-state","z":"1db31519.a4386b","name":"Camera Notify Tablet?","server":"d70513fd.32139","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.camera_notify_tablet","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":1420,"y":300,"wires":[["a9473c09.4433e"],[]]},{"id":"54d759fa.f17018","type":"api-current-state","z":"482170a5.4c83a","name":"Camera Notify Tablet?","server":"d70513fd.32139","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.camera_notify_tablet","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":710,"y":400,"wires":[["ea27a6f7.c359e8"],[]]},{"id":"4fab565b.e245e8","type":"api-call-service","z":"a0b16544.5f71f8","name":"Cloud Say","server":"d70513fd.32139","version":1,"debugenabled":false,"service_domain":"tts","service":"cloud_say","entityId":"group.media_player_announce","data":"{\"message\":\"{{payload}}\",\"language\":\"en-GB\",\"options\":{\"gender\":\"female\"}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":630,"y":460,"wires":[[]]},{"id":"e19bd628.28b0a8","type":"inject","z":"a0b16544.5f71f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":460,"wires":[["5d43733.23bf98c"]]},{"id":"5d43733.23bf98c","type":"api-call-service","z":"a0b16544.5f71f8","name":"Set Volumes","server":"d70513fd.32139","version":1,"debugenabled":false,"service_domain":"scene","service":"apply","entityId":"","data":"{\"entities\":{\"media_player.sonos_master_bedroom\":{\"state\":\"on\",\"volume_level\":\"0.2\"},\"media_player.sonos_family_room\":{\"state\":\"on\"}}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":290,"y":460,"wires":[["ca82e3a3.1671a"]]},{"id":"46364ff7.4523b","type":"inject","z":"52aab07a.c206e","name":"At 0830 AM M-F","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"30 08 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":100,"wires":[["b04b96c0.8c9298"]]},{"id":"b04b96c0.8c9298","type":"api-current-state","z":"52aab07a.c206e","name":"Kids Room Lights On?","server":"d70513fd.32139","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.kids_room_lights","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":380,"y":100,"wires":[["c680c74e.83aae8"],[]]},{"id":"c680c74e.83aae8","type":"api-call-service","z":"52aab07a.c206e","name":"Kids Room Lights Mobile Notification and Prompt","server":"d70513fd.32139","version":1,"debugenabled":false,"service_domain":"notify","service":"family_all_mobile","entityId":"","data":"{\"title\":\"Kids Room lights still on at 830 AM\",\"message\":\"Turn off lights?\",\"data\":{\"sticky\":\"true\",\"push\":{\"category\":\"kids_room_lights\"}}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":710,"y":100,"wires":[[]]},{"id":"be7af7a9.43bcd8","type":"comment","z":"52aab07a.c206e","name":"Check Kids Room Light at 0830 AM Daily","info":"","x":200,"y":60,"wires":[]},{"id":"b3209f1a.47371","type":"function","z":"a78dc037.004f6","name":"Filter for Kids Room Lights","func":"if ((msg.event_type == \"ios.notification_action_fired\") && (msg.payload.event.categoryName == \"kids_room_lights\"))\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":480,"wires":[["c349aaa9.7401b8"]]},{"id":"c349aaa9.7401b8","type":"switch","z":"a78dc037.004f6","name":"Kids Room Light Action?","property":"payload.event.actionName","propertyType":"msg","rules":[{"t":"eq","v":"TURN_OFF_LIGHTS","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":930,"y":480,"wires":[["d13c5bcf.a77be8"]]},{"id":"d13c5bcf.a77be8","type":"api-call-service","z":"a78dc037.004f6","name":"Turn Off Kids Room Lights","server":"d70513fd.32139","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.kids_room_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1200,"y":480,"wires":[[]]},{"id":"19d0bcf5.2f94b3","type":"comment","z":"a78dc037.004f6","name":"Actionable Notifications for Kids Room Lights","info":"","x":690,"y":440,"wires":[]},{"id":"a0850bfd.31ef08","type":"api-call-service","z":"482170a5.4c83a","name":"Mobile Notification","server":"d70513fd.32139","version":1,"debugenabled":false,"service_domain":"notify","service":"family_all_mobile","entityId":"","data":"{\"title\":\"House Alarm Disarmed\",\"message\":\"Fake TV Disabled\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":500,"y":860,"wires":[[]]},{"id":"c5495ded.12819","type":"template","z":"a0b16544.5f71f8","name":"Driveway","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<speak> \n<voice name=\"Joanna\">Hello, there is a car in the driveway</voice>\n</speak>\n","output":"str","x":260,"y":334,"wires":[["4812bebd.cf3"]]},{"id":"de1fc474.594708","type":"inject","z":"a0b16544.5f71f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":680,"wires":[["425e9706.44acb8"]]},{"id":"425e9706.44acb8","type":"template","z":"a0b16544.5f71f8","name":"Driveway","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"<speak><voice name=\"Emma\">Someone is in the driveway</voice></speak>","output":"str","x":280,"y":680,"wires":[["e217c5d0.28b388"]]},{"id":"e217c5d0.28b388","type":"subflow:73910996.81aab8","z":"a0b16544.5f71f8","name":"Voice Notification via Alexa","env":[],"x":530,"y":680,"wires":[]},{"id":"1f9fd42b.24237c","type":"throttle","z":"73910996.81aab8","name":"1m throttle","throttleType":"time","timeLimit":"1","timeLimitType":"minutes","countLimit":0,"blockSize":0,"locked":false,"x":150,"y":180,"wires":[["f13947c6.5be358"]]},{"id":"f9d82f6e.5ac5e","type":"alexa-remote-routine","z":"73910996.81aab8","name":"Say TTS String","account":"17362ae3.584025","routineNode":{"type":"speakAtVolume","payload":{"type":"ssml","text":{"type":"msg","value":"payload"},"volume":{"type":"num","value":"20"},"mode":"set","devices":["G090U50783850DTM","G0911W1001432DT3","G090U608839420S6"]}},"x":1060,"y":120,"wires":[["4663d15f.f6a88"]]},{"id":"29b15517.9b8b9a","type":"api-call-service","z":"73910996.81aab8","name":"Turn Speakers On","server":"d70513fd.32139","version":1,"debugenabled":false,"service_domain":"scene","service":"apply","entityId":"","data":"{\"entities\":{\"media_player.monoprice_kitchen\":{\"state\":\"on\",\"volume_level\":\"0.6\",\"is_volume_muted\":\"false\",\"source\":\"Alexa\"},\"media_player.monoprice_living_room\":{\"state\":\"on\",\"volume_level\":\"0.6\",\"is_volume_muted\":\"false\",\"source\":\"Alexa\"}}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":610,"y":120,"wires":[["a51fbcb7.bee6a"]]},{"id":"7ac05e11.7a4df","type":"api-current-state","z":"73910996.81aab8","name":"Deck Speakers On?","server":"d70513fd.32139","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"media_player.monoprice_deck","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":620,"y":220,"wires":[["4b1b5831.89d9c8"],[]]},{"id":"4b1b5831.89d9c8","type":"api-call-service","z":"73910996.81aab8","name":"Prepare Deck Speakers","server":"d70513fd.32139","version":1,"debugenabled":false,"service_domain":"scene","service":"apply","entityId":"","data":"{\"entities\":{\"media_player.monoprice_deck\":{\"state\":\"on\",\"volume_level\":\"0.8\",\"is_volume_muted\":\"false\",\"source\":\"Alexa\"}}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":870,"y":220,"wires":[[]]},{"id":"eddcbfb8.2166","type":"comment","z":"73910996.81aab8","name":"Throttle Voice announcements","info":"","x":180,"y":220,"wires":[]},{"id":"c41431d3.b3945","type":"comment","z":"73910996.81aab8","name":"Make the alexa tts message","info":"","x":1380,"y":740,"wires":[]},{"id":"2de91253.eef17e","type":"api-call-service","z":"73910996.81aab8","name":"Restore Media Players","server":"d70513fd.32139","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.media_players_before","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1520,"y":120,"wires":[[]]},{"id":"4663d15f.f6a88","type":"delay","z":"73910996.81aab8","name":"Delay 4s","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1260,"y":120,"wires":[["2de91253.eef17e"]]},{"id":"a51fbcb7.bee6a","type":"delay","z":"73910996.81aab8","name":"Delay 2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":860,"y":120,"wires":[["f9d82f6e.5ac5e"]]},{"id":"50b9facd.22fa04","type":"throttle","z":"f1b31fe9.eb62a","name":"30s throttle","throttleType":"time","timeLimit":"30","timeLimitType":"seconds","countLimit":0,"blockSize":0,"locked":false,"x":130,"y":260,"wires":[["83cf6277.60346"]]},{"id":"83cf6277.60346","type":"api-call-service","z":"f1b31fe9.eb62a","name":"Media Players Save State","server":"d70513fd.32139","version":1,"debugenabled":false,"service_domain":"scene","service":"create","entityId":"","data":"{\"scene_id\":\"media_players_before\",\"snapshot_entities\":[\"media_player.monoprice_kitchen\",\"media_player.monoprice_deck\",\"media_player.monoprice_living_room\",\"media_player.sonos_family_room\",\"media_player.sonos_master_bedroom\",\"media_player.sonos_game_room\",\"media_player.sonos_portable\"]}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":330,"y":260,"wires":[["3b099306.2ba46c","3a75faa4.425a56"]]},{"id":"3a75faa4.425a56","type":"api-call-service","z":"f1b31fe9.eb62a","name":"Turn Speakers On to Sonos","server":"d70513fd.32139","version":1,"debugenabled":false,"service_domain":"scene","service":"apply","entityId":"","data":"{\"entities\":{\"media_player.monoprice_kitchen\":{\"state\":\"on\",\"volume_level\":\"0.3\",\"is_volume_muted\":\"false\",\"source\":\"Sonos\"},\"media_player.monoprice_living_room\":{\"state\":\"on\",\"volume_level\":\"0.4\",\"is_volume_muted\":\"false\",\"source\":\"Sonos\"},\"media_player.sonos_family_room\":{\"state\":\"on\"},\"media_player.sonos_master_bedroom\":{\"state\":\"on\",\"volume_level\":\"0.3\"},\"media_player.sonos_game_room\":{\"state\":\"on\",\"volume_level\":\"0.5\"},\"media_player.sonos_portable\":{\"state\":\"on\",\"volume_level\":\"0.4\"}}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":600,"y":180,"wires":[["1aaf459e.54b29a"]]},{"id":"3b099306.2ba46c","type":"api-current-state","z":"f1b31fe9.eb62a","name":"Deck Speakers On?","server":"d70513fd.32139","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"media_player.monoprice_deck","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":580,"y":340,"wires":[["f130e1e0.a7e1"],[]]},{"id":"f130e1e0.a7e1","type":"api-call-service","z":"f1b31fe9.eb62a","name":"Prepare Deck Speakers","server":"d70513fd.32139","version":1,"debugenabled":false,"service_domain":"scene","service":"apply","entityId":"","data":"{\"entities\":{\"media_player.monoprice_deck\":{\"state\":\"on\",\"volume_level\":\"0.8\",\"is_volume_muted\":\"false\",\"source\":\"Sonos\"}}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":340,"wires":[[]]},{"id":"7330ff2f.ddc75","type":"comment","z":"f1b31fe9.eb62a","name":"Make the alexa tts message","info":"","x":1540,"y":760,"wires":[]},{"id":"419abb7b.0fc1b4","type":"api-call-service","z":"f1b31fe9.eb62a","name":"Restore Media Players","server":"d70513fd.32139","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.media_players_before","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1420,"y":180,"wires":[[]]},{"id":"d23dc80.05def38","type":"delay","z":"f1b31fe9.eb62a","name":"Delay 4s","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1220,"y":180,"wires":[["419abb7b.0fc1b4"]]},{"id":"1aaf459e.54b29a","type":"delay","z":"f1b31fe9.eb62a","name":"Delay 3s","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":820,"y":180,"wires":[["107fe509.4b8e7b"]]},{"id":"531b1d90.0bc774","type":"comment","z":"a0b16544.5f71f8","name":"Cloud Say Test","info":"","x":120,"y":420,"wires":[]},{"id":"c607da9a.489ba8","type":"comment","z":"f1b31fe9.eb62a","name":"Voice Announcements via Nabu Casa tts.cloud_say and using Sonos","info":"","x":270,"y":20,"wires":[]},{"id":"1f60750e.a7244b","type":"comment","z":"73910996.81aab8","name":"Voice Announcements via Alexa","info":"","x":150,"y":40,"wires":[]},{"id":"5e48a224.046eec","type":"api-call-service","z":"f1b31fe9.eb62a","name":"Cloud Say","server":"d70513fd.32139","version":1,"debugenabled":false,"service_domain":"tts","service":"cloud_say","entityId":"group.media_player_announce","data":"{\"message\":\"{{payload}}\",\"language\":\"en-GB\",\"options\":{\"gender\":\"female\"}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1030,"y":240,"wires":[[]]},{"id":"ca82e3a3.1671a","type":"template","z":"a0b16544.5f71f8","name":"Driveway","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"Someone is in the driveway","output":"str","x":460,"y":460,"wires":[["4fab565b.e245e8"]]},{"id":"aea3fd5e.b606","type":"comment","z":"a0b16544.5f71f8","name":"Alexa TTS Test","info":"","x":120,"y":640,"wires":[]},{"id":"9f0bca56.455158","type":"comment","z":"73910996.81aab8","name":"Text to Say is in msg.payload","info":"","x":160,"y":80,"wires":[]},{"id":"e95a781c.a7b5e8","type":"comment","z":"f1b31fe9.eb62a","name":"Text to Say is in msg.payload","info":"","x":160,"y":60,"wires":[]},{"id":"467aae4f.50ea5","type":"inject","z":"a0b16544.5f71f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":540,"wires":[["7bb885d1.80f2fc"]]},{"id":"7bb885d1.80f2fc","type":"template","z":"a0b16544.5f71f8","name":"Driveway","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"Someone is in the driveway","output":"str","x":280,"y":540,"wires":[["651f2bd2.7fd9c4"]]},{"id":"651f2bd2.7fd9c4","type":"subflow:f1b31fe9.eb62a","z":"a0b16544.5f71f8","name":"","env":[],"x":540,"y":540,"wires":[]},{"id":"f13947c6.5be358","type":"api-call-service","z":"73910996.81aab8","name":"Media Players Save State","server":"d70513fd.32139","version":1,"debugenabled":false,"service_domain":"scene","service":"create","entityId":"","data":"{\"scene_id\":\"media_players_before\",\"snapshot_entities\":[\"media_player.monoprice_kitchen\",\"media_player.monoprice_deck\",\"media_player.monoprice_living_room\",\"media_player.sonos_family_room\",\"media_player.sonos_master_bedroom\",\"media_player.sonos_game_room\",\"media_player.sonos_portable\"]}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":370,"y":180,"wires":[["29b15517.9b8b9a","7ac05e11.7a4df"]]},{"id":"303a0f63.7284f","type":"switch","z":"6acb74dc.b68e4c","name":"Detection Type?","property":"name","propertyType":"msg","rules":[{"t":"cont","v":"detected:person","vt":"str"},{"t":"cont","v":"detected:car","vt":"str"},{"t":"cont","v":"detected:truck","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":4,"x":560,"y":100,"wires":[["47796045.9f58b"],["106fe5c3.0bea8a"],["916a5681.35f988"],["4481ca48.bdfcb4"]]},{"id":"47acdbb6.3538b4","type":"switch","z":"6acb74dc.b68e4c","name":"Which Camera?","property":"monitor","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"}],"checkall":"false","repair":false,"outputs":8,"x":180,"y":340,"wires":[["303a0f63.7284f"],["28cd9f08.0d3b6"],["e2a10c30.b82a6"],["b8df8841.a1c708"],[],["2540d535.fcd0ba"],["713e6d7b.583434"],[]]},{"id":"b8df8841.a1c708","type":"switch","z":"6acb74dc.b68e4c","name":"Detection Type?","property":"name","propertyType":"msg","rules":[{"t":"cont","v":"detected:person","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":560,"y":440,"wires":[["16d9513a.0e95ff"],["fb744f7.3d5a7b"]]},{"id":"2540d535.fcd0ba","type":"switch","z":"6acb74dc.b68e4c","name":"Detection Type?","property":"name","propertyType":"msg","rules":[{"t":"cont","v":"detected:person","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":560,"y":540,"wires":[["1d64e3a.80b541c"],["7c0dc7f0.98e148"]]},{"id":"15ce6e55.0851d2","type":"function","z":"6acb74dc.b68e4c","name":"Get Monitor + Name","func":"msg.monitor = msg.payload.monitor;\nmsg.name = msg.payload.name;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":140,"wires":[["47acdbb6.3538b4"]]},{"id":"a8c326b9.83fba8","type":"comment","z":"6acb74dc.b68e4c","name":"Wait for Alexa, Reset Media Players","info":"","x":1920,"y":60,"wires":[]},{"id":"28cd9f08.0d3b6","type":"switch","z":"6acb74dc.b68e4c","name":"Detection Type?","property":"name","propertyType":"msg","rules":[{"t":"cont","v":"detected:person","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":560,"y":240,"wires":[["f614d14.e33683"],["dbefcbb9.100a88"]]},{"id":"e2a10c30.b82a6","type":"switch","z":"6acb74dc.b68e4c","name":"Detection Type?","property":"name","propertyType":"msg","rules":[{"t":"cont","v":"detected:person","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":560,"y":340,"wires":[["ee32357e.f0f438"],["6aa8f32b.039bac"]]},{"id":"713e6d7b.583434","type":"switch","z":"6acb74dc.b68e4c","name":"Detection Type?","property":"name","propertyType":"msg","rules":[{"t":"cont","v":"detected:person","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":560,"y":640,"wires":[["45e519bd.da7508"],["2f93aa29.7282a6"]]},{"id":"c43717c9.7ec9a8","type":"comment","z":"6acb74dc.b68e4c","name":"Camera Voice Notification","info":"","x":130,"y":40,"wires":[]},{"id":"47796045.9f58b","type":"template","z":"6acb74dc.b68e4c","name":"Someone is in the driveway","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"Someone is in the driveway","output":"str","x":820,"y":60,"wires":[["58ba619f.b47f1"]]},{"id":"106fe5c3.0bea8a","type":"template","z":"6acb74dc.b68e4c","name":"There is a car in the driveway","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"There is a car in the driveway","output":"str","x":820,"y":100,"wires":[["58ba619f.b47f1"]]},{"id":"4481ca48.bdfcb4","type":"template","z":"6acb74dc.b68e4c","name":"Motion detected in the driveway","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"Motion detected in the driveway","output":"str","x":830,"y":180,"wires":[["58ba619f.b47f1"]]},{"id":"f614d14.e33683","type":"template","z":"6acb74dc.b68e4c","name":"Someone is near the pool","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"Someone is near the pool","output":"str","x":790,"y":220,"wires":[["58ba619f.b47f1"]]},{"id":"dbefcbb9.100a88","type":"template","z":"6acb74dc.b68e4c","name":"Motion detected near the pool","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"Motion detected near the pool","output":"str","x":810,"y":260,"wires":[["58ba619f.b47f1"]]},{"id":"ee32357e.f0f438","type":"template","z":"6acb74dc.b68e4c","name":"Someone is near the basement door","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"Someone is near the basement door","output":"str","x":830,"y":320,"wires":[["58ba619f.b47f1"]]},{"id":"6aa8f32b.039bac","type":"template","z":"6acb74dc.b68e4c","name":"Motion detected near the basement door","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"Motion detected near the basement door","output":"str","x":840,"y":360,"wires":[["58ba619f.b47f1"]]},{"id":"16d9513a.0e95ff","type":"template","z":"6acb74dc.b68e4c","name":"Someone is at the front door","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"Someone is at the front door","output":"str","x":800,"y":420,"wires":[["58ba619f.b47f1"]]},{"id":"fb744f7.3d5a7b","type":"template","z":"6acb74dc.b68e4c","name":"Motion detected at the front door","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"Motion detected at the front door","output":"str","x":820,"y":460,"wires":[["58ba619f.b47f1"]]},{"id":"1d64e3a.80b541c","type":"template","z":"6acb74dc.b68e4c","name":"Someone is on the deck","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"Someone is on the deck","output":"str","x":790,"y":520,"wires":[["58ba619f.b47f1"]]},{"id":"7c0dc7f0.98e148","type":"template","z":"6acb74dc.b68e4c","name":"Motion detected on the deck","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"Motion detected on the deck","output":"str","x":800,"y":560,"wires":[["58ba619f.b47f1"]]},{"id":"45e519bd.da7508","type":"template","z":"6acb74dc.b68e4c","name":"Someone is near the back patio","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"Someone is near the back patio","output":"str","x":810,"y":620,"wires":[["58ba619f.b47f1"]]},{"id":"2f93aa29.7282a6","type":"template","z":"6acb74dc.b68e4c","name":"Motion detected near the back patio","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"Motion detected near the back patio","output":"str","x":830,"y":660,"wires":[["58ba619f.b47f1"]]},{"id":"58ba619f.b47f1","type":"subflow:f1b31fe9.eb62a","z":"6acb74dc.b68e4c","name":"Voice Notification via Cloud Say","env":[],"x":1290,"y":320,"wires":[]},{"id":"cdf98d76.c7143","type":"subflow:6acb74dc.b68e4c","z":"1db31519.a4386b","name":"Camera Voice Notification","env":[],"x":1230,"y":220,"wires":[]},{"id":"8bed7bb9.960338","type":"inject","z":"1db31519.a4386b","name":"Test Camera Voice Notify","props":[{"p":"payload.monitor","v":"1","vt":"str"},{"p":"payload.name","v":"detected:person","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":970,"y":60,"wires":[["cdf98d76.c7143"]]},{"id":"916a5681.35f988","type":"template","z":"6acb74dc.b68e4c","name":"There is a truck in the driveway","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"There is a truck in the driveway","output":"str","x":830,"y":140,"wires":[["58ba619f.b47f1"]]},{"id":"65b05532.f90d5c","type":"comment","z":"16e3accd.e4a563","name":"Camera Voice Notification Old","info":"","x":120,"y":20,"wires":[]},{"id":"107fe509.4b8e7b","type":"api-call-service","z":"f1b31fe9.eb62a","name":"Cloud Say on Sonos","server":"d70513fd.32139","version":1,"debugenabled":false,"service_domain":"tts","service":"cloud_say","entityId":"media_player.sonos_master_bedroom, media_player.sonos_game_room, media_player.sonos_portable, media_player.sonos_family_room","data":"{\"message\":\"{{payload}}\",\"language\":\"en-GB\",\"options\":{\"gender\":\"female\"}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1020,"y":180,"wires":[["d23dc80.05def38"]]},{"id":"3b4523c6.c9247c","type":"template","z":"482170a5.4c83a","name":"The garage door has opened","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"The garage door has opened","output":"str","x":960,"y":180,"wires":[["12d549f4.aef7a6"]]},{"id":"12d549f4.aef7a6","type":"subflow:f1b31fe9.eb62a","z":"482170a5.4c83a","name":"Voice Notification via Cloud Say","env":[],"x":1250,"y":180,"wires":[]},{"id":"872548ce.2d40a8","type":"api-current-state","z":"f1b31fe9.eb62a","name":"Notify Voice?","server":"d70513fd.32139","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.notify_voice","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":350,"y":120,"wires":[["50b9facd.22fa04"],[]]},{"id":"ecb81445.faf2e8","type":"api-current-state","z":"f1b31fe9.eb62a","name":"Family Home?","server":"d70513fd.32139","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.family","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":160,"y":120,"wires":[["872548ce.2d40a8"],[]]},{"id":"234c4d8c.d1a192","type":"comment","z":"482170a5.4c83a","name":"When House Alarm is Armed Home","info":"","x":170,"y":1000,"wires":[]},{"id":"92512c12.2bb03","type":"server-state-changed","z":"482170a5.4c83a","name":"If House Alarm Armed Home","server":"d70513fd.32139","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"alarm_control_panel.amin_residence","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"armed_home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"5","forType":"num","forUnits":"seconds","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":150,"y":1040,"wires":[["d3ed453.5bd11b8"],[]]},{"id":"d3ed453.5bd11b8","type":"template","z":"482170a5.4c83a","name":"The house is now alarmed","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"The house is now alarmed","output":"str","x":430,"y":1040,"wires":[["2013f9cc.ad6496"]]},{"id":"2013f9cc.ad6496","type":"subflow:f1b31fe9.eb62a","z":"482170a5.4c83a","name":"Voice Notification via Cloud Say","env":[],"x":720,"y":1040,"wires":[]},{"id":"c9ceee1.6ece81","type":"comment","z":"482170a5.4c83a","name":"When House Alarm is Disarmed (after Arm Home)","info":"","x":190,"y":1120,"wires":[]},{"id":"4206aaa8.98a584","type":"template","z":"482170a5.4c83a","name":"The house alarm is now off","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"The house alarm is now off","output":"str","x":510,"y":1160,"wires":[["f7aef93.5210a08"]]},{"id":"f7aef93.5210a08","type":"subflow:f1b31fe9.eb62a","z":"482170a5.4c83a","name":"Voice Notification via Cloud Say","env":[],"x":800,"y":1160,"wires":[]},{"id":"a7fad53b.3f7528","type":"trigger-state","z":"482170a5.4c83a","name":"If House Alarm Disarmed after Armed Home","server":"d70513fd.32139","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"alarm_control_panel.amin_residence","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"disarmed","propertyValue":"new_state.state"},{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"armed_home","propertyValue":"old_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":180,"y":1160,"wires":[["4206aaa8.98a584"],[]]},{"id":"e2f149d5.fef2b8","type":"bigtimer","z":"482170a5.4c83a","outtopic":"","outpayload1":"ON","outpayload2":"OFF","name":"Disable Voice Off Hours 0800-2100, Reset All at 0800","comment":"","lat":"40.992380","lon":"-73.826390","starttime":"480","endtime":"1260","starttime2":0,"endtime2":0,"startoff":"0","endoff":"0","startoff2":0,"endoff2":0,"offs":0,"outtext1":"ON","outtext2":"OFF","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":true,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":370,"y":1480,"wires":[["77753fbc.fed0e"],[],[]]},{"id":"77753fbc.fed0e","type":"switch","z":"482170a5.4c83a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":680,"y":1480,"wires":[["76e0e7c7.52d5f8","6af01e65.94d97","9a3ddc75.a0e38","93da0a14.1a9288"],["a7aa174c.d7f5a8"]]},{"id":"76e0e7c7.52d5f8","type":"api-call-service","z":"482170a5.4c83a","name":"Notify Voice On","server":"d70513fd.32139","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.notify_voice","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":900,"y":1520,"wires":[[]]},{"id":"a7aa174c.d7f5a8","type":"api-call-service","z":"482170a5.4c83a","name":"Notify Voice Off","server":"d70513fd.32139","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.notify_voice","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":900,"y":1580,"wires":[[]]},{"id":"2c144ffb.919ba","type":"comment","z":"482170a5.4c83a","name":"Off Hours Disable Voice Notifications, Reset all in AM","info":"","x":210,"y":1400,"wires":[]},{"id":"92dfd433.30b2c8","type":"inject","z":"482170a5.4c83a","name":"on","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":80,"y":1460,"wires":[["e2f149d5.fef2b8"]]},{"id":"ca5002e9.6d3cc","type":"inject","z":"482170a5.4c83a","name":"off","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":80,"y":1520,"wires":[["e2f149d5.fef2b8"]]},{"id":"6af01e65.94d97","type":"api-call-service","z":"482170a5.4c83a","name":"Camera Notify Tablet On","server":"d70513fd.32139","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.camera_notify_tablet","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":920,"y":1340,"wires":[[]]},{"id":"9a3ddc75.a0e38","type":"api-call-service","z":"482170a5.4c83a","name":"Camera Notify Mobile On","server":"d70513fd.32139","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.camera_notify_mobile","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":920,"y":1400,"wires":[[]]},{"id":"ec7bacff.4c688","type":"server-state-changed","z":"482170a5.4c83a","name":"If Raining?","server":"d70513fd.32139","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.openweathermap_condition","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"sunny,cloudy,fog,partlycloudy","halt_if_type":"str","halt_if_compare":"does_not_include","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":80,"y":1640,"wires":[["b8cde089.59e0e"],[]]},{"id":"103f6537.1fa4ab","type":"comment","z":"482170a5.4c83a","name":"Rain Test","info":"","x":90,"y":1600,"wires":[]},{"id":"b8cde089.59e0e","type":"api-call-service","z":"482170a5.4c83a","name":"Test Mobile Notification","server":"d70513fd.32139","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_rma","entityId":"","data":"{\"title\":\"Weather Update\",\"message\":\"{{payload}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":290,"y":1640,"wires":[[]]},{"id":"e1b48685.6ceca8","type":"comment","z":"f1b31fe9.eb62a","name":"sonos_family_room will go to monoprice speakers","info":"","x":1030,"y":120,"wires":[]},{"id":"794b63b6.210d6c","type":"server-state-changed","z":"fb29d64d.c2e7f8","name":"","server":"d70513fd.32139","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.dinner_announcement","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":240,"y":120,"wires":[["564d354f.4c0c3c","14f612ab.429d3d"],[]]},{"id":"cc337c3f.7e522","type":"comment","z":"fb29d64d.c2e7f8","name":"Dinner Announcement","info":"","x":130,"y":60,"wires":[]},{"id":"564d354f.4c0c3c","type":"template","z":"fb29d64d.c2e7f8","name":"Hello kids, it is now time for dinner","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"Hello kids, it is now time for dinner","output":"str","x":620,"y":120,"wires":[["5fb258c3.667198"]]},{"id":"5fb258c3.667198","type":"subflow:f1b31fe9.eb62a","z":"fb29d64d.c2e7f8","name":"Voice Notification via Cloud Say","env":[],"x":1010,"y":120,"wires":[]},{"id":"c49ae787.a033a8","type":"api-call-service","z":"fb29d64d.c2e7f8","name":"","server":"d70513fd.32139","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.dinner_announcement","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":740,"y":180,"wires":[[]]},{"id":"14f612ab.429d3d","type":"delay","z":"fb29d64d.c2e7f8","name":"Wait 2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":180,"wires":[["c49ae787.a033a8"]]},{"id":"9d9096ee.b5f748","type":"comment","z":"482170a5.4c83a","name":"When Sejal leaves work","info":"","x":120,"y":1740,"wires":[]},{"id":"f32acd56.a03d2","type":"template","z":"482170a5.4c83a","name":"Say-juhl has left work","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"Say-juhl has left work","output":"str","x":380,"y":1780,"wires":[["778cca83.3424b4"]]},{"id":"778cca83.3424b4","type":"subflow:f1b31fe9.eb62a","z":"482170a5.4c83a","name":"Voice Notification via Cloud Say","env":[],"x":630,"y":1780,"wires":[]},{"id":"f927388a.9fc3f8","type":"trigger-state","z":"482170a5.4c83a","name":"If Sejal Leaves Work","server":"d70513fd.32139","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"person.sejal_amin","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Rye Radiology","propertyValue":"old_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":140,"y":1780,"wires":[["f32acd56.a03d2"],[]]},{"id":"e06b8a11.31f5f8","type":"comment","z":"482170a5.4c83a","name":"When Sejal arrives at work","info":"","x":130,"y":1840,"wires":[]},{"id":"eb6919aa.18cd68","type":"template","z":"482170a5.4c83a","name":"Say-juhl has arrived at work","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"Say-juhl has arrived at work","output":"str","x":400,"y":1880,"wires":[["403a5e97.3156c"]]},{"id":"403a5e97.3156c","type":"subflow:f1b31fe9.eb62a","z":"482170a5.4c83a","name":"Voice Notification via Cloud Say","env":[],"x":670,"y":1880,"wires":[]},{"id":"541f6bff.44d384","type":"trigger-state","z":"482170a5.4c83a","name":"If Sejal Arrives at Work","server":"d70513fd.32139","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"person.sejal_amin","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Rye Radiology","propertyValue":"new_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":140,"y":1880,"wires":[["eb6919aa.18cd68"],[]]},{"id":"1dfc2c4c.e19ce4","type":"api-current-state","z":"1db31519.a4386b","name":"Camera All Notifications?","server":"d70513fd.32139","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.camera_all_notifications","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":870,"y":260,"wires":[["f064116d.a98ec","cdf98d76.c7143","1e2a8566.038ecb"],[]]},{"id":"610476e7.4256f8","type":"batch","z":"f1b31fe9.eb62a","name":"","mode":"count","count":10,"overlap":0,"interval":10,"allowEmptySequence":false,"topics":[{"topic":""}],"x":120,"y":360,"wires":[[]]},{"id":"65051bef.ecbdc4","type":"delay","z":"482170a5.4c83a","name":"Wait 10s","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":180,"wires":[["3b4523c6.c9247c"]]},{"id":"93da0a14.1a9288","type":"api-call-service","z":"482170a5.4c83a","name":"Camera All Notifications On","server":"d70513fd.32139","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.camera_all_notifications","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":920,"y":1460,"wires":[[]]}]