node-red/.flows.json.backup
[{"id":"1db31519.a4386b","type":"tab","label":"Cameras","disabled":false,"info":""},{"id":"e8cdc7cf.2d3ff8","type":"tab","label":"Zoneminder API 2.0 Example","disabled":false,"info":""},{"id":"754ffcc2.2e16e4","type":"tab","label":"Actionable Notifications","disabled":false,"info":""},{"id":"3e0f1845.f31c98","type":"subflow","name":"Camera Mobile Notification","info":"","category":"","in":[{"x":20,"y":120,"wires":[{"id":"8da7edec.e8a7c"},{"id":"752e99c4.f13038"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"4592304b.99494","type":"subflow","name":"Zoneminder Image URL","info":"","category":"","in":[{"x":40,"y":120,"wires":[{"id":"dcd56669.3b7748"}]}],"out":[{"x":380,"y":200,"wires":[{"id":"4adc991e.989ea8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"d70513fd.32139","type":"server","name":"Home Assistant","addon":true},{"id":"181eebe1.203a74","type":"mqtt-broker","name":"HA","broker":"192.168.1.16","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e74a0da6.41009","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"be724ec6.1fa79","type":"mqtt in","z":"1db31519.a4386b","name":"Camera 1 MQTT","topic":"zoneminder/1","qos":"0","datatype":"json","broker":"181eebe1.203a74","x":100,"y":40,"wires":[["124d0506.5a588b"]]},{"id":"22a210d5.64e18","type":"api-call-service","z":"3e0f1845.f31c98","name":"Camera Mobile Notification","server":"d70513fd.32139","version":1,"debugenabled":false,"service_domain":"notify","service":"all_family_mobile","entityId":"","data":"{\"title\":\"Motion Detected\",\"message\":\"{{payload.message}}\",\"data\":{\"sticky\":\"true\",\"push\":{\"category\":\"camera_motion_snooze\"},\"attachment\":{\"url\":\"https://castlewalk.rohanamin.com:8443/zm/index.php?view=image&eid={{payload.eventid}}&fid=objdetect&width=600&token={{payload.token}}\",\"content-type\":\"jpg\",\"hide-thumbnail\":\"false\"}}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":600,"y":100,"wires":[[]]},{"id":"db80081e.067b18","type":"subflow:3e0f1845.f31c98","z":"1db31519.a4386b","name":"Camera Mobile Notification","env":[],"x":820,"y":260,"wires":[]},{"id":"8da7edec.e8a7c","type":"change","z":"3e0f1845.f31c98","name":"Process MQTT","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"message\" : msg.payload.name,\t    \"eventid\" : msg.payload.eventid\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":100,"wires":[["8448da47.e8d4f8"]]},{"id":"ba0203b7.64695","type":"debug","z":"3e0f1845.f31c98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":170,"y":160,"wires":[]},{"id":"28458a47.6a96f6","type":"mqtt in","z":"1db31519.a4386b","name":"Camera 2 MQTT","topic":"zoneminder/2","qos":"0","datatype":"json","broker":"181eebe1.203a74","x":100,"y":100,"wires":[["7820ec4a.4a5d54"]]},{"id":"bbba7c38.a63e2","type":"mqtt in","z":"1db31519.a4386b","name":"Camera 3 MQTT","topic":"zoneminder/3","qos":"0","datatype":"json","broker":"181eebe1.203a74","x":100,"y":160,"wires":[["9af3cc3f.3a2fe"]]},{"id":"6b831815.a4db58","type":"mqtt in","z":"1db31519.a4386b","name":"Camera 4 MQTT","topic":"zoneminder/4","qos":"0","datatype":"json","broker":"181eebe1.203a74","x":100,"y":220,"wires":[["60f3bdf4.07d7a4"]]},{"id":"ec2b982c.266b78","type":"mqtt in","z":"1db31519.a4386b","name":"Camera 5 MQTT","topic":"zoneminder/5","qos":"0","datatype":"json","broker":"181eebe1.203a74","x":100,"y":280,"wires":[["c9e7fa68.060568"]]},{"id":"6074063c.9bb8c8","type":"mqtt in","z":"1db31519.a4386b","name":"Camera 6 MQTT","topic":"zoneminder/6","qos":"0","datatype":"json","broker":"181eebe1.203a74","x":100,"y":340,"wires":[["453c821c.0f13fc"]]},{"id":"165d02f2.721ffd","type":"mqtt in","z":"1db31519.a4386b","name":"Camera 7 MQTT","topic":"zoneminder/7","qos":"0","datatype":"json","broker":"181eebe1.203a74","x":100,"y":400,"wires":[["c527d403.0f5918"]]},{"id":"1799fb39.e20835","type":"mqtt in","z":"1db31519.a4386b","name":"Camera 8 MQTT","topic":"zoneminder/8","qos":"0","datatype":"json","broker":"181eebe1.203a74","x":100,"y":460,"wires":[["a2720002.fc9e9"]]},{"id":"7e611fba.3dab3","type":"inject","z":"e8cdc7cf.2d3ff8","name":"","repeat":"60","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":110,"y":100,"wires":[["7b163fdb.fa438"]]},{"id":"c46be13.56f2e2","type":"http request","z":"e8cdc7cf.2d3ff8","name":"Post Login","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://{{zmip}}/zm/api/host/login.json","tls":"e74a0da6.41009","persist":false,"proxy":"","authType":"","x":130,"y":200,"wires":[["66dd393d.691f58","f4ddde9e.a19d5","9bb093a0.0d2f7"]]},{"id":"f4fc0507.6482b8","type":"function","z":"e8cdc7cf.2d3ff8","name":"set login headers","func":"msg.payload = \"user=\"+msg.zmuser+\"&pass=\"+msg.zmpass;\nmsg.headers = {};\nmsg.headers['Accept'] = 'text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8';\nmsg.headers['Accept-Encoding'] = 'gzip, deflate';\nmsg.headers['Accept-Language'] = 'en-GB,en;q=0.5';\nmsg.headers['Connection'] = 'keep-alive';\nmsg.headers['Content-type'] = 'application/x-www-form-urlencoded';\nmsg.headers['Cookie'] = 'zmSkin=classic; zmCSS=classic;';\nmsg.headers['Host'] = msg.zmip;\nmsg.headers['Referer'] = \"http://\"+msg.zmip+\"/zm/\";\nmsg.headers['Upgrade-Insecure-Requests'] = '1';\nmsg.headers['User-Agent'] = 'node-red';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":100,"wires":[["c46be13.56f2e2"]]},{"id":"66dd393d.691f58","type":"json","z":"e8cdc7cf.2d3ff8","name":"","property":"payload","action":"obj","pretty":false,"x":310,"y":200,"wires":[["5d9fdfa0.1fb57"]]},{"id":"5d9fdfa0.1fb57","type":"change","z":"e8cdc7cf.2d3ff8","name":"Set Token","rules":[{"t":"set","p":"token","pt":"msg","to":"payload.access_token","tot":"msg"},{"t":"set","p":"auth","pt":"msg","to":"payload.auth","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":200,"wires":[["8f5c5168.adf8a","bb5f5ab0.a7b738"]]},{"id":"8f5c5168.adf8a","type":"http request","z":"e8cdc7cf.2d3ff8","name":"Post Request","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://{{zmip}}/zm/api/events/consoleEvents/1%20hour.json?token={{token}}","tls":"e74a0da6.41009","persist":false,"proxy":"","authType":"","x":640,"y":200,"wires":[["f4ddde9e.a19d5","634a0d23.3a5644"]]},{"id":"f4ddde9e.a19d5","type":"switch","z":"e8cdc7cf.2d3ff8","name":"If No Response","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":400,"y":300,"wires":[["ac6d255b.3da638"]]},{"id":"ac6d255b.3da638","type":"change","z":"e8cdc7cf.2d3ff8","name":"API Error","rules":[{"t":"set","p":"payload","pt":"msg","to":"ZM API Error","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":300,"wires":[["24973977.b73936"]]},{"id":"634a0d23.3a5644","type":"json","z":"e8cdc7cf.2d3ff8","name":"","property":"payload","action":"obj","pretty":false,"x":830,"y":200,"wires":[["9b7e8087.170e"]]},{"id":"24973977.b73936","type":"debug","z":"e8cdc7cf.2d3ff8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":300,"wires":[]},{"id":"9b7e8087.170e","type":"debug","z":"e8cdc7cf.2d3ff8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":200,"wires":[]},{"id":"bc3f77c3.cd7548","type":"comment","z":"e8cdc7cf.2d3ff8","name":"Change Post Login/Request if using https","info":"","x":220,"y":40,"wires":[]},{"id":"65d180d6.20fb2","type":"comment","z":"e8cdc7cf.2d3ff8","name":"Change Post Request to whatever you want from the API","info":"Currently set to get number of events in the last hour for all monitors but can be set to whatever you want.","x":610,"y":40,"wires":[]},{"id":"7b163fdb.fa438","type":"credentials","z":"e8cdc7cf.2d3ff8","name":"Zoneminder Credentials","props":[{"value":"zmip","type":"msg"},{"value":"zmuser","type":"msg"},{"value":"zmpass","type":"msg"}],"x":330,"y":100,"wires":[["f4fc0507.6482b8"]]},{"id":"9bb093a0.0d2f7","type":"debug","z":"e8cdc7cf.2d3ff8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":280,"y":380,"wires":[]},{"id":"bb5f5ab0.a7b738","type":"debug","z":"e8cdc7cf.2d3ff8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":400,"wires":[]},{"id":"dcd56669.3b7748","type":"credentials","z":"4592304b.99494","name":"Zoneminder Credentials","props":[{"value":"zmip","type":"msg"},{"value":"zmuser","type":"msg"},{"value":"zmpass","type":"msg"}],"x":190,"y":120,"wires":[["1e612a7.c38c7d6"]]},{"id":"1e612a7.c38c7d6","type":"function","z":"4592304b.99494","name":"set login headers","func":"msg.payload = \"user=\"+msg.zmuser+\"&pass=\"+msg.zmpass;\nmsg.headers = {};\nmsg.headers['Accept'] = 'text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8';\nmsg.headers['Accept-Encoding'] = 'gzip, deflate';\nmsg.headers['Accept-Language'] = 'en-GB,en;q=0.5';\nmsg.headers['Connection'] = 'keep-alive';\nmsg.headers['Content-type'] = 'application/x-www-form-urlencoded';\nmsg.headers['Cookie'] = 'zmSkin=classic; zmCSS=classic;';\nmsg.headers['Host'] = msg.zmip;\nmsg.headers['Referer'] = \"http://\"+msg.zmip+\"/zm/\";\nmsg.headers['Upgrade-Insecure-Requests'] = '1';\nmsg.headers['User-Agent'] = 'node-red';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":120,"wires":[["2b15ab3f.4ea464"]]},{"id":"2b15ab3f.4ea464","type":"http request","z":"4592304b.99494","name":"Post ZM Login","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://{{zmip}}/zm/api/host/login.json","tls":"e74a0da6.41009","persist":false,"proxy":"","authType":"","x":640,"y":120,"wires":[["a788325.f700ad"]]},{"id":"a788325.f700ad","type":"json","z":"4592304b.99494","name":"","property":"payload","action":"obj","pretty":false,"x":90,"y":200,"wires":[["4adc991e.989ea8"]]},{"id":"4adc991e.989ea8","type":"change","z":"4592304b.99494","name":"Set Token","rules":[{"t":"set","p":"payload.token","pt":"msg","to":"payload.access_token","tot":"msg"},{"t":"delete","p":"payload.credentials","pt":"msg"},{"t":"delete","p":"payload.version","pt":"msg"},{"t":"delete","p":"payload.apiversion","pt":"msg"},{"t":"delete","p":"payload.refresh_token_expires","pt":"msg"},{"t":"delete","p":"payload.refresh_token","pt":"msg"},{"t":"delete","p":"payload.access_token_expires","pt":"msg"},{"t":"delete","p":"payload.access_token","pt":"msg"},{"t":"delete","p":"payload.append_password","pt":"msg"},{"t":"delete","p":"payload.credentials","pt":"msg"},{"t":"delete","p":"zmip","pt":"msg"},{"t":"delete","p":"zmuser","pt":"msg"},{"t":"delete","p":"zmpass","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":200,"wires":[[]]},{"id":"8448da47.e8d4f8","type":"join","z":"3e0f1845.f31c98","name":"Merge","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":370,"y":100,"wires":[["22a210d5.64e18"]]},{"id":"752e99c4.f13038","type":"subflow:4592304b.99494","z":"3e0f1845.f31c98","name":"","env":[],"x":180,"y":60,"wires":[["8448da47.e8d4f8"]]},{"id":"6ad07c3.ed48f84","type":"debug","z":"3e0f1845.f31c98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":20,"wires":[]},{"id":"46744999.9926e8","type":"debug","z":"3e0f1845.f31c98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":500,"y":180,"wires":[]},{"id":"9ec6e28.fd6c92","type":"debug","z":"4592304b.99494","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":260,"y":300,"wires":[]},{"id":"b0e5e9c8.d74698","type":"debug","z":"4592304b.99494","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":300,"wires":[]},{"id":"124d0506.5a588b","type":"throttle","z":"1db31519.a4386b","name":"30s throttle","throttleType":"time","timeLimit":"30","timeLimitType":"seconds","countLimit":0,"blockSize":0,"locked":false,"x":270,"y":40,"wires":[["f064116d.a98ec"]]},{"id":"7820ec4a.4a5d54","type":"throttle","z":"1db31519.a4386b","name":"30s throttle","throttleType":"time","timeLimit":"30","timeLimitType":"seconds","countLimit":0,"blockSize":0,"locked":false,"x":270,"y":100,"wires":[["f064116d.a98ec"]]},{"id":"9af3cc3f.3a2fe","type":"throttle","z":"1db31519.a4386b","name":"30s throttle","throttleType":"time","timeLimit":"30","timeLimitType":"seconds","countLimit":0,"blockSize":0,"locked":false,"x":270,"y":160,"wires":[["f064116d.a98ec"]]},{"id":"60f3bdf4.07d7a4","type":"throttle","z":"1db31519.a4386b","name":"10s throttle","throttleType":"time","timeLimit":"10","timeLimitType":"seconds","countLimit":0,"blockSize":0,"locked":false,"x":270,"y":220,"wires":[["f064116d.a98ec"]]},{"id":"c9e7fa68.060568","type":"throttle","z":"1db31519.a4386b","name":"30s throttle","throttleType":"time","timeLimit":"30","timeLimitType":"seconds","countLimit":0,"blockSize":0,"locked":false,"x":270,"y":280,"wires":[["f064116d.a98ec"]]},{"id":"453c821c.0f13fc","type":"throttle","z":"1db31519.a4386b","name":"30s throttle","throttleType":"time","timeLimit":"30","timeLimitType":"seconds","countLimit":0,"blockSize":0,"locked":false,"x":270,"y":340,"wires":[["f064116d.a98ec"]]},{"id":"c527d403.0f5918","type":"throttle","z":"1db31519.a4386b","name":"10s throttle","throttleType":"time","timeLimit":"10","timeLimitType":"seconds","countLimit":0,"blockSize":0,"locked":false,"x":270,"y":400,"wires":[["f064116d.a98ec"]]},{"id":"a2720002.fc9e9","type":"throttle","z":"1db31519.a4386b","name":"10s throttle","throttleType":"time","timeLimit":"10","timeLimitType":"seconds","countLimit":0,"blockSize":0,"locked":false,"x":270,"y":460,"wires":[["f064116d.a98ec"]]},{"id":"82440157.9ff1","type":"server-events","z":"754ffcc2.2e16e4","name":"","server":"d70513fd.32139","event_type":"","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"x":80,"y":180,"wires":[["331a69da.8a8656"]]},{"id":"331a69da.8a8656","type":"switch","z":"754ffcc2.2e16e4","name":"Camera Motion Snooze","property":"payload.event.categoryName","propertyType":"msg","rules":[{"t":"eq","v":"camera_motion_snooze","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":180,"wires":[["8b4b27f8.dc5648"]]},{"id":"8b4b27f8.dc5648","type":"switch","z":"754ffcc2.2e16e4","name":"Snooze Time","property":"payload.event.actionName","propertyType":"msg","rules":[{"t":"eq","v":"SNOOZE_15","vt":"str"},{"t":"eq","v":"SNOOZE_60","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":180,"wires":[["52b724b8.0e3afc"],[]]},{"id":"52b724b8.0e3afc","type":"debug","z":"754ffcc2.2e16e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.event","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":140,"wires":[]},{"id":"f064116d.a98ec","type":"api-current-state","z":"1db31519.a4386b","name":"Camera Notify?","server":"d70513fd.32139","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.camera_notify","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":600,"y":260,"wires":[["db80081e.067b18"],[]]},{"id":"8d15f8c8.6d1538","type":"server-events","z":"1db31519.a4386b","name":"","server":"d70513fd.32139","event_type":"","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"x":80,"y":591,"wires":[["fa001940.7e2168"]]},{"id":"fa001940.7e2168","type":"switch","z":"1db31519.a4386b","name":"Camera Motion Snooze","property":"payload.event.categoryName","propertyType":"msg","rules":[{"t":"eq","v":"camera_motion_snooze","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":591,"wires":[["a401cd33.61b0e"]]},{"id":"2a0cd0bb.08084","type":"switch","z":"1db31519.a4386b","name":"Snooze Time","property":"payload.event.actionName","propertyType":"msg","rules":[{"t":"eq","v":"SNOOZE_15","vt":"str"},{"t":"eq","v":"SNOOZE_60","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":660,"wires":[[],[]]},{"id":"ac29a3de.312f1","type":"comment","z":"1db31519.a4386b","name":"Actionable Notifications for Camera Snooze","info":"","x":190,"y":540,"wires":[]},{"id":"a401cd33.61b0e","type":"api-call-service","z":"1db31519.a4386b","name":"Camera Notify Off","server":"d70513fd.32139","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.camera_notify","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":130,"y":660,"wires":[["2a0cd0bb.08084"]]}]