node-red/flows.json
[{"id":"835c17242cf2c376","type":"tab","label":"Frigate","disabled":false,"info":"","env":[]},{"id":"c21d6c9cf947a4c8","type":"tab","label":"Zigbee & YoLink","disabled":false,"info":"","env":[]},{"id":"a0b16544.5f71f8","type":"tab","label":"Alexa","disabled":false,"info":""},{"id":"52aab07a.c206e","type":"tab","label":"Lighting","disabled":false,"info":""},{"id":"482170a5.4c83a","type":"tab","label":"Doors & Presence","disabled":false,"info":""},{"id":"d6fba4b7.17e0c8","type":"tab","label":"Audio/Video","disabled":false,"info":""},{"id":"a78dc037.004f6","type":"tab","label":"Actionable Notifications","disabled":false,"info":""},{"id":"fb29d64d.c2e7f8","type":"tab","label":"Announcements","disabled":false,"info":""},{"id":"a1d20ea40720ef95","type":"tab","label":"Examples / Test","disabled":false,"info":"","env":[]},{"id":"604fe48d.66acdc","type":"subflow","name":"Cameras on Screens","info":"","category":"","in":[{"x":40,"y":160,"wires":[{"id":"fa5bbd92c214cad2"}]}],"out":[],"env":[],"meta":{},"color":"#DDAA99"},{"id":"73910996.81aab8","type":"subflow","name":"Voice Notification via Alexa","info":"","category":"","in":[{"x":40,"y":140,"wires":[{"id":"2798946c752eaa67"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"f1b31fe9.eb62a","type":"subflow","name":"Voice Notification via Cloud Say","info":"","category":"","in":[{"x":40,"y":120,"wires":[{"id":"872548ce.2d40a8"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"bc22bf8c80492625","type":"subflow","name":"Camera Mobile Notification Frigate","info":"","category":"","in":[{"x":40,"y":120,"wires":[]}],"out":[],"env":[],"meta":{},"color":"#DDAA99"},{"id":"d70513fd.32139","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"e74a0da6.41009","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"24975ac8.2d8616","type":"alexa-remote-account","name":"My Alexa","authMethod":"proxy","proxyOwnIp":"192.168.1.16","proxyPort":"3456","cookieFile":"","refreshInterval":"3","alexaServiceHost":"pitangui.amazon.com","amazonPage":"amazon.com","acceptLanguage":"en-US","userAgent":"","useWsMqtt":"on","autoInit":"on"},{"id":"17362ae3.584025","type":"alexa-remote-account","name":"My Alexa Cookie","authMethod":"cookie","proxyOwnIp":"localhost","proxyPort":"3456","cookieFile":"","refreshInterval":"3","alexaServiceHost":"pitangui.amazon.com","amazonPage":"amazon.com","acceptLanguage":"en-US","userAgent":"","useWsMqtt":"on","autoInit":"on"},{"id":"4238db6e.227ed4","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"homeassistant","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"849977e5.257f68","type":"tls-config","name":"HASS-TLS","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"317b3b522e841219","type":"comment","z":"604fe48d.66acdc","name":"msg.payload contains the input","info":"msg.payload.after.camera","x":170,"y":40,"wires":[]},{"id":"3d71b58c5cc56ec5","type":"switch","z":"604fe48d.66acdc","name":"filter which camera?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"frigate_driveway","vt":"str"},{"t":"eq","v":"frigate_front_door","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":380,"y":160,"wires":[["3e077160d84c9902","f147d2d76d1917b2"],["3613f19a57c23ba2","0971d9b49ca07e01"]]},{"id":"3e077160d84c9902","type":"api-call-service","z":"604fe48d.66acdc","name":"Turn on Master Bedroom Screen","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.fkb_master_bedroom_screen"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":660,"y":120,"wires":[["7ac853b4d02d4cf3"]]},{"id":"60f17748d2cfe664","type":"api-call-service","z":"604fe48d.66acdc","name":"Stream Driveway Camera to Family Room TV","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"camera","service":"play_stream","areaId":[],"deviceId":[],"entityId":[],"data":"{\"entity_id\":\"camera.driveway\",\"media_player\":\"media_player.family_room_tv_cast\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":930,"y":160,"wires":[["75d08bd9f1d74985"]]},{"id":"f147d2d76d1917b2","type":"api-current-state","z":"604fe48d.66acdc","name":"Family Room TV Off?","server":"d70513fd.32139","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.family_room_tv","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":620,"y":160,"wires":[["60f17748d2cfe664"],[]]},{"id":"9c95bd5e173a8350","type":"delay","z":"604fe48d.66acdc","name":"60s delay","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1160,"y":120,"wires":[["cc80f6f950300885"]]},{"id":"75d08bd9f1d74985","type":"delay","z":"604fe48d.66acdc","name":"75 delay","pauseType":"delay","timeout":"75","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1220,"y":160,"wires":[["47843c0a82f56953"]]},{"id":"cc80f6f950300885","type":"api-call-service","z":"604fe48d.66acdc","name":"Tablet Start URL","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"fully_kiosk","service":"load_url","areaId":[],"deviceId":["b65be00c1b9d11ebb862bf4aaace5649"],"entityId":[],"data":"{\"url\":\"http://192.168.1.16:8123/lovelace/home\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1360,"y":120,"wires":[[]]},{"id":"47843c0a82f56953","type":"api-call-service","z":"604fe48d.66acdc","name":"Turn off Family Room TV","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"media_player","service":"turn_off","areaId":[],"deviceId":[],"entityId":["media_player.family_room_tv"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1430,"y":160,"wires":[[]]},{"id":"3613f19a57c23ba2","type":"api-call-service","z":"604fe48d.66acdc","name":"Turn on MB and Front Door Screen","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.fkb_front_door_screen","switch.fkb_master_bedroom_screen"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":660,"y":220,"wires":[["a8d22aded6b4556a"]]},{"id":"3cb5333be0488caa","type":"delay","z":"604fe48d.66acdc","name":"60s delay","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1160,"y":220,"wires":[["29c5964623199f8a"]]},{"id":"29c5964623199f8a","type":"api-call-service","z":"604fe48d.66acdc","name":"Tablet Start URL","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"fully_kiosk","service":"load_url","areaId":[],"deviceId":["ba19ac2e12dc0965e39a9a580bfc5a71","b65be00c1b9d11ebb862bf4aaace5649"],"entityId":[],"data":"{\"url\":\"http://192.168.1.16:8123/lovelace/home\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1340,"y":220,"wires":[[]]},{"id":"0971d9b49ca07e01","type":"api-current-state","z":"604fe48d.66acdc","name":"Family Room TV Off?","server":"d70513fd.32139","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.family_room_tv","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":620,"y":260,"wires":[["0a862e5865feebb6"],[]]},{"id":"0a862e5865feebb6","type":"api-call-service","z":"604fe48d.66acdc","name":"Stream Front Door Camera to Family Room TV","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"camera","service":"play_stream","areaId":[],"deviceId":[],"entityId":[],"data":"{\"entity_id\":\"camera.front_door\",\"media_player\":\"media_player.family_room_tv_cast\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":940,"y":260,"wires":[["e338f8c9e5a6dc05"]]},{"id":"e338f8c9e5a6dc05","type":"delay","z":"604fe48d.66acdc","name":"75s delay","pauseType":"delay","timeout":"75","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1220,"y":260,"wires":[["eaf6a38e16c82a27"]]},{"id":"eaf6a38e16c82a27","type":"api-call-service","z":"604fe48d.66acdc","name":"Turn off Family Room TV","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"media_player","service":"turn_off","areaId":[],"deviceId":[],"entityId":["media_player.family_room_tv"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1430,"y":260,"wires":[[]]},{"id":"fa5bbd92c214cad2","type":"api-current-state","z":"604fe48d.66acdc","name":"Notify Screen?","server":"d70513fd.32139","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.camera_notify_screen","state_type":"habool","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","x":160,"y":160,"wires":[["3d71b58c5cc56ec5"],[]]},{"id":"a8d22aded6b4556a","type":"api-call-service","z":"604fe48d.66acdc","name":"Camera Front Door URL","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"fully_kiosk","service":"load_url","areaId":[],"deviceId":["ba19ac2e12dc0965e39a9a580bfc5a71","b65be00c1b9d11ebb862bf4aaace5649"],"entityId":[],"data":"{\"url\":\"http://192.168.1.16:8123/lovelace/camera_front_door\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":950,"y":220,"wires":[["3cb5333be0488caa"]]},{"id":"7ac853b4d02d4cf3","type":"api-call-service","z":"604fe48d.66acdc","name":"Camera Driveway URL","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"fully_kiosk","service":"load_url","areaId":[],"deviceId":["b65be00c1b9d11ebb862bf4aaace5649"],"entityId":[],"data":"{\"url\":\"http://192.168.1.16:8123/lovelace/camera_driveway\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":940,"y":120,"wires":[["9c95bd5e173a8350"]]},{"id":"1f9fd42b.24237c","type":"throttle","z":"73910996.81aab8","name":"15s throttle","throttleType":"time","timeLimit":"15","timeLimitType":"seconds","countLimit":0,"blockSize":0,"locked":false,"x":350,"y":140,"wires":[["79aa41bbf9454487"]]},{"id":"f9d82f6e.5ac5e","type":"alexa-remote-routine","z":"73910996.81aab8","name":"Say TTS String","account":"17362ae3.584025","routineNode":{"type":"speakAtVolume","payload":{"type":"ssml","text":{"type":"msg","value":"payload"},"volume":{"type":"num","value":"20"},"mode":"set","devices":["G090U50783850DTM","G0911W1001432DT3","G090U608839420S6"]}},"x":840,"y":420,"wires":[["4663d15f.f6a88"]]},{"id":"29b15517.9b8b9a","type":"api-call-service","z":"73910996.81aab8","name":"Turn Speakers On","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"scene","service":"apply","areaId":[],"deviceId":[],"entityId":[],"data":"{\"entities\":{\"media_player.monoprice_kitchen\":{\"state\":\"on\",\"volume_level\":\"0.6\",\"is_volume_muted\":\"false\",\"source\":\"Alexa\"},\"media_player.monoprice_living_room\":{\"state\":\"on\",\"volume_level\":\"0.6\",\"is_volume_muted\":\"false\",\"source\":\"Alexa\"}}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":390,"y":420,"wires":[["a51fbcb7.bee6a"]]},{"id":"7ac05e11.7a4df","type":"api-current-state","z":"73910996.81aab8","name":"Deck Speakers On?","server":"d70513fd.32139","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.monoprice_deck","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":400,"y":520,"wires":[["4b1b5831.89d9c8"],[]]},{"id":"4b1b5831.89d9c8","type":"api-call-service","z":"73910996.81aab8","name":"Prepare Deck Speakers","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"scene","service":"apply","areaId":[],"deviceId":[],"entityId":[],"data":"{\"entities\":{\"media_player.monoprice_deck\":{\"state\":\"on\",\"volume_level\":\"0.8\",\"is_volume_muted\":\"false\",\"source\":\"Alexa\"}}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":650,"y":520,"wires":[[]]},{"id":"c41431d3.b3945","type":"comment","z":"73910996.81aab8","name":"Make the alexa tts message","info":"","x":1380,"y":740,"wires":[]},{"id":"2de91253.eef17e","type":"api-call-service","z":"73910996.81aab8","name":"Restore Media Players","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.media_players_before"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1300,"y":420,"wires":[[]]},{"id":"4663d15f.f6a88","type":"delay","z":"73910996.81aab8","name":"Delay 4s","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1040,"y":420,"wires":[["2de91253.eef17e"]]},{"id":"a51fbcb7.bee6a","type":"delay","z":"73910996.81aab8","name":"Delay 2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":640,"y":420,"wires":[["f9d82f6e.5ac5e"]]},{"id":"1f60750e.a7244b","type":"comment","z":"73910996.81aab8","name":"Voice Announcements via Alexa","info":"","x":150,"y":40,"wires":[]},{"id":"9f0bca56.455158","type":"comment","z":"73910996.81aab8","name":"Text to Say is in msg.payload","info":"","x":160,"y":80,"wires":[]},{"id":"f13947c6.5be358","type":"api-call-service","z":"73910996.81aab8","name":"Media Players Save State","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"scene","service":"create","areaId":[],"deviceId":[],"entityId":[],"data":"{\"scene_id\":\"media_players_before\",\"snapshot_entities\":[\"media_player.monoprice_kitchen\",\"media_player.monoprice_deck\",\"media_player.monoprice_living_room\",\"media_player.sonos_family_room\",\"media_player.sonos_master_bedroom\",\"media_player.sonos_game_room\",\"media_player.sonos_portable\"]}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":150,"y":480,"wires":[["29b15517.9b8b9a","7ac05e11.7a4df"]]},{"id":"2798946c752eaa67","type":"api-current-state","z":"73910996.81aab8","name":"Notify Voice?","server":"d70513fd.32139","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.notify_voice","state_type":"habool","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","x":170,"y":140,"wires":[["1f9fd42b.24237c"],[]]},{"id":"d4560549a6464c57","type":"alexa-remote-routine","z":"73910996.81aab8","name":"Say TTS String","account":"17362ae3.584025","routineNode":{"type":"speakAtVolume","payload":{"type":"ssml","text":{"type":"msg","value":"payload"},"volume":{"type":"num","value":"60"},"mode":"set","devices":["G090U50783850DTM","G8M11M09009304Q5","G6G1EV08103502W3","G090VC0783770MKM","G090VC0783770LC6","G090U608839420S6"]}},"x":740,"y":140,"wires":[[]]},{"id":"afce41272e164b35","type":"api-current-state","z":"73910996.81aab8","name":"Family Home?","server":"d70513fd.32139","version":3,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"group.family","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","x":140,"y":340,"wires":[[],[]]},{"id":"79aa41bbf9454487","type":"function","z":"73910996.81aab8","name":"Add SSML Markup","func":"msg.payload = \"<speak><voice name='Joanna'>\" + msg.payload + \"</voice></speak>\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":140,"wires":[["d4560549a6464c57"]]},{"id":"50b9facd.22fa04","type":"throttle","z":"f1b31fe9.eb62a","name":"30s throttle","throttleType":"time","timeLimit":"30","timeLimitType":"seconds","countLimit":0,"blockSize":0,"locked":false,"x":130,"y":260,"wires":[["83cf6277.60346"]]},{"id":"83cf6277.60346","type":"api-call-service","z":"f1b31fe9.eb62a","name":"Media Players Save State","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"scene","service":"create","areaId":[],"deviceId":[],"entityId":[],"data":"{\"scene_id\":\"media_players_before\",\"snapshot_entities\":[\"media_player.monoprice_kitchen\",\"media_player.monoprice_deck\",\"media_player.monoprice_living_room\",\"media_player.sonos_family_room\",\"media_player.sonos_master_bedroom\",\"media_player.sonos_game_room\",\"media_player.sonos_portable\"]}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":330,"y":260,"wires":[["3b099306.2ba46c","3a75faa4.425a56"]]},{"id":"3a75faa4.425a56","type":"api-call-service","z":"f1b31fe9.eb62a","name":"Turn Speakers On to Sonos","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"scene","service":"apply","areaId":[],"deviceId":[],"entityId":[],"data":"{\"entities\":{\"media_player.monoprice_kitchen\":{\"state\":\"on\",\"volume_level\":\"0.3\",\"is_volume_muted\":\"false\",\"source\":\"Sonos\"},\"media_player.monoprice_living_room\":{\"state\":\"on\",\"volume_level\":\"0.4\",\"is_volume_muted\":\"false\",\"source\":\"Sonos\"},\"media_player.sonos_family_room\":{\"state\":\"on\"},\"media_player.sonos_master_bedroom\":{\"state\":\"on\",\"volume_level\":\"0.3\"},\"media_player.sonos_game_room\":{\"state\":\"on\",\"volume_level\":\"0.5\"},\"media_player.sonos_portable\":{\"state\":\"on\",\"volume_level\":\"0.4\"}}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":600,"y":180,"wires":[["1aaf459e.54b29a"]]},{"id":"3b099306.2ba46c","type":"api-current-state","z":"f1b31fe9.eb62a","name":"Deck Speakers On?","server":"d70513fd.32139","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.monoprice_deck","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":580,"y":340,"wires":[["f130e1e0.a7e1"],[]]},{"id":"f130e1e0.a7e1","type":"api-call-service","z":"f1b31fe9.eb62a","name":"Prepare Deck Speakers","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"scene","service":"apply","areaId":[],"deviceId":[],"entityId":[],"data":"{\"entities\":{\"media_player.monoprice_deck\":{\"state\":\"on\",\"volume_level\":\"0.8\",\"is_volume_muted\":\"false\",\"source\":\"Sonos\"}}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":830,"y":340,"wires":[[]]},{"id":"7330ff2f.ddc75","type":"comment","z":"f1b31fe9.eb62a","name":"Make the alexa tts message","info":"","x":1540,"y":760,"wires":[]},{"id":"419abb7b.0fc1b4","type":"api-call-service","z":"f1b31fe9.eb62a","name":"Restore Media Players","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.media_players_before"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1420,"y":180,"wires":[[]]},{"id":"d23dc80.05def38","type":"delay","z":"f1b31fe9.eb62a","name":"Delay 4s","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1220,"y":180,"wires":[["419abb7b.0fc1b4"]]},{"id":"1aaf459e.54b29a","type":"delay","z":"f1b31fe9.eb62a","name":"Delay 3s","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":820,"y":180,"wires":[["107fe509.4b8e7b","e0b57057.12a7c"]]},{"id":"c607da9a.489ba8","type":"comment","z":"f1b31fe9.eb62a","name":"Voice Announcements via Nabu Casa tts.cloud_say and using Sonos and Kids,Theater Amazon Echos","info":"","x":370,"y":20,"wires":[]},{"id":"e95a781c.a7b5e8","type":"comment","z":"f1b31fe9.eb62a","name":"Text to Say is in msg.payload","info":"","x":160,"y":60,"wires":[]},{"id":"107fe509.4b8e7b","type":"api-call-service","z":"f1b31fe9.eb62a","name":"Cloud Say on Sonos","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"tts","service":"cloud_say","areaId":[],"deviceId":[],"entityId":["media_player.sonos_master_bedroom","media_player.sonos_game_room","media_player.sonos_portable","media_player.sonos_family_room"],"data":"{\"message\":\"{{payload}}\",\"language\":\"en-GB\",\"options\":{\"gender\":\"female\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1020,"y":150,"wires":[["d23dc80.05def38"]]},{"id":"872548ce.2d40a8","type":"api-current-state","z":"f1b31fe9.eb62a","name":"Notify Voice?","server":"d70513fd.32139","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.notify_voice","state_type":"habool","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","x":350,"y":120,"wires":[["50b9facd.22fa04"],[]]},{"id":"e1b48685.6ceca8","type":"comment","z":"f1b31fe9.eb62a","name":"sonos_family_room will go to monoprice speakers","info":"","x":1030,"y":100,"wires":[]},{"id":"610476e7.4256f8","type":"batch","z":"f1b31fe9.eb62a","name":"","mode":"count","count":10,"overlap":0,"interval":10,"allowEmptySequence":false,"topics":[{"topic":""}],"x":120,"y":360,"wires":[[]]},{"id":"e0b57057.12a7c","type":"alexa-remote-routine","z":"f1b31fe9.eb62a","name":"Say TTS String","account":"17362ae3.584025","routineNode":{"type":"speakAtVolume","payload":{"type":"regular","text":{"type":"msg","value":"payload"},"volume":{"type":"num","value":"40"},"mode":"set","devices":["G090VC0783770MKM","G090VC0783770LC6","G090U608839420S6"]}},"x":1020,"y":210,"wires":[[]]},{"id":"ecb81445.faf2e8","type":"api-current-state","z":"f1b31fe9.eb62a","name":"Family Home?","server":"d70513fd.32139","version":3,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"group.family","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","x":140,"y":440,"wires":[[],[]]},{"id":"691ac2b854d58577","type":"api-call-service","z":"bc22bf8c80492625","name":"Camera Mobile Notification","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"notify","service":"family_all_mobile","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\":\"Motion Detected\",\"message\":\"{{payload.message}}\",\"data\":{\"sticky\":\"true\",\"push\":{\"category\":\"camera_motion_snooze\"},\"attachment\":{\"url\":\"https://castlewalk.rohanamin.com:8443/zm/index.php?view=image&eid={{payload.eventid}}&fid=objdetect&width=600&token={{payload.token}}\",\"content-type\":\"jpg\",\"hide-thumbnail\":\"false\"}}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":640,"y":140,"wires":[[]]},{"id":"e09c25115b07024d","type":"change","z":"bc22bf8c80492625","name":"Process MQTT","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"message\" : msg.payload.name,\t    \"eventid\" : msg.payload.eventid\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":140,"wires":[["5bd6c3e46dbb5167"]]},{"id":"5bd6c3e46dbb5167","type":"join","z":"bc22bf8c80492625","name":"Merge","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":410,"y":140,"wires":[["691ac2b854d58577"]]},{"id":"87ddecb14caf5c36","type":"comment","z":"bc22bf8c80492625","name":"Camera Mobile Notification Frigate","info":"","x":180,"y":40,"wires":[]},{"id":"d4284571.377438","type":"mqtt in","z":"835c17242cf2c376","name":"MQTT frigate/events","topic":"frigate/events","qos":"2","datatype":"json","broker":"4238db6e.227ed4","nl":false,"rap":false,"inputs":0,"x":110,"y":200,"wires":[["9b07335755185541"]]},{"id":"a891d7da.c4fbe8","type":"switch","z":"835c17242cf2c376","name":"filter new","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"new","vt":"str"},{"t":"eq","v":"update","vt":"str"},{"t":"eq","v":"end","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":540,"y":200,"wires":[["3eeecad.42ad936"],[],[]]},{"id":"873791fb.318e5","type":"comment","z":"835c17242cf2c376","name":"Frigate notifications","info":" - ","x":130,"y":160,"wires":[]},{"id":"3eeecad.42ad936","type":"function","z":"835c17242cf2c376","name":"Format notification","func":"var ha_external_url = \"https://l9dyykj1mtwn6g3v9u41o0a1u29cuypl.ui.nabu.casa\";\nmsg.event_id = msg.payload.after.id;\nmsg.clip = ha_external_url + \"/api/frigate/notifications/\" + msg.event_id + \"/\" + msg.payload.after.camera + \"/clip.mp4\";\nmsg.thumbnail = ha_external_url + \"/api/frigate/notifications/\" + msg.event_id + \"/thumbnail.jpg?format=ios\";\nmsg.topic = msg.payload.after.camera + \"-\" + msg.payload.after.label;\n\nswitch (msg.payload.after.camera) {\n    case ('frigate_driveway'):\n        msg.verb = \"in\";\n        msg.location = 'driveway';\n        break;\n    case ('frigate_front_door'):\n        msg.verb = \"at\";\n        msg.location = \"front door\";\n        break;\n    case ('frigate_back_path'):\n        msg.verb = \"near\";\n        msg.location = \"back path\";\n        break;\n    case ('frigate_back_patio'):\n        msg.verb = \"on\";\n        msg.location = \"back patio\";\n        break;\n    case ('frigate_pool'):\n        msg.verb = \"near\";\n        msg.location = \"pool\";\n        break;\n    case ('frigate_deck'):\n        msg.verb = \"on\";\n        msg.location = \"deck\";\n        break;\n    case ('frigate_family_room'):\n        msg.verb = \"in\";\n        msg.location = \"family room\";\n        break;\n    case ('frigate_basement'):\n        msg.verb = \"in\";\n        msg.location = \"basement\";\n        break;\n    default:\n        msg.verb = \"in\";\n        msg.location = msg.payload.after.camera;\n}\n\nmsg.camera = msg.payload.after.camera;\n\nmsg.message = \"A \" + msg.payload.after.label + \" is \" + msg.verb + \" the \" + msg.location;\n\nmsg.payload =\n{\n    'data':\n    {\n        'title': \"Motion Detected\",\n        'message': msg.message,\n        'data':\n        {\n            \"url\": ha_external_url + \"/lovelace/surveillance\",\n            \"sticky\": \"true\",\n            \"image\": msg.thumbnail,\n            \"actions\": [\n                {\n                    \"action\": 'URI',\n                    \"title\": \"View Image\",\n                    \"uri\": msg.thumbnail,\n                },\n                {\n                    \"action\": 'URI',\n                    \"title\": \"View Clip\",\n                    \"uri\": msg.clip,\n                },\n                {\n                    \"action\": \"CAMERA_SNOOZE_15\",\n                    \"title\": \"Snooze for 15 mins\",\n                    \"icon\": \"sfsymbols:bell.slash.fill\"\n                },\n                {\n                    \"action\": \"CAMERA_SNOOZE_60\",\n                    \"title\": \"Snooze for 60 mins\",\n                    \"icon\": \"sfsymbols:bell.slash.fill\"\n                },\n            ],\n            \"push\": {\n                \"sound\": {\n                    \"name\": \"default\",\n                    \"critical\": 0,\n                    \"volume\": 1\n                }\n            }\n        }\n    }\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":200,"wires":[["7580abc4f0db9b99"]]},{"id":"7580abc4f0db9b99","type":"throttle","z":"835c17242cf2c376","name":"60s throttle","throttleType":"time","timeLimit":"60","timeLimitType":"seconds","countLimit":0,"blockSize":0,"locked":false,"x":930,"y":200,"wires":[["693d85fe07c86b1d","b5c1773c310b6356","aee391892082f65e"]]},{"id":"7b1e32b7a42e60b9","type":"api-call-service","z":"835c17242cf2c376","name":"Camera Mobile Notification","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"notify","service":"family_all_mobile","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1480,"y":100,"wires":[[]]},{"id":"9b07335755185541","type":"api-current-state","z":"835c17242cf2c376","name":"Camera All Notifications?","server":"d70513fd.32139","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.camera_all_notifications","state_type":"habool","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","x":330,"y":200,"wires":[["a891d7da.c4fbe8"],[]]},{"id":"693d85fe07c86b1d","type":"api-current-state","z":"835c17242cf2c376","name":"Camera Notify Mobile?","server":"d70513fd.32139","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.camera_notify_mobile","state_type":"habool","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","x":1170,"y":100,"wires":[["7b1e32b7a42e60b9"],[]]},{"id":"c55ebab37238015f","type":"subflow:73910996.81aab8","z":"835c17242cf2c376","name":"","x":1480,"y":180,"wires":[]},{"id":"b5c1773c310b6356","type":"change","z":"835c17242cf2c376","name":"move message to msg.payload","rules":[{"t":"move","p":"message","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":180,"wires":[["c55ebab37238015f"]]},{"id":"5b6b25bb84da172b","type":"subflow:604fe48d.66acdc","z":"835c17242cf2c376","name":"","x":1460,"y":240,"wires":[]},{"id":"aee391892082f65e","type":"change","z":"835c17242cf2c376","name":"move camera to msg.payload","rules":[{"t":"move","p":"camera","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":240,"wires":[["5b6b25bb84da172b"]]},{"id":"498a3d89173906ea","type":"trigger-state","z":"835c17242cf2c376","name":"","server":"d70513fd.32139","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_button.camera_driveway_family_room_tv","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":240,"y":380,"wires":[["cebe312064fcae15"],[]]},{"id":"52cf1a13d37a07a4","type":"api-current-state","z":"835c17242cf2c376","name":"Family Room TV Off?","server":"d70513fd.32139","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.family_room_tv","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":900,"y":380,"wires":[["4748b4d8af8a3717"],[]]},{"id":"4748b4d8af8a3717","type":"api-call-service","z":"835c17242cf2c376","name":"Stream Driveway Camera to Family Room TV","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"camera","service":"play_stream","areaId":[],"deviceId":[],"entityId":[],"data":"{\"entity_id\":\"camera.go2rtc_driveway\",\"media_player\":\"media_player.family_room_tv_cast\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1250,"y":380,"wires":[["053ec5721da9875a"]]},{"id":"053ec5721da9875a","type":"delay","z":"835c17242cf2c376","name":"120 delay","pauseType":"delay","timeout":"120","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1520,"y":380,"wires":[["0b0ec566141a5bb6"]]},{"id":"0b0ec566141a5bb6","type":"api-call-service","z":"835c17242cf2c376","name":"Turn off Family Room TV","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"media_player","service":"turn_off","areaId":[],"deviceId":[],"entityId":["media_player.family_room_tv"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1750,"y":380,"wires":[[]]},{"id":"9fe02ea17438d769","type":"comment","z":"835c17242cf2c376","name":"Live Cameras on TV","info":" - ","x":110,"y":320,"wires":[]},{"id":"dd32d26b28c1c66b","type":"trigger-state","z":"835c17242cf2c376","name":"","server":"d70513fd.32139","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_button.camera_driveway_master_bedroom_tv","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":250,"y":440,"wires":[["d06cf6d88fedc3fd"],[]]},{"id":"d41e8e09c040fd6f","type":"api-current-state","z":"835c17242cf2c376","name":"Master Bedroom TV Off?","server":"d70513fd.32139","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.master_bedroom_tv","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":890,"y":440,"wires":[["5488324115b4e72b"],[]]},{"id":"5488324115b4e72b","type":"api-call-service","z":"835c17242cf2c376","name":"Stream Driveway Camera to Master Bedroom TV","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"camera","service":"play_stream","areaId":[],"deviceId":[],"entityId":[],"data":"{\"entity_id\":\"camera.go2rtc_driveway\",\"media_player\":\"media_player.master_bedroom_tv_cast\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1230,"y":440,"wires":[["3db611740dc136a0"]]},{"id":"3db611740dc136a0","type":"delay","z":"835c17242cf2c376","name":"120 delay","pauseType":"delay","timeout":"120","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1520,"y":440,"wires":[["4b0d81b19427c5ef"]]},{"id":"4b0d81b19427c5ef","type":"api-call-service","z":"835c17242cf2c376","name":"Turn off Master Bedroom TV","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"media_player","service":"turn_off","areaId":[],"deviceId":[],"entityId":["media_player.master_bedroom_tv"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1760,"y":440,"wires":[[]]},{"id":"7908ebef5cf9ded3","type":"trigger-state","z":"835c17242cf2c376","name":"","server":"d70513fd.32139","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_button.camera_front_door_family_room_tv","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":240,"y":500,"wires":[["35dd06055e18e32e"],[]]},{"id":"530e5ee588b00335","type":"trigger-state","z":"835c17242cf2c376","name":"","server":"d70513fd.32139","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_button.camera_front_door_master_bedroom_tv","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":260,"y":560,"wires":[["9757a24b675b845b"],[]]},{"id":"2a518f86af241589","type":"api-current-state","z":"835c17242cf2c376","name":"Family Room TV Off?","server":"d70513fd.32139","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.family_room_tv","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":900,"y":500,"wires":[["6b57766fb2727714"],[]]},{"id":"97f8869832b95e4d","type":"delay","z":"835c17242cf2c376","name":"120 delay","pauseType":"delay","timeout":"120","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1520,"y":500,"wires":[["c3a9a30f94d0d83d"]]},{"id":"c3a9a30f94d0d83d","type":"api-call-service","z":"835c17242cf2c376","name":"Turn off Family Room TV","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"media_player","service":"turn_off","areaId":[],"deviceId":[],"entityId":["media_player.family_room_tv"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1750,"y":500,"wires":[[]]},{"id":"79ab75e763d3cff0","type":"delay","z":"835c17242cf2c376","name":"120 delay","pauseType":"delay","timeout":"120","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1520,"y":560,"wires":[["9e3182bb296c4a10"]]},{"id":"9e3182bb296c4a10","type":"api-call-service","z":"835c17242cf2c376","name":"Turn off Master Bedroom TV","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"media_player","service":"turn_off","areaId":[],"deviceId":[],"entityId":["media_player.master_bedroom_tv"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1760,"y":560,"wires":[[]]},{"id":"9f8f0ace2e706b0d","type":"api-call-service","z":"835c17242cf2c376","name":"Stream Front Door Camera to Master Bedroom TV","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"camera","service":"play_stream","areaId":[],"deviceId":[],"entityId":[],"data":"{\"entity_id\":\"camera.go2rtc_front_door\",\"media_player\":\"media_player.master_bedroom_tv_cast\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1230,"y":560,"wires":[["79ab75e763d3cff0"]]},{"id":"9d5f45f06e3e6bf4","type":"api-current-state","z":"835c17242cf2c376","name":"Master Bedroom TV Off?","server":"d70513fd.32139","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.master_bedroom_tv","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":890,"y":560,"wires":[["9f8f0ace2e706b0d"],[]]},{"id":"6b57766fb2727714","type":"api-call-service","z":"835c17242cf2c376","name":"Stream Front Door Camera to Family Room TV","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"camera","service":"play_stream","areaId":[],"deviceId":[],"entityId":[],"data":"{\"entity_id\":\"camera.go2rtc_front_door\",\"media_player\":\"media_player.family_room_tv_cast\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1240,"y":500,"wires":[["97f8869832b95e4d"]]},{"id":"cebe312064fcae15","type":"api-current-state","z":"835c17242cf2c376","name":"Family Home?","server":"d70513fd.32139","version":3,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"group.family","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","x":620,"y":380,"wires":[["52cf1a13d37a07a4"],[]]},{"id":"d06cf6d88fedc3fd","type":"api-current-state","z":"835c17242cf2c376","name":"Family Home?","server":"d70513fd.32139","version":3,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"group.family","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","x":620,"y":440,"wires":[["d41e8e09c040fd6f"],[]]},{"id":"35dd06055e18e32e","type":"api-current-state","z":"835c17242cf2c376","name":"Family Home?","server":"d70513fd.32139","version":3,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"group.family","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","x":620,"y":500,"wires":[["2a518f86af241589"],[]]},{"id":"9757a24b675b845b","type":"api-current-state","z":"835c17242cf2c376","name":"Family Home?","server":"d70513fd.32139","version":3,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"group.family","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","x":620,"y":560,"wires":[["9d5f45f06e3e6bf4"],[]]},{"id":"82069621e9542f36","type":"mqtt in","z":"c21d6c9cf947a4c8","name":"MQTT zigbee2mqtt/linkind_water_sensor/laundry","topic":"zigbee2mqtt/linkind_water_sensor/laundry","qos":"2","datatype":"json","broker":"4238db6e.227ed4","nl":false,"rap":false,"inputs":0,"x":280,"y":140,"wires":[["af33a7b77ea12d6a"]]},{"id":"9f1d63baec98e94d","type":"comment","z":"c21d6c9cf947a4c8","name":"Linkind Water Sensors","info":"","x":120,"y":80,"wires":[]},{"id":"c3b8f14a2c0db4e9","type":"function","z":"c21d6c9cf947a4c8","name":"Process & Format message","func":"var water_sensor = msg.topic;\nvar battery = msg.payload.battery;\nvar battery_low = msg.payload.battery_low;\nvar linkquality = msg.payload.linkquality;\nvar tamper = msg.payload.tamper;\nvar water_leak = msg.payload.water_leak;\nvar water_sensor_location = \"\";\nmsg.message = \"\";\n\n// Water Leak!\nif(water_leak == true){\n    switch (water_sensor) {\n        case ('zigbee2mqtt/linkind_water_sensor/laundry'):\n            water_sensor_location = \"in the Laundry Room\";\n            break;\n        case ('zigbee2mqtt/linkind_water_sensor/basement_water_tank'):\n            water_sensor_location = \"near the Basement Water Tank\";\n            break;\n        case ('zigbee2mqtt/linkind_water_sensor/kitchen_sink'):\n            water_sensor_location = \"under the Kitchen Sink\";\n            break;\n        case ('zigbee2mqtt/linkind_water_sensor/basement_water_main'):\n            water_sensor_location = \"near the Basement Water Main Pipes\";\n            break;\n        default:\n            water_sensor_location = \"UNKNOWN\";\n    }\n\n    msg.message = \"Water Leak Detected \" + water_sensor_location + \".\";\n\n    // Format Mobile Notification\n    msg.payload =\n    {\n        \"data\": {\n            \"title\": \"Home Assistant\",\n            \"message\": msg.message,\n            \"data\": {\n                \"sticky\": \"true\",\n                \"push\": {\n                    \"sound\": {\n                        \"name\": \"default\",\n                        \"critical\": 1,\n                        \"volume\": 1\n                    }\n                }\n            }\n        }\n    };\n\n}\n\n// Battery is Low!\nif (battery_low == true) {\n    switch (water_sensor) {\n        case ('zigbee2mqtt/linkind_water_sensor/laundry'):\n            water_sensor_location = \"in the Laundry Room\";\n            break;\n        case ('zigbee2mqtt/linkind_water_sensor/basement_water_tank'):\n            water_sensor_location = \"near the Basement Water Tank\";\n            break;\n        case ('zigbee2mqtt/linkind_water_sensor/kitchen_sink'):\n            water_sensor_location = \"under the Kitchen Sink\";\n            break;\n        case ('zigbee2mqtt/linkind_water_sensor/basement_water_main'):\n            water_sensor_location = \"near the Basement Water Main Pipes\";\n            break;\n\n        default:\n            water_sensor_location = \"UNKNOWN\";\n    }\n\n    msg.message = \"Water Sensor Battery \" + water_sensor_location + \" is low.\";\n\n    // Format Mobile Notification\n    msg.payload =\n    {\n        \"data\": {\n            \"title\": \"Home Assistant\",\n            \"message\": msg.message\n        }\n    };\n}\n\nif(msg.message == \"\")\n{\n    return null;\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":220,"wires":[["e7b3e49eb4677d30","6cf207473c588acd"]]},{"id":"e7b3e49eb4677d30","type":"api-call-service","z":"c21d6c9cf947a4c8","name":"Mobile Notification","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"notify","service":"family_all_mobile","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1290,"y":140,"wires":[[]]},{"id":"7407fbb7e5dda3fd","type":"mqtt in","z":"c21d6c9cf947a4c8","name":"MQTT zigbee2mqtt/linkind_water_sensor/basement_water_tank","topic":"zigbee2mqtt/linkind_water_sensor/basement_water_tank","qos":"2","datatype":"json","broker":"4238db6e.227ed4","nl":false,"rap":false,"inputs":0,"x":230,"y":200,"wires":[["af33a7b77ea12d6a"]]},{"id":"398a162f4576ee84","type":"comment","z":"c21d6c9cf947a4c8","name":"-----------------------YoLink Sensors-----------------------","info":"","x":240,"y":400,"wires":[]},{"id":"e15ee69e9201a42d","type":"server-state-changed","z":"c21d6c9cf947a4c8","name":"Mailbox Open","server":"d70513fd.32139","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.mailbox_state","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":500,"wires":[["f4a3884853c3c8ba"],[]]},{"id":"f4a3884853c3c8ba","type":"api-call-service","z":"c21d6c9cf947a4c8","name":"Mailbox Mobile Notification","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"notify","service":"family_all_mobile","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\":\"Home Assistant\",\"message\":\"You have mail in your mailbox\",\"data\":{\"sticky\":\"true\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":400,"y":500,"wires":[["9c1a4aad2241fd96","a21d9d05f852c956"]]},{"id":"9c1a4aad2241fd96","type":"api-current-state","z":"c21d6c9cf947a4c8","name":"Mailbox Open for 30 mins?","server":"d70513fd.32139","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.mailbox_state","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"30","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":700,"y":440,"wires":[["f4a3884853c3c8ba"],[]]},{"id":"a21d9d05f852c956","type":"template","z":"c21d6c9cf947a4c8","name":"You have mail in your mailbox outside","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"You have mail in your mailbox outside","output":"str","x":710,"y":560,"wires":[["128f6498f2fa63d8"]]},{"id":"128f6498f2fa63d8","type":"throttle","z":"c21d6c9cf947a4c8","name":"Throttle 30s","throttleType":"time","timeLimit":"30","timeLimitType":"seconds","countLimit":0,"blockSize":0,"locked":false,"x":970,"y":560,"wires":[["fd6a22483006f416"]]},{"id":"fd6a22483006f416","type":"subflow:73910996.81aab8","z":"c21d6c9cf947a4c8","name":"Voice Notification via Alexa","env":[],"x":1200,"y":560,"wires":[]},{"id":"092c092a157204ea","type":"subflow:73910996.81aab8","z":"c21d6c9cf947a4c8","name":"","x":1580,"y":240,"wires":[]},{"id":"6cf207473c588acd","type":"change","z":"c21d6c9cf947a4c8","name":"move to msg.payload","rules":[{"t":"move","p":"message","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1300,"y":240,"wires":[["092c092a157204ea"]]},{"id":"ba305070d37febc6","type":"mqtt in","z":"c21d6c9cf947a4c8","name":"MQTT zigbee2mqtt/linkind_water_sensor/kitchen_sink","topic":"zigbee2mqtt/linkind_water_sensor/kitchen_sink","qos":"2","datatype":"json","broker":"4238db6e.227ed4","nl":false,"rap":false,"inputs":0,"x":260,"y":260,"wires":[["af33a7b77ea12d6a"]]},{"id":"e08de7012767eee1","type":"mqtt in","z":"c21d6c9cf947a4c8","name":"MQTT zigbee2mqtt/linkind_water_sensor/basement_water_main","topic":"zigbee2mqtt/linkind_water_sensor/basement_water_main","qos":"2","datatype":"json","broker":"4238db6e.227ed4","nl":false,"rap":false,"inputs":0,"x":230,"y":320,"wires":[["af33a7b77ea12d6a"]]},{"id":"af33a7b77ea12d6a","type":"function","z":"c21d6c9cf947a4c8","name":"Filter For Low Battery or Water Leak","func":"var battery_low = msg.payload.battery_low;\nvar water_leak = msg.payload.water_leak;\n\nif ((battery_low == true) || (water_leak == true))\n{\n    return msg;\n}\nelse\n{\n    return null;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":220,"wires":[["c3b8f14a2c0db4e9"]]},{"id":"ac605fb23857a706","type":"api-current-state","z":"c21d6c9cf947a4c8","name":"Outdoor Gates Notifications?","server":"d70513fd.32139","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.notify_outdoor_gates","state_type":"habool","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","x":680,"y":820,"wires":[["add135e054889867"],[]]},{"id":"add135e054889867","type":"function","z":"c21d6c9cf947a4c8","name":"Format notification","func":"\nswitch(msg.topic)\n{\n    case ('binary_sensor.back_patio_gate_state'):\n        msg.message = \"The back patio gate is open\";\n        break;\n    case ('binary_sensor.back_yard_steps_gate_state'):\n        msg.message = \"The back yard steps gate is open\";\n        break;\n    case ('binary_sensor.pool_gate_state'):\n        msg.message = \"The pool gate is open\";\n        break; \n    default:\n        msg.message = \"A gate outside is open\";\n}\n\nmsg.payload =\n{\n    'data':\n    {\n        'title': \"Home Assistant\",\n        'message': msg.message,\n        'data':\n        {\n            \"sticky\": \"true\",\n            \"actions\": [\n                {\n                    \"action\": \"OUTDOOR_GATES_SNOOZE_15\",\n                    \"title\": \"Snooze for 15 mins\",\n                    \"icon\": \"sfsymbols:bell.slash.fill\"\n                },\n                {\n                    \"action\": \"OUTDOOR_GATES_SNOOZE_60\",\n                    \"title\": \"Snooze for 60 mins\",\n                    \"icon\": \"sfsymbols:bell.slash.fill\"\n                },\n            ],\n            \"push\": {\n                \"sound\": {\n                    \"name\": \"default\",\n                    \"critical\": 0,\n                    \"volume\": 1\n                }\n            }\n        }\n    }\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":820,"wires":[["8e924f102b086c49"]]},{"id":"8e924f102b086c49","type":"api-call-service","z":"c21d6c9cf947a4c8","name":"Gate Mobile Notification","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"notify","service":"family_all_mobile","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1150,"y":820,"wires":[["ef6cb805d17f3325","2ca63e4da1376ffd","7a4844a05cfb0ca3","11837647d7fdbfd0"]]},{"id":"ef6cb805d17f3325","type":"change","z":"c21d6c9cf947a4c8","name":"move message to msg.payload","rules":[{"t":"move","p":"message","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1430,"y":900,"wires":[["68796e24c3da2a56"]]},{"id":"68796e24c3da2a56","type":"throttle","z":"c21d6c9cf947a4c8","name":"Throttle 30s","throttleType":"time","timeLimit":"30","timeLimitType":"seconds","countLimit":0,"blockSize":0,"locked":false,"x":1670,"y":900,"wires":[["4679b68469d585e5"]]},{"id":"4679b68469d585e5","type":"subflow:73910996.81aab8","z":"c21d6c9cf947a4c8","name":"Voice Notification via Alexa","env":[],"x":1920,"y":900,"wires":[]},{"id":"2ca63e4da1376ffd","type":"api-current-state","z":"c21d6c9cf947a4c8","name":"Pool Gate Open for 30 mins?","server":"d70513fd.32139","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.pool_gate_state","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"30","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1440,"y":640,"wires":[["ac605fb23857a706"],[]]},{"id":"7a4844a05cfb0ca3","type":"api-current-state","z":"c21d6c9cf947a4c8","name":"Back Patio Gate Open for 30 mins?","server":"d70513fd.32139","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.back_patio_gate_state","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"30","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1460,"y":700,"wires":[["ac605fb23857a706"],[]]},{"id":"11837647d7fdbfd0","type":"api-current-state","z":"c21d6c9cf947a4c8","name":"Back Yard Steps Gate Open for 30 mins?","server":"d70513fd.32139","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.back_yard_steps_gate_state","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"30","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1480,"y":760,"wires":[["ac605fb23857a706"],[]]},{"id":"c8ef552fe8629660","type":"comment","z":"c21d6c9cf947a4c8","name":"--------Outdoor Gates-------","info":"","x":200,"y":700,"wires":[]},{"id":"64326baf201757ad","type":"comment","z":"c21d6c9cf947a4c8","name":"--------Washer/Dryer-------","info":"","x":170,"y":980,"wires":[]},{"id":"8ead11a8080fcc62","type":"trigger-state","z":"c21d6c9cf947a4c8","name":"Washer On?","server":"d70513fd.32139","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.washer_vibration_sensor","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":130,"y":1040,"wires":[["dbe8cf24ae9e26f8"],[]]},{"id":"f8b4619d047995de","type":"trigger-state","z":"c21d6c9cf947a4c8","name":"Washer Off?","server":"d70513fd.32139","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.washer_vibration_sensor","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":130,"y":1100,"wires":[["4e9cc3854035ffb7"],[]]},{"id":"8b2b0c38253ef361","type":"function","z":"c21d6c9cf947a4c8","name":"Format notification","func":"\nswitch(msg.topic)\n{\n    case ('binary_sensor.washer_vibration_sensor'):\n        if(msg.payload == \"on\") {\n            msg.message = \"The laundry washer has started\";\n        }\n        else{\n            msg.message = \"The laundry washer is done\";\n        }\n        break;\n    case ('binary_sensor.dryer_vibration_sensor'):\n        if (msg.payload == \"on\") {\n            msg.message = \"The laundry dryer has started\";\n        }\n        else {\n            msg.message = \"The laundry dryer is done\";\n        }\n        break;\n    default:\n        msg.message = \"Washer or Dryer Error\";\n}\n\nmsg.payload =\n{\n    'data':\n    {\n        'title': \"Home Assistant\",\n        'message': msg.message,\n        'data':\n        {\n            \"sticky\": \"true\",\n            \"actions\": [\n                {\n                    \"action\": \"LAUNDRY_SNOOZE_15\",\n                    \"title\": \"Snooze for 15 mins\",\n                    \"icon\": \"sfsymbols:bell.slash.fill\"\n                },\n                {\n                    \"action\": \"LAUNDRY_SNOOZE_60\",\n                    \"title\": \"Snooze for 60 mins\",\n                    \"icon\": \"sfsymbols:bell.slash.fill\"\n                },\n            ],\n            \"push\": {\n                \"sound\": {\n                    \"name\": \"default\",\n                    \"critical\": 0,\n                    \"volume\": 1\n                }\n            }\n        }\n    }\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1090,"y":1100,"wires":[["722f578b56eef42e"]]},{"id":"94409924a319984f","type":"trigger-state","z":"c21d6c9cf947a4c8","name":"Dryer Off?","server":"d70513fd.32139","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.dryer_vibration_sensor","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":120,"y":1240,"wires":[["3e4d6056f98e3c8c"],[]]},{"id":"ab8a077a91bcc41c","type":"trigger-state","z":"c21d6c9cf947a4c8","name":"Dryer On?","server":"d70513fd.32139","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.dryer_vibration_sensor","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":120,"y":1180,"wires":[["cb1a8492931377e4"],[]]},{"id":"722f578b56eef42e","type":"api-call-service","z":"c21d6c9cf947a4c8","name":"Laundry Mobile Notification","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_rma","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1340,"y":1100,"wires":[[]]},{"id":"9c03a54098a0a5a4","type":"change","z":"c21d6c9cf947a4c8","name":"move message to msg.payload","rules":[{"t":"move","p":"message","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1630,"y":1100,"wires":[["6b185af4bfe6d2f4"]]},{"id":"6b185af4bfe6d2f4","type":"throttle","z":"c21d6c9cf947a4c8","name":"Throttle 30s","throttleType":"time","timeLimit":"30","timeLimitType":"seconds","countLimit":0,"blockSize":0,"locked":false,"x":1850,"y":1100,"wires":[["baf9b8892d71b6e0"]]},{"id":"baf9b8892d71b6e0","type":"subflow:73910996.81aab8","z":"c21d6c9cf947a4c8","name":"Voice Notification via Alexa","env":[],"x":2080,"y":1100,"wires":[]},{"id":"4e93510df1e76cf8","type":"api-current-state","z":"c21d6c9cf947a4c8","name":"Washer On?","server":"d70513fd.32139","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.washer_vibration_sensor","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":570,"y":1040,"wires":[["8b2b0c38253ef361"],[]]},{"id":"bd07c295bd25b84d","type":"api-current-state","z":"c21d6c9cf947a4c8","name":"Washer Off?","server":"d70513fd.32139","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.washer_vibration_sensor","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":570,"y":1100,"wires":[["8b2b0c38253ef361"],[]]},{"id":"631087a1b039eb48","type":"api-current-state","z":"c21d6c9cf947a4c8","name":"Dryer On?","server":"d70513fd.32139","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.dryer_vibration_sensor","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"","forType":"num","forUnits":"seconds","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":570,"y":1160,"wires":[["8b2b0c38253ef361"],[]]},{"id":"14a2aca3c6cb6b27","type":"api-current-state","z":"c21d6c9cf947a4c8","name":"Dryer Off?","server":"d70513fd.32139","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.dryer_vibration_sensor","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"","forType":"num","forUnits":"seconds","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":570,"y":1220,"wires":[["8b2b0c38253ef361"],[]]},{"id":"82f33c70b20ec880","type":"throttle","z":"c21d6c9cf947a4c8","name":"Throttle 30s","throttleType":"time","timeLimit":"30","timeLimitType":"seconds","countLimit":0,"blockSize":0,"locked":false,"x":370,"y":760,"wires":[["ac605fb23857a706"]]},{"id":"a1223c0dfb545da9","type":"throttle","z":"c21d6c9cf947a4c8","name":"Throttle 30s","throttleType":"time","timeLimit":"30","timeLimitType":"seconds","countLimit":0,"blockSize":0,"locked":false,"x":370,"y":820,"wires":[["ac605fb23857a706"]]},{"id":"224ebf0ff06f8243","type":"throttle","z":"c21d6c9cf947a4c8","name":"Throttle 30s","throttleType":"time","timeLimit":"30","timeLimitType":"seconds","countLimit":0,"blockSize":0,"locked":false,"x":370,"y":880,"wires":[["ac605fb23857a706"]]},{"id":"3e4d6056f98e3c8c","type":"delay","z":"c21d6c9cf947a4c8","name":"","pauseType":"delay","timeout":"90","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":340,"y":1240,"wires":[["14a2aca3c6cb6b27"]]},{"id":"cb1a8492931377e4","type":"delay","z":"c21d6c9cf947a4c8","name":"","pauseType":"delay","timeout":"90","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":340,"y":1180,"wires":[["631087a1b039eb48"]]},{"id":"4e9cc3854035ffb7","type":"delay","z":"c21d6c9cf947a4c8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":360,"y":1100,"wires":[["bd07c295bd25b84d"]]},{"id":"dbe8cf24ae9e26f8","type":"delay","z":"c21d6c9cf947a4c8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":360,"y":1040,"wires":[["4e93510df1e76cf8"]]},{"id":"61bc96b07b85d085","type":"trigger-state","z":"c21d6c9cf947a4c8","name":"Pool Gate Open?","server":"d70513fd.32139","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.pool_gate_state","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":140,"y":760,"wires":[["82f33c70b20ec880"],[]]},{"id":"b64eba4957a789f3","type":"trigger-state","z":"c21d6c9cf947a4c8","name":"Back Patio Gate Open?","server":"d70513fd.32139","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.back_patio_gate_state","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":120,"y":820,"wires":[["a1223c0dfb545da9"],[]]},{"id":"a0f491ec9c3cd979","type":"trigger-state","z":"c21d6c9cf947a4c8","name":"Back Yard Steps Gate Open?","server":"d70513fd.32139","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.back_yard_steps_gate_state","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":120,"y":880,"wires":[["224ebf0ff06f8243"],[]]},{"id":"8c611665.a086c8","type":"alexa-remote-init","z":"a0b16544.5f71f8","name":"Amazon Alexa","account":"17362ae3.584025","option":"refresh","x":300,"y":80,"wires":[[]]},{"id":"29bc7e29.6017c2","type":"inject","z":"a0b16544.5f71f8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":80,"wires":[["8c611665.a086c8"]]},{"id":"c5d3aa12.ba5348","type":"alexa-remote-routine","z":"a0b16544.5f71f8","name":"","account":"17362ae3.584025","routineNode":{"type":"speakAtVolume","payload":{"type":"regular","text":{"type":"str","value":"There is someone in the driveway."},"volume":{"type":"num","value":"60"},"mode":"set","devices":["G0911W1001432DT3"]}},"x":610,"y":200,"wires":[[]]},{"id":"8fb83157.f99d","type":"inject","z":"a0b16544.5f71f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":135,"y":197,"wires":[["5319aba6.69d5b4"]]},{"id":"40036496.8a449c","type":"comment","z":"a0b16544.5f71f8","name":"Alexa Login Configuration & Cookie","info":"","x":190,"y":40,"wires":[]},{"id":"5e912230.1dc7cc","type":"comment","z":"a0b16544.5f71f8","name":"Test \"hello\"","info":"","x":115,"y":157,"wires":[]},{"id":"5319aba6.69d5b4","type":"api-call-service","z":"a0b16544.5f71f8","name":"Turn Kitchen Speakers On","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"scene","service":"apply","areaId":[],"deviceId":[],"entityId":[],"data":"{\"entities\":{\"media_player.monoprice_kitchen\":{\"state\":\"on\",\"volume_level\":\"0.6\",\"is_volume_muted\":\"false\",\"source\":\"Alexa\"}}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":340,"y":200,"wires":[["c5d3aa12.ba5348"]]},{"id":"6679435c.3a00dc","type":"comment","z":"a0b16544.5f71f8","name":"Dinner!  Announcement","info":"","x":170,"y":274,"wires":[]},{"id":"4812bebd.cf3","type":"alexa-remote-routine","z":"a0b16544.5f71f8","name":"","account":"17362ae3.584025","routineNode":{"type":"speakAtVolume","payload":{"type":"regular","text":{"type":"str","value":"<speak> <voice name=\"Emma\">there is a car in the driveway</voice></speak>"},"volume":{"type":"num","value":"40"},"mode":"set","devices":["G090U50783850DTM"]}},"x":510,"y":334,"wires":[[]]},{"id":"7c8db671.b58418","type":"inject","z":"a0b16544.5f71f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":334,"wires":[["c5495ded.12819"]]},{"id":"4fab565b.e245e8","type":"api-call-service","z":"a0b16544.5f71f8","name":"Cloud Say","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"tts","service":"cloud_say","areaId":[],"deviceId":[],"entityId":["group.media_player_announce"],"data":"{\"message\":\"{{payload}}\",\"language\":\"en-GB\",\"options\":{\"gender\":\"female\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":630,"y":460,"wires":[[]]},{"id":"e19bd628.28b0a8","type":"inject","z":"a0b16544.5f71f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":460,"wires":[["5d43733.23bf98c"]]},{"id":"5d43733.23bf98c","type":"api-call-service","z":"a0b16544.5f71f8","name":"Set Volumes","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"scene","service":"apply","areaId":[],"deviceId":[],"entityId":[],"data":"{\"entities\":{\"media_player.sonos_master_bedroom\":{\"state\":\"on\",\"volume_level\":\"0.2\"},\"media_player.sonos_family_room\":{\"state\":\"on\"}}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":290,"y":460,"wires":[["ca82e3a3.1671a"]]},{"id":"c5495ded.12819","type":"template","z":"a0b16544.5f71f8","name":"Driveway","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<speak> \n<voice name=\"Joanna\">Hello, there is a car in the driveway</voice>\n</speak>\n","output":"str","x":260,"y":334,"wires":[["4812bebd.cf3"]]},{"id":"de1fc474.594708","type":"inject","z":"a0b16544.5f71f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":680,"wires":[["425e9706.44acb8"]]},{"id":"425e9706.44acb8","type":"template","z":"a0b16544.5f71f8","name":"Driveway","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"<speak><voice name=\"Emma\">Someone is in the driveway</voice></speak>","output":"str","x":280,"y":680,"wires":[["e217c5d0.28b388"]]},{"id":"e217c5d0.28b388","type":"subflow:73910996.81aab8","z":"a0b16544.5f71f8","name":"Voice Notification via Alexa","env":[],"x":530,"y":680,"wires":[]},{"id":"531b1d90.0bc774","type":"comment","z":"a0b16544.5f71f8","name":"Cloud Say Test","info":"","x":120,"y":420,"wires":[]},{"id":"ca82e3a3.1671a","type":"template","z":"a0b16544.5f71f8","name":"Driveway","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"Someone is in the driveway","output":"str","x":460,"y":460,"wires":[["4fab565b.e245e8"]]},{"id":"aea3fd5e.b606","type":"comment","z":"a0b16544.5f71f8","name":"Alexa TTS Test","info":"","x":120,"y":640,"wires":[]},{"id":"467aae4f.50ea5","type":"inject","z":"a0b16544.5f71f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":540,"wires":[["7bb885d1.80f2fc"]]},{"id":"7bb885d1.80f2fc","type":"template","z":"a0b16544.5f71f8","name":"Driveway","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"Someone is in the driveway","output":"str","x":280,"y":540,"wires":[["651f2bd2.7fd9c4"]]},{"id":"651f2bd2.7fd9c4","type":"subflow:f1b31fe9.eb62a","z":"a0b16544.5f71f8","name":"","env":[],"x":540,"y":540,"wires":[]},{"id":"e8c102940db5a8df","type":"alexa-remote-routine","z":"a0b16544.5f71f8","name":"Say TTS String","account":"17362ae3.584025","routineNode":{"type":"speakAtVolume","payload":{"type":"ssml","text":{"type":"msg","value":"payload"},"volume":{"type":"num","value":"30"},"mode":"set","devices":["G090VC0783770MKM","G090VC0783770LC6"]}},"x":500,"y":760,"wires":[[]]},{"id":"a94b3a39e68948e2","type":"template","z":"a0b16544.5f71f8","name":"Bedtime","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"<speak><voice name=\"Joanna\">It is time for bed, please go to sleep.</voice></speak>","output":"str","x":300,"y":760,"wires":[["e8c102940db5a8df"]]},{"id":"15cbddf1b6037385","type":"inject","z":"a0b16544.5f71f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":760,"wires":[["a94b3a39e68948e2"]]},{"id":"46364ff7.4523b","type":"inject","z":"52aab07a.c206e","name":"At 0830 AM M-F","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"30 08 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":100,"wires":[["b04b96c0.8c9298"]]},{"id":"b04b96c0.8c9298","type":"api-current-state","z":"52aab07a.c206e","name":"Kids Room Lights On?","server":"d70513fd.32139","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.kids_room_lights","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","x":380,"y":100,"wires":[["c680c74e.83aae8"],[]]},{"id":"c680c74e.83aae8","type":"api-call-service","z":"52aab07a.c206e","name":"Kids Room Lights Mobile Notification and Prompt","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"notify","service":"family_all_mobile","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\":\"Kids Room lights still on at 830 AM\",\"message\":\"Turn off lights?\",\"data\":{\"actions\":[{\"action\":\"KIDS_TURN_OFF_LIGHTS\",\"title\":\"Turn Off Lights\"}],\"push\":{\"sound\":{\"name\":\"default\",\"critical\":0,\"volume\":1}}}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":710,"y":100,"wires":[[]]},{"id":"be7af7a9.43bcd8","type":"comment","z":"52aab07a.c206e","name":"Check Kids Room Light at 0830 AM Daily","info":"","x":200,"y":60,"wires":[]},{"id":"18da699330cb5ee3","type":"api-call-service","z":"52aab07a.c206e","name":"Turn Off Master Closet Hers","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.master_bedroom_master_closet_hers"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":920,"y":240,"wires":[[]]},{"id":"33732ba7cb470c4d","type":"comment","z":"52aab07a.c206e","name":"Check Master Bedroom Her Closet Lights","info":"","x":200,"y":160,"wires":[]},{"id":"48abb04ab06fa5b1","type":"comment","z":"52aab07a.c206e","name":"Check Kids Shower Light","info":"","x":150,"y":280,"wires":[]},{"id":"e2fbe55a6160b965","type":"api-call-service","z":"52aab07a.c206e","name":"Turn Off Kids Bathroom Shower Light","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.bathroom_shared_shower"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":930,"y":380,"wires":[[]]},{"id":"ef00d76209ed9a6d","type":"api-call-service","z":"52aab07a.c206e","name":"Master Bedroom Her Closet Mobile Notification","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"notify","service":"family_all_mobile","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\":\"Lights Off Notification\",\"message\":\"Master Bedroom Her Closet Lights Turned Off\",\"data\":{\"sticky\":\"true\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":960,"y":180,"wires":[[]]},{"id":"a6dee2222efd6116","type":"api-call-service","z":"52aab07a.c206e","name":"Kids Shower Light Mobile Notification","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"notify","service":"family_all_mobile","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\":\"Lights Off Notification\",\"message\":\"Kids Shower Light Turned Off\",\"data\":{\"sticky\":\"true\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":930,"y":320,"wires":[[]]},{"id":"b418bd850c8acc42","type":"server-state-changed","z":"52aab07a.c206e","name":"Master Bedroom Her Closet","server":"d70513fd.32139","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.master_bedroom_master_closet_hers","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":200,"wires":[["ea27c4268dc3acbf"],[]]},{"id":"98337a7adb3a7a5e","type":"server-state-changed","z":"52aab07a.c206e","name":"Kids Bathroom Shower Light","server":"d70513fd.32139","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.bathroom_shared_shower","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":320,"wires":[["15dad6ccee99f126"],[]]},{"id":"22ae7bfd20b97e63","type":"api-current-state","z":"52aab07a.c206e","name":"Closet Still On?","server":"d70513fd.32139","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.master_bedroom_master_closet_hers","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":600,"y":200,"wires":[["18da699330cb5ee3","ef00d76209ed9a6d"],[]]},{"id":"5af378e70d57d0c8","type":"api-current-state","z":"52aab07a.c206e","name":"Shower Light Still On?","server":"d70513fd.32139","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.bathroom_shared_shower","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":620,"y":320,"wires":[["a6dee2222efd6116","e2fbe55a6160b965"],[]]},{"id":"ea27c4268dc3acbf","type":"stoptimer3","z":"52aab07a.c206e","duration":"30","durationType":"num","units":"Minute","payloadtype":"num","payloadval":"0","name":"30 mins","x":400,"y":200,"wires":[["22ae7bfd20b97e63"],[]]},{"id":"15dad6ccee99f126","type":"stoptimer3","z":"52aab07a.c206e","duration":"45","durationType":"num","units":"Minute","payloadtype":"num","payloadval":"0","name":"45 mins","x":380,"y":320,"wires":[["5af378e70d57d0c8"],[]]},{"id":"55dd272b.36b248","type":"comment","z":"482170a5.4c83a","name":"If Garage Door Open Popup Cameras and Announce","info":"","x":230,"y":60,"wires":[]},{"id":"815e03e3.49b09","type":"server-state-changed","z":"482170a5.4c83a","name":"","server":"d70513fd.32139","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"cover.castle_walk_left","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"open","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":180,"y":120,"wires":[["2e479df7.054092"],[]]},{"id":"e9739425.bc2518","type":"server-state-changed","z":"482170a5.4c83a","name":"","server":"d70513fd.32139","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"cover.castle_walk_center","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"open","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":190,"y":180,"wires":[["c300b987.ba61c8"],[]]},{"id":"b1913df4.2c29a","type":"server-state-changed","z":"482170a5.4c83a","name":"","server":"d70513fd.32139","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"cover.castle_walk_right","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"open","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":180,"y":240,"wires":[["78351b01.5e5614"],[]]},{"id":"6f9a479c.d28838","type":"throttle","z":"482170a5.4c83a","name":"Throttle 30s","throttleType":"time","timeLimit":"30","timeLimitType":"seconds","countLimit":0,"blockSize":0,"locked":false,"x":990,"y":180,"wires":[["916b81fc1a09765d"]]},{"id":"5df3916e.a9593","type":"comment","z":"482170a5.4c83a","name":"If Doorbell Rings or Detects Motion Popup Cameras","info":"","x":220,"y":320,"wires":[]},{"id":"f6a28bb7.8193d8","type":"server-state-changed","z":"482170a5.4c83a","name":"","server":"d70513fd.32139","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.front_door_ding","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":200,"y":380,"wires":[["28debd27.a58942"],[]]},{"id":"21832d3d.0b6a02","type":"server-state-changed","z":"482170a5.4c83a","name":"","server":"d70513fd.32139","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.front_door_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":210,"y":440,"wires":[["28debd27.a58942"],[]]},{"id":"28debd27.a58942","type":"throttle","z":"482170a5.4c83a","name":"Throttle 30s","throttleType":"time","timeLimit":"30","timeLimitType":"seconds","countLimit":0,"blockSize":0,"locked":false,"x":500,"y":400,"wires":[[]]},{"id":"ea27a6f7.c359e8","type":"subflow:604fe48d.66acdc","z":"482170a5.4c83a","name":"","env":[],"x":970,"y":400,"wires":[]},{"id":"e4ef4263.b055a","type":"comment","z":"482170a5.4c83a","name":"When nobody home, check....","info":"","x":150,"y":520,"wires":[]},{"id":"d56c9a6.964bb68","type":"api-call-service","z":"482170a5.4c83a","name":"Mobile Notification","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"notify","service":"family_all_mobile","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\":\"Nobody is Home\",\"message\":\"Check House Alarm - may not be Armed Away\",\"data\":{\"sticky\":\"true\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":540,"y":580,"wires":[[]]},{"id":"296bef52.f010b","type":"comment","z":"482170a5.4c83a","name":"When House Alarm is Armed Away","info":"","x":170,"y":660,"wires":[]},{"id":"b0c3d7aa.0532b8","type":"trigger-state","z":"482170a5.4c83a","name":"If Family Away & House Alarm not Armed Away","server":"d70513fd.32139","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"group.family","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"away","propertyValue":"new_state.state"},{"targetType":"entity_id","targetValue":"alarm_control_panel.amin_residence","propertyType":"current_state","comparatorType":"is_not","comparatorValueDatatype":"str","comparatorValue":"armed_away","propertyValue":"new_state.state"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":210,"y":580,"wires":[["d56c9a6.964bb68"],[]]},{"id":"9f8fd568.2030b8","type":"server-state-changed","z":"482170a5.4c83a","name":"If House Alarm Armed Away","server":"d70513fd.32139","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"alarm_control_panel.amin_residence","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"armed_away","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":720,"wires":[["d24c2fee.5e232","cc3e005.5a62a"],[]]},{"id":"d24c2fee.5e232","type":"alexa-remote-smarthome","z":"482170a5.4c83a","name":"Turn on Fake TV","account":"17362ae3.584025","config":{"option":"action","value":[{"entity":"2a30d354-8c00-4ee9-b13b-699ae735ed75","action":"turnOn"}]},"outputs":1,"x":430,"y":760,"wires":[[]]},{"id":"ea0aa341.86ced","type":"trigger-state","z":"482170a5.4c83a","name":"If House Alarm Disarmed after Away","server":"d70513fd.32139","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"alarm_control_panel.amin_residence","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"disarmed","propertyValue":"new_state.state"},{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"armed_away","propertyValue":"old_state.state"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":180,"y":880,"wires":[["e5c6ef45.364c5","a0850bfd.31ef08","3b87b2.c210f84e"],[]]},{"id":"6f49ca6f.c47624","type":"comment","z":"482170a5.4c83a","name":"When House Alarm is Disarmed (Returning Home)","info":"","x":220,"y":820,"wires":[]},{"id":"e5c6ef45.364c5","type":"alexa-remote-smarthome","z":"482170a5.4c83a","name":"Turn off Fake TV","account":"17362ae3.584025","config":{"option":"action","value":[{"entity":"2a30d354-8c00-4ee9-b13b-699ae735ed75","action":"turnOff"}]},"outputs":1,"x":520,"y":920,"wires":[[]]},{"id":"cc3e005.5a62a","type":"api-call-service","z":"482170a5.4c83a","name":"Mobile Notification","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"notify","service":"family_all_mobile","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\":\"House Alarmed Away\",\"message\":\"Fake TV Enabled\",\"data\":{\"sticky\":\"true\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":440,"y":700,"wires":[[]]},{"id":"61b641e4.3b777","type":"comment","z":"482170a5.4c83a","name":"Check to ensure alarm is activated at night","info":"","x":170,"y":1260,"wires":[]},{"id":"587e6778.41be98","type":"inject","z":"482170a5.4c83a","name":"Evening 9PM-12AM","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"*/15 21-23 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":1300,"wires":[["e3ba759a.3aa588"]]},{"id":"e3ba759a.3aa588","type":"api-current-state","z":"482170a5.4c83a","name":"Alarm Disarmed?","server":"d70513fd.32139","version":3,"outputs":2,"halt_if":"disarmed","halt_if_type":"str","halt_if_compare":"is","entity_id":"alarm_control_panel.amin_residence","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","x":340,"y":1300,"wires":[["408be34e.3f496c"],[]]},{"id":"408be34e.3f496c","type":"api-call-service","z":"482170a5.4c83a","name":"Alarm Mobile Notification & Prompt","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"notify","service":"family_all_mobile","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\":\"Alarm not Armed at Night\",\"message\":\"Activate Alarm?\",\"data\":{\"sticky\":\"true\",\"actions\":[{\"action\":\"ALARM_ARM_HOME\",\"title\":\"Arm Home\"}],\"push\":{\"sound\":{\"name\":\"default\",\"critical\":0,\"volume\":1}}}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":610,"y":1300,"wires":[[]]},{"id":"54d759fa.f17018","type":"api-current-state","z":"482170a5.4c83a","name":"Camera Notify Screen?","server":"d70513fd.32139","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.camera_notify_screen","state_type":"habool","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","x":720,"y":400,"wires":[[],[]]},{"id":"a0850bfd.31ef08","type":"api-call-service","z":"482170a5.4c83a","name":"Mobile Notification","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"notify","service":"family_all_mobile","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\":\"House Alarm Disarmed\",\"message\":\"Fake TV Disabled\",\"data\":{\"sticky\":\"true\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":530,"y":860,"wires":[[]]},{"id":"234c4d8c.d1a192","type":"comment","z":"482170a5.4c83a","name":"When House Alarm is Armed Home","info":"","x":170,"y":1000,"wires":[]},{"id":"92512c12.2bb03","type":"server-state-changed","z":"482170a5.4c83a","name":"If House Alarm Armed Home","server":"d70513fd.32139","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"alarm_control_panel.amin_residence","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"armed_home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"5","forType":"num","forUnits":"seconds","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":1040,"wires":[["d3ed453.5bd11b8"],[]]},{"id":"d3ed453.5bd11b8","type":"template","z":"482170a5.4c83a","name":"The house is now alarmed","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"The house is now alarmed","output":"str","x":430,"y":1040,"wires":[["fe2e7e7f6580b054"]]},{"id":"c9ceee1.6ece81","type":"comment","z":"482170a5.4c83a","name":"When House Alarm is Disarmed (after Arm Home)","info":"","x":190,"y":1120,"wires":[]},{"id":"4206aaa8.98a584","type":"template","z":"482170a5.4c83a","name":"The house alarm is now off","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"The house alarm is now off","output":"str","x":510,"y":1160,"wires":[["44b950d7993969bd"]]},{"id":"a7fad53b.3f7528","type":"trigger-state","z":"482170a5.4c83a","name":"If House Alarm Disarmed after Armed Home","server":"d70513fd.32139","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"alarm_control_panel.amin_residence","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"disarmed","propertyValue":"new_state.state"},{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"armed_home","propertyValue":"old_state.state"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":180,"y":1160,"wires":[["4206aaa8.98a584"],[]]},{"id":"e2f149d5.fef2b8","type":"bigtimer","z":"482170a5.4c83a","outtopic":"","outpayload1":"ON","outpayload2":"OFF","name":"Voice On Hours 0730-2030","comment":"","lat":"40.992380","lon":"-73.826390","starttime":"450","endtime":"1230","starttime2":0,"endtime2":0,"startoff":"0","endoff":"0","startoff2":0,"endoff2":0,"offs":0,"outtext1":"ON","outtext2":"OFF","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xday7":"","xmonth7":"","xday8":"","xmonth8":"","xday9":"","xmonth9":"","xday10":"","xmonth10":"","xday11":"","xmonth11":"","xday12":"","xmonth12":"","xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":true,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":290,"y":1480,"wires":[["77753fbc.fed0e"],[],[]]},{"id":"77753fbc.fed0e","type":"switch","z":"482170a5.4c83a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":1500,"wires":[["76e0e7c7.52d5f8","6af01e65.94d97","9a3ddc75.a0e38","93da0a14.1a9288"],["a7aa174c.d7f5a8","7a5ddcdd.accc14"]]},{"id":"76e0e7c7.52d5f8","type":"api-call-service","z":"482170a5.4c83a","name":"Notify Voice On","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.notify_voice"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":730,"y":1540,"wires":[[]]},{"id":"a7aa174c.d7f5a8","type":"api-call-service","z":"482170a5.4c83a","name":"Notify Voice Off","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.notify_voice"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":730,"y":1600,"wires":[[]]},{"id":"2c144ffb.919ba","type":"comment","z":"482170a5.4c83a","name":"Disable Voice Notifications at Night","info":"","x":150,"y":1400,"wires":[]},{"id":"92dfd433.30b2c8","type":"inject","z":"482170a5.4c83a","name":"on","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":80,"y":1460,"wires":[["e2f149d5.fef2b8"]]},{"id":"ca5002e9.6d3cc","type":"inject","z":"482170a5.4c83a","name":"off","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":80,"y":1520,"wires":[["e2f149d5.fef2b8"]]},{"id":"6af01e65.94d97","type":"api-call-service","z":"482170a5.4c83a","name":"Camera Notify Tablet On","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.camera_notify_tablet"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":750,"y":1360,"wires":[[]]},{"id":"9a3ddc75.a0e38","type":"api-call-service","z":"482170a5.4c83a","name":"Camera Notify Mobile On","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.camera_notify_mobile"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":750,"y":1420,"wires":[[]]},{"id":"ec7bacff.4c688","type":"server-state-changed","z":"482170a5.4c83a","name":"If Raining?","server":"d70513fd.32139","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.openweathermap_condition","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"sunny,cloudy,fog,partlycloudy","halt_if_type":"str","halt_if_compare":"does_not_include","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":80,"y":1640,"wires":[[],[]]},{"id":"103f6537.1fa4ab","type":"comment","z":"482170a5.4c83a","name":"Rain Test","info":"","x":90,"y":1600,"wires":[]},{"id":"9d9096ee.b5f748","type":"comment","z":"482170a5.4c83a","name":"When Sejal leaves work","info":"","x":180,"y":1900,"wires":[]},{"id":"f927388a.9fc3f8","type":"trigger-state","z":"482170a5.4c83a","name":"If Sejal Leaves Work","server":"d70513fd.32139","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"person.sejal_amin","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Rye Radiology"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Away"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":200,"y":1940,"wires":[["23b8fe93177158f8"],[]]},{"id":"e06b8a11.31f5f8","type":"comment","z":"482170a5.4c83a","name":"When Sejal arrives at work","info":"","x":190,"y":1780,"wires":[]},{"id":"541f6bff.44d384","type":"trigger-state","z":"482170a5.4c83a","name":"If Sejal Arrives at Work","server":"d70513fd.32139","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"person.sejal_amin","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Rye Radiology","propertyValue":"new_state.state"},{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Away","propertyValue":"old_state.state"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":200,"y":1820,"wires":[["fda4e85485489b98"],[]]},{"id":"93da0a14.1a9288","type":"api-call-service","z":"482170a5.4c83a","name":"Camera All Notifications On","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.camera_all_notifications"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":750,"y":1480,"wires":[[]]},{"id":"3b87b2.c210f84e","type":"template","z":"482170a5.4c83a","name":"Welcome home","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"Welcome home","output":"str","x":520,"y":980,"wires":[["9aa72f22e916a829"]]},{"id":"e60e146d.22a288","type":"subflow:f1b31fe9.eb62a","z":"482170a5.4c83a","name":"Voice Notification via Cloud Say","env":[],"x":1050,"y":980,"wires":[]},{"id":"f40a297d.bc9f28","type":"template","z":"482170a5.4c83a","name":"The left garage door has opened","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"The left garage door has opened","output":"str","x":680,"y":120,"wires":[["6f9a479c.d28838"]]},{"id":"2e479df7.054092","type":"delay","z":"482170a5.4c83a","name":"Wait 5s","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":440,"y":120,"wires":[["f40a297d.bc9f28"]]},{"id":"3721d511.caabea","type":"template","z":"482170a5.4c83a","name":"The middle garage door has opened","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"The middle garage door has opened","output":"str","x":710,"y":180,"wires":[["6f9a479c.d28838"]]},{"id":"c300b987.ba61c8","type":"delay","z":"482170a5.4c83a","name":"Wait 5s","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":460,"y":180,"wires":[["3721d511.caabea"]]},{"id":"bb8a3b6.efc36c8","type":"template","z":"482170a5.4c83a","name":"The right garage door has opened","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"The right garage door has opened","output":"str","x":680,"y":240,"wires":[["6f9a479c.d28838"]]},{"id":"78351b01.5e5614","type":"delay","z":"482170a5.4c83a","name":"Wait 5s","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":440,"y":240,"wires":[["bb8a3b6.efc36c8"]]},{"id":"7a5ddcdd.accc14","type":"api-call-service","z":"482170a5.4c83a","name":"Camera Notify Tablet Off","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.camera_notify_tablet"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":760,"y":1660,"wires":[[]]},{"id":"916b81fc1a09765d","type":"subflow:73910996.81aab8","z":"482170a5.4c83a","name":"Voice Notification via Alexa","env":[],"x":1220,"y":180,"wires":[]},{"id":"9aa72f22e916a829","type":"subflow:73910996.81aab8","z":"482170a5.4c83a","name":"Voice Notification via Alexa","env":[],"x":760,"y":980,"wires":[]},{"id":"fe2e7e7f6580b054","type":"subflow:73910996.81aab8","z":"482170a5.4c83a","name":"Voice Notification via Alexa","env":[],"x":720,"y":1040,"wires":[]},{"id":"44b950d7993969bd","type":"subflow:73910996.81aab8","z":"482170a5.4c83a","name":"Voice Notification via Alexa","env":[],"x":780,"y":1160,"wires":[]},{"id":"23b8fe93177158f8","type":"api-call-service","z":"482170a5.4c83a","name":"Mobile Notification","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_rma","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\":\"Home Assistant\",\"message\":\"Sejal has left work\",\"data\":{\"sticky\":\"true\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":450,"y":1940,"wires":[[]]},{"id":"fda4e85485489b98","type":"api-call-service","z":"482170a5.4c83a","name":"Mobile Notification","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_rma","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\":\"Home Assistant\",\"message\":\"Sejal has arrived at work\",\"data\":{\"sticky\":\"true\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":430,"y":1820,"wires":[[]]},{"id":"d448887cb7a00c4f","type":"comment","z":"482170a5.4c83a","name":"When Rishi leaves school","info":"","x":190,"y":2140,"wires":[]},{"id":"512e33e292042006","type":"trigger-state","z":"482170a5.4c83a","name":"If Rishi Leaves School","server":"d70513fd.32139","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"person.rishi_amin","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"EHS"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Away"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":200,"y":2180,"wires":[["7dad091cf412f4b2"],[]]},{"id":"7dad091cf412f4b2","type":"api-call-service","z":"482170a5.4c83a","name":"Mobile Notification","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_rma","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\":\"Home Assistant\",\"message\":\"Rishi has left school\",\"data\":{\"sticky\":\"true\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":430,"y":2180,"wires":[[]]},{"id":"a11570981922c48c","type":"comment","z":"482170a5.4c83a","name":"LOCATION ALERTS","info":"","x":110,"y":1740,"wires":[]},{"id":"c42030100aa4347a","type":"comment","z":"482170a5.4c83a","name":"When Rishi arrives at school","info":"","x":180,"y":2020,"wires":[]},{"id":"c98f9b4af6699730","type":"trigger-state","z":"482170a5.4c83a","name":"If Rishi Arrives at School","server":"d70513fd.32139","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"person.rishi_amin","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"EHS"},{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Away"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":190,"y":2060,"wires":[["2cc24db210e08a8a"],[]]},{"id":"2cc24db210e08a8a","type":"api-call-service","z":"482170a5.4c83a","name":"Mobile Notification","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_rma","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\":\"Home Assistant\",\"message\":\"Rishi has arrived at school\",\"data\":{\"sticky\":\"true\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":450,"y":2060,"wires":[[]]},{"id":"14526daaa0527266","type":"comment","z":"482170a5.4c83a","name":"When Rishi arrives home","info":"","x":190,"y":2240,"wires":[]},{"id":"dcb4f426ab18a05b","type":"trigger-state","z":"482170a5.4c83a","name":"If Rishi Arrives Home","server":"d70513fd.32139","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"person.rishi_amin","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Away"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Home"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":200,"y":2280,"wires":[["82a19607b1dd7132"],[]]},{"id":"82a19607b1dd7132","type":"api-call-service","z":"482170a5.4c83a","name":"Mobile Notification","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_rma","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\":\"Home Assistant\",\"message\":\"Rishi has arrived home\",\"data\":{\"sticky\":\"true\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":430,"y":2280,"wires":[[]]},{"id":"73ef6d71.52cb04","type":"comment","z":"d6fba4b7.17e0c8","name":"If Family Room TV is Turned Off, Turn Off Speakers","info":"","x":210,"y":40,"wires":[]},{"id":"18f21114.9d0b3f","type":"server-state-changed","z":"d6fba4b7.17e0c8","name":"Family Room TV Off?","server":"d70513fd.32139","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.family_room_tv","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":100,"wires":[["1e0fb1a8.febd2e"],[]]},{"id":"1e0fb1a8.febd2e","type":"api-current-state","z":"d6fba4b7.17e0c8","name":"Are Kitchen Speakers On?","server":"d70513fd.32139","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.monoprice_kitchen","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","x":380,"y":100,"wires":[["7797677f.368608","2423f9299b39797c"],[]]},{"id":"7797677f.368608","type":"api-call-service","z":"d6fba4b7.17e0c8","name":"Turn Off Kitchen Speakers","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"media_player","service":"turn_off","areaId":[],"deviceId":[],"entityId":["media_player.monoprice_kitchen"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":680,"y":80,"wires":[[]]},{"id":"ae3659623fbbe99e","type":"server-state-changed","z":"d6fba4b7.17e0c8","name":"Family Room TV On?","server":"d70513fd.32139","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.family_room_tv","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"playing","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":220,"wires":[["dba6d60a1a76f1b2"],[]]},{"id":"efc12c89e6c2b15b","type":"comment","z":"d6fba4b7.17e0c8","name":"If Family Room TV is Turned On, Turn On Kitchen Speakers","info":"","x":210,"y":180,"wires":[]},{"id":"dba6d60a1a76f1b2","type":"api-call-service","z":"d6fba4b7.17e0c8","name":"Turn On Kitchen Speakers","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"media_player","service":"turn_on","areaId":[],"deviceId":[],"entityId":["media_player.monoprice_kitchen"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":400,"y":220,"wires":[["3b454be166d8666a"]]},{"id":"3b454be166d8666a","type":"api-call-service","z":"d6fba4b7.17e0c8","name":"Set Speaker Volume and Source","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"media_player","service":"volume_set","areaId":[],"deviceId":[],"entityId":["media_player.monoprice_kitchen"],"data":"{\"state\":\"on\",\"volume_level\":\"0.40\",\"is_volume_muted\":\"false\",\"source\":\"TV Audio\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":690,"y":220,"wires":[[]]},{"id":"2423f9299b39797c","type":"api-call-service","z":"d6fba4b7.17e0c8","name":"Turn Off Family Room Speakers","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"media_player","service":"turn_off","areaId":[],"deviceId":[],"entityId":["media_player.denon_avr_s750h"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":690,"y":140,"wires":[[]]},{"id":"a826e055.63492","type":"server-events","z":"a78dc037.004f6","name":"","server":"d70513fd.32139","version":2,"eventType":"","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":80,"y":260,"wires":[["757b139034c45870"]]},{"id":"9ab83bc3.0c0638","type":"switch","z":"a78dc037.004f6","name":"Which iOS Notification?","property":"payload.event.categoryName","propertyType":"msg","rules":[{"t":"eq","v":"CAMERA_MOTION_SNOOZE","vt":"str"},{"t":"eq","v":"HOUSE_ALARM_ACTIVATE","vt":"str"},{"t":"eq","v":"KIDS_ROOM_LIGHTS","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":290,"y":260,"wires":[["3fc90169.a181ee"],["754d4c21.7a81a4"],["b3209f1a.47371"]]},{"id":"a2dc1d20.e2e39","type":"switch","z":"a78dc037.004f6","name":"Snooze Time","property":"payload.event.actionName","propertyType":"msg","rules":[{"t":"eq","v":"SNOOZE_15","vt":"str"},{"t":"eq","v":"SNOOZE_60","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":890,"y":260,"wires":[["6cea4377cdecad39"],["a39cdd0bd94b0936"]]},{"id":"f468c798.2591f8","type":"comment","z":"a78dc037.004f6","name":"Actionable Notifications for Camera Snooze","info":"","x":690,"y":100,"wires":[]},{"id":"6022bc6d.cc78a4","type":"api-call-service","z":"a78dc037.004f6","name":"All Camera Notifications Off","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.camera_all_notifications"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":660,"y":260,"wires":[["a2dc1d20.e2e39"]]},{"id":"4d7717b8.138448","type":"api-call-service","z":"a78dc037.004f6","name":"All Camera Notifications On","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.camera_all_notifications"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1320,"y":260,"wires":[[]]},{"id":"3fc90169.a181ee","type":"function","z":"a78dc037.004f6","name":"Filter For Camera Motion Snooze","func":"if ((msg.event_type == \"ios.notification_action_fired\") && (msg.payload.event.categoryName == \"CAMERA_MOTION_SNOOZE\") && (msg.payload.event.actionName.includes(\"SNOOZE\")))\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":160,"wires":[["6022bc6d.cc78a4"]]},{"id":"376258b7.aecb48","type":"comment","z":"a78dc037.004f6","name":"Actionable Notifications for Alarm","info":"","x":650,"y":340,"wires":[]},{"id":"754d4c21.7a81a4","type":"function","z":"a78dc037.004f6","name":"Filter for House Alarm Activate","func":"if ((msg.event_type == \"ios.notification_action_fired\") && (msg.payload.event.categoryName == \"HOUSE_ALARM_ACTIVATE\"))\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":380,"wires":[["7bb2af4c.e9552"]]},{"id":"7bb2af4c.e9552","type":"switch","z":"a78dc037.004f6","name":"Alarm Action?","property":"payload.event.actionName","propertyType":"msg","rules":[{"t":"eq","v":"ARM_HOME","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":920,"y":380,"wires":[["c25d4750.015ee8"]]},{"id":"c25d4750.015ee8","type":"api-call-service","z":"a78dc037.004f6","name":"Alarm Arm Home","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"alarm_control_panel","service":"alarm_arm_home","areaId":[],"deviceId":[],"entityId":["alarm_control_panel.amin_residence"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1150,"y":380,"wires":[[]]},{"id":"b3209f1a.47371","type":"function","z":"a78dc037.004f6","name":"Filter for Kids Room Lights","func":"if ((msg.event_type == \"ios.notification_action_fired\") && (msg.payload.event.categoryName == \"KIDS_ROOM_LIGHTS\"))\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":480,"wires":[["c349aaa9.7401b8"]]},{"id":"c349aaa9.7401b8","type":"switch","z":"a78dc037.004f6","name":"Kids Room Light Action?","property":"payload.event.actionName","propertyType":"msg","rules":[{"t":"eq","v":"TURN_OFF_LIGHTS","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":930,"y":480,"wires":[["d13c5bcf.a77be8"]]},{"id":"d13c5bcf.a77be8","type":"api-call-service","z":"a78dc037.004f6","name":"Turn Off Kids Room Lights","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.kids_room_lights"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1200,"y":480,"wires":[[]]},{"id":"19d0bcf5.2f94b3","type":"comment","z":"a78dc037.004f6","name":"Actionable Notifications for Kids Room Lights","info":"","x":690,"y":440,"wires":[]},{"id":"6cea4377cdecad39","type":"stoptimer3","z":"a78dc037.004f6","duration":"15","durationType":"num","units":"Minute","payloadtype":"num","payloadval":"0","name":"15 minutes","x":1070,"y":220,"wires":[["4d7717b8.138448"],[]]},{"id":"a39cdd0bd94b0936","type":"stoptimer3","z":"a78dc037.004f6","duration":"60","durationType":"num","units":"Minute","payloadtype":"num","payloadval":"0","name":"60 minutes","x":1070,"y":280,"wires":[["4d7717b8.138448"],[]]},{"id":"757b139034c45870","type":"switch","z":"a78dc037.004f6","name":"Filter for Notification Actions","property":"payload.event_type","propertyType":"msg","rules":[{"t":"eq","v":"mobile_app_notification_action","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":660,"wires":[["6039685bf886c605"]]},{"id":"6039685bf886c605","type":"switch","z":"a78dc037.004f6","name":"Which iOS Notification?","property":"payload.event.action","propertyType":"msg","rules":[{"t":"eq","v":"CAMERA_SNOOZE_15","vt":"str"},{"t":"eq","v":"CAMERA_SNOOZE_60","vt":"str"},{"t":"eq","v":"ALARM_ARM_HOME","vt":"str"},{"t":"eq","v":"KIDS_TURN_OFF_LIGHTS","vt":"str"},{"t":"eq","v":"OUTDOOR_GATES_SNOOZE_15","vt":"str"},{"t":"eq","v":"OUTDOOR_GATES_SNOOZE_60","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":570,"y":660,"wires":[["ed9206985eedebee"],["b5296fc6cf7d5906"],["dc4d423bd89f5064"],["0747995df5f1aa1b"],["4fcdfb86cbf0d942"],["faed3830924495e6"]]},{"id":"ed9206985eedebee","type":"api-call-service","z":"a78dc037.004f6","name":"All Camera Notifications Off","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.camera_all_notifications"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":960,"y":600,"wires":[["da53f7620f46d25b"]]},{"id":"da53f7620f46d25b","type":"stoptimer3","z":"a78dc037.004f6","duration":"15","durationType":"num","units":"Minute","payloadtype":"num","payloadval":"0","name":"15 minutes","x":1190,"y":600,"wires":[["6ffdc8df949e5c9d"],[]]},{"id":"6ffdc8df949e5c9d","type":"api-call-service","z":"a78dc037.004f6","name":"All Camera Notifications On","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.camera_all_notifications"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1420,"y":640,"wires":[[]]},{"id":"b5296fc6cf7d5906","type":"api-call-service","z":"a78dc037.004f6","name":"All Camera Notifications Off","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.camera_all_notifications"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":960,"y":660,"wires":[["17f366c3021a3068"]]},{"id":"17f366c3021a3068","type":"stoptimer3","z":"a78dc037.004f6","duration":"60","durationType":"num","units":"Minute","payloadtype":"num","payloadval":"0","name":"60 minutes","x":1190,"y":660,"wires":[["6ffdc8df949e5c9d"],[]]},{"id":"dc4d423bd89f5064","type":"api-call-service","z":"a78dc037.004f6","name":"Alarm Arm Home","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"alarm_control_panel","service":"alarm_arm_home","areaId":[],"deviceId":[],"entityId":["alarm_control_panel.amin_residence"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":930,"y":720,"wires":[[]]},{"id":"0747995df5f1aa1b","type":"api-call-service","z":"a78dc037.004f6","name":"Turn Off Kids Room Lights","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.kids_room_lights"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":960,"y":760,"wires":[[]]},{"id":"4fcdfb86cbf0d942","type":"api-call-service","z":"a78dc037.004f6","name":"Outdoor Gates Notifications Off","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.notify_outdoor_gates"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":970,"y":820,"wires":[["18ab378e36a2f0fa"]]},{"id":"faed3830924495e6","type":"api-call-service","z":"a78dc037.004f6","name":"Outdoor Gates Notifications Off","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.notify_outdoor_gates"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":970,"y":860,"wires":[["37fd6fef75d9601e"]]},{"id":"18ab378e36a2f0fa","type":"stoptimer3","z":"a78dc037.004f6","duration":"15","durationType":"num","units":"Minute","payloadtype":"num","payloadval":"0","name":"15 minutes","x":1210,"y":820,"wires":[["72a59a86c4eca794"],[]]},{"id":"37fd6fef75d9601e","type":"stoptimer3","z":"a78dc037.004f6","duration":"60","durationType":"num","units":"Minute","payloadtype":"num","payloadval":"0","name":"60 minutes","x":1210,"y":860,"wires":[["72a59a86c4eca794"],[]]},{"id":"72a59a86c4eca794","type":"api-call-service","z":"a78dc037.004f6","name":"Outdoor Gates Notifications On","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.notify_outdoor_gates"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1450,"y":840,"wires":[[]]},{"id":"cc337c3f.7e522","type":"comment","z":"fb29d64d.c2e7f8","name":"Dinner Announcement","info":"","x":130,"y":60,"wires":[]},{"id":"564d354f.4c0c3c","type":"template","z":"fb29d64d.c2e7f8","name":"Hello kids, it is now time for dinner. ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"Hello kids, it is now time for dinner.","output":"str","x":600,"y":120,"wires":[["a016486daa3fa07b"]]},{"id":"4c8ada8.2211f24","type":"comment","z":"fb29d64d.c2e7f8","name":"Breakfast Announcement","info":"","x":130,"y":260,"wires":[]},{"id":"353ec872.d67d28","type":"template","z":"fb29d64d.c2e7f8","name":"Hello kids, it is now time for breakfast","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"Hello kids, it is now time for breakfast","output":"str","x":630,"y":320,"wires":[["bf1ab7bf58f58b71"]]},{"id":"a016486daa3fa07b","type":"subflow:73910996.81aab8","z":"fb29d64d.c2e7f8","name":"Voice Notification via Alexa","env":[],"x":920,"y":120,"wires":[]},{"id":"65899358a26e14f5","type":"trigger-state","z":"fb29d64d.c2e7f8","name":"","server":"d70513fd.32139","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_button.dinner_announcement","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":220,"y":120,"wires":[["564d354f.4c0c3c"],[]]},{"id":"a1420d5285afe52d","type":"trigger-state","z":"fb29d64d.c2e7f8","name":"","server":"d70513fd.32139","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_button.breakfast_announcement","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":230,"y":320,"wires":[["353ec872.d67d28"],[]]},{"id":"bf1ab7bf58f58b71","type":"subflow:73910996.81aab8","z":"fb29d64d.c2e7f8","name":"Voice Notification via Alexa","env":[],"x":940,"y":320,"wires":[]},{"id":"83f57da62786954c","type":"comment","z":"fb29d64d.c2e7f8","name":"Lunch Announcement","info":"","x":120,"y":420,"wires":[]},{"id":"c85392bc2d2e5d18","type":"trigger-state","z":"fb29d64d.c2e7f8","name":"","server":"d70513fd.32139","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_button.lunch_announcement","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":220,"y":480,"wires":[["d7a4851c37b8aaf5"],[]]},{"id":"d7a4851c37b8aaf5","type":"template","z":"fb29d64d.c2e7f8","name":"Hello kids, it is now time for lunch","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"Hello kids, it is now time for lunch","output":"str","x":620,"y":480,"wires":[["16a660c51a3c498d"]]},{"id":"16a660c51a3c498d","type":"subflow:73910996.81aab8","z":"fb29d64d.c2e7f8","name":"Voice Notification via Alexa","env":[],"x":940,"y":480,"wires":[]},{"id":"3253759e232c9fb8","type":"api-call-service","z":"a1d20ea40720ef95","name":"Camera Mobile Notification RMA","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_rma","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":680,"y":200,"wires":[[]]},{"id":"26621ee33880ac03","type":"comment","z":"a1d20ea40720ef95","name":"Mobile Notifications","info":"","x":90,"y":60,"wires":[]},{"id":"f34d63a9f79628d1","type":"function","z":"a1d20ea40720ef95","name":"mobile payload (critical)","func":"msg.payload =\n{\n    \"data\": {\n        \"message\": \"Home Assistant\",\n        \"title\": \"Disarm Alarm\",\n        \"data\": {\n            \"actions\": [\n                {\n                    \"action\": \"DISARM\",\n                    \"title\": \"Silence Alarm\",\n                    \"icon\": \"sfsymbols:bell.slash\"\n                },\n                {\n                    \"action\": \"WOOF\",\n                    \"title\": \"Release the hounds\",\n                    \"icon\": \"sfsymbols:flame\"\n                },\n            ],\n            \"push\": {\n                \"sound\": {\n                    \"name\": \"default\",\n                    \"critical\": 1,\n                    \"volume\": 1\n                }\n            }\n        }\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":120,"wires":[[]]},{"id":"039e4a3bd2aefd8a","type":"inject","z":"a1d20ea40720ef95","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":120,"wires":[["2e5cc94a26f160c2"]]},{"id":"2e5cc94a26f160c2","type":"function","z":"a1d20ea40720ef95","name":"mobile payload (not critical)","func":"msg.payload =\n{\n    \"data\": {\n        \"title\": \"Home Assistant\",\n        \"message\": \"This is a test message\",\n        \"data\": {\n            \"url\": \"/lovelace/surveillance\",\n            \"sticky\":\"true\",\n            \"actions\": [\n                {\n                    \"action\": \"CAMERA_SNOOZE_15\",\n                    \"title\": \"Snooze for 15 mins\",\n                    \"icon\": \"sfsymbols:bell.slash.fill\"\n                },\n                {\n                    \"action\": \"CAMERA_SNOOZE_60\",\n                    \"title\": \"Snooze for 60 mins\",\n                    \"icon\": \"sfsymbols:bell.slash.fill\"\n                },\n            ],\n            \"push\": {\n                \"sound\": {\n                    \"name\": \"default\",\n                    \"critical\": 0,\n                    \"volume\": 1\n                }\n            }\n        }\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":180,"wires":[["3253759e232c9fb8","d42428dd22f67e94"]]},{"id":"bb077ab186092180","type":"function","z":"a1d20ea40720ef95","name":"Format notification (new)","func":"var ha_external_url = \"https://l9dyykj1mtwn6g3v9u41o0a1u29cuypl.ui.nabu.casa\";\n//msg.event_id = msg.payload.after.id;\nmsg.event_id = \"1678823054.720113-b1hc52\";\n//msg.payload.after.camera = \"frigate_driveway\";\nvar camera = \"frigate_driveway\";\n\nmsg.clip = ha_external_url + \"/api/frigate/notifications/\" + msg.event_id + \"/\" + camera + \"/clip.mp4\";\nmsg.thumbnail = ha_external_url + \"/api/frigate/notifications/\" + msg.event_id + \"/thumbnail.jpg?format=ios\";\n//msg.topic = msg.payload.after.camera + \"-\" + msg.payload.after.label;\n//msg.relativetime = msg.relativetime || \"7 minutes\";\n\nswitch (camera) {\n    case ('frigate_driveway'):\n        msg.verb = \"in\";\n        msg.location = 'driveway';\n        break;\n    case ('frigate_front_door'):\n        msg.verb = \"at\";\n        msg.location = \"front door\";\n        break;\n    case ('frigate_back_path'):\n        msg.verb = \"near\";\n        msg.location = \"back path\";\n        break;\n    case ('frigate_back_patio'):\n        msg.verb = \"on\";\n        msg.location = \"back patio\";\n        break;\n    case ('frigate_pool'):\n        msg.verb = \"near\";\n        msg.location = \"pool\";\n        break;\n    case ('frigate_deck'):\n        msg.verb = \"on\";\n        msg.location = \"deck\";\n        break;\n    case ('frigate_family_room'):\n        msg.verb = \"in\";\n        msg.location = \"family room\";\n        break;\n    case ('frigate_basement'):\n        msg.verb = \"in\";\n        msg.location = \"basement\";\n        break;\n    default:\n        msg.verb = \"in\";\n        msg.location = \"default\";\n}\n\n\nmsg.message = \"This is a test\";\n\nmsg.payload = \n{\n    'data': \n    {\n        'title': \"Home Assistant\",\n        'message': msg.message,\n        'data':\n        {\n            \"url\": ha_external_url + \"/lovelace/surveillance\",\n            \"sticky\": \"true\",\n            \"image\": msg.thumbnail,\n            \"actions\": [\n                {\n                    \"action\": 'URI',\n                    \"title\": \"View Image\",\n                    \"uri\": msg.thumbnail,\n                },\n                {\n                    \"action\": 'URI',\n                    \"title\": \"View Clip\",\n                    \"uri\": msg.clip,\n                },\n                {\n                    \"action\": \"CAMERA_SNOOZE_15\",\n                    \"title\": \"Snooze for 15 mins\",\n                    \"icon\": \"sfsymbols:bell.slash.fill\"\n                },\n                {\n                    \"action\": \"CAMERA_SNOOZE_60\",\n                    \"title\": \"Snooze for 60 mins\",\n                    \"icon\": \"sfsymbols:bell.slash.fill\"\n                },\n            ],\n            \"push\": {\n                \"sound\": {\n                    \"name\": \"default\",\n                    \"critical\": 0,\n                    \"volume\": 1\n                }\n            }\n        }\n    } \n};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":300,"wires":[["3253759e232c9fb8","eea1aaf8c18b354d"]]},{"id":"3ec2ef2469802aa2","type":"inject","z":"a1d20ea40720ef95","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":300,"wires":[["bb077ab186092180"]]},{"id":"d42428dd22f67e94","type":"debug","z":"a1d20ea40720ef95","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":540,"y":140,"wires":[]},{"id":"eea1aaf8c18b354d","type":"debug","z":"a1d20ea40720ef95","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":540,"y":320,"wires":[]},{"id":"f371e164af4aefd1","type":"api-call-service","z":"a1d20ea40720ef95","name":"","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"camera","service":"play_stream","areaId":[],"deviceId":[],"entityId":[],"data":"{\"entity_id\":\"camera.driveway\",\"media_player\":\"media_player.master_bedroom_tv_cast\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":300,"y":440,"wires":[[]]},{"id":"a53585fbc0d2b215","type":"inject","z":"a1d20ea40720ef95","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":440,"wires":[["f371e164af4aefd1"]]},{"id":"5dca6e1e467cb185","type":"api-call-service","z":"a1d20ea40720ef95","name":"Stream Front Door Camera to Master Bedroom TV","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"camera","service":"play_stream","areaId":[],"deviceId":[],"entityId":[],"data":"{\"entity_id\":\"camera.front_door\",\"media_player\":\"media_player.master_bedroom_tv_cast\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":410,"y":520,"wires":[[]]},{"id":"cb5f269d3b6d8ce4","type":"inject","z":"a1d20ea40720ef95","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":520,"wires":[["5dca6e1e467cb185"]]},{"id":"de6b9b49849b9591","type":"api-call-service","z":"a1d20ea40720ef95","name":"","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"media_player","service":"turn_on","areaId":[],"deviceId":[],"entityId":["media_player.master_bedroom_tv"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":320,"y":600,"wires":[[]]},{"id":"84a57d8c794c2b20","type":"inject","z":"a1d20ea40720ef95","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":600,"wires":[["de6b9b49849b9591"]]},{"id":"0475ac96bc857d70","type":"api-call-service","z":"a1d20ea40720ef95","name":"Mobile Notification Test RMA","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_rma","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\":\"Home Assistant\",\"message\":\"This is a test\",\"data\":{\"sticky\":\"true\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":340,"y":680,"wires":[[]]},{"id":"b164ef8e8e71c6ed","type":"inject","z":"a1d20ea40720ef95","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":680,"wires":[["0475ac96bc857d70"]]},{"id":"bf703f0f79137d2e","type":"api-call-service","z":"a1d20ea40720ef95","name":"Mobile Notification Test SPA","server":"d70513fd.32139","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_spa","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\":\"Home Assistant\",\"message\":\"This is a test\",\"data\":{\"sticky\":\"true\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":340,"y":740,"wires":[[]]},{"id":"b8262a238fe86569","type":"inject","z":"a1d20ea40720ef95","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":740,"wires":[["bf703f0f79137d2e"]]}]